﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Configuration.DashboardConfigurationShareViewModel
 <!-- ko stopBinding: true -->
<div id="configuration-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="k-edit-label"><label>Type</label></div>
                <div class="k-edit-field" data-container-for="TypeName">
                    <span class="k-checkbox">
                        <input id="TypeName" maxlength="50" class="k-textbox" value="@Model.TypeName" readonly="readonly" type="text">
                    </span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.WorkcompTextArea("Name", "Name", "Name", false, true)
            </td>
            
        </tr>
        <tr>
                @{
                    if (Model.IsHtml ?? false)
                    {
                        @Html.WorkcompEditor("Value", "Value", "Value", true, 200, 400)
                    }
                    else
                    {
                        <td colspan="2">
                            @Html.WorkcompTextArea("Value", "Value", "Value", true)
                        </td>
                    }
                }
        </tr>
        <tr>
            <td>
                @Html.WorkcompCheckBox("Configurable", "Configurable", "Configurable", false)
            </td>
            <td>
                @Html.WorkcompCheckBox("IsHtml", "Is Html", "IsHtml", false)
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function ConfigurationShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.TypeId = ko.observable(@Model.TypeId);
        self.Name = ko.observable(@Html.Raw(Json.Encode(Model.Name)));
        self.Value = ko.observable(@Html.Raw(Json.Encode(Model.Value)));
        self.Configurable = ko.observable(@Html.Raw(Json.Encode(Model.Configurable ?? false)));
        self.IsHtml = ko.observable(@Html.Raw(Json.Encode(Model.IsHtml ?? false)));
       
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new ConfigurationShareViewModel();
    ko.applyBindings(sharedViewModel, $("#configuration-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }
    $(document).ready(function () {
        var editor = $("#Value").data("kendoEditor");
        editor.bind("change", function () {
            sharedViewModel.Value(this.value());
            
        });

        editor.bind("keyup", function() {
            EnableCreateFooterButton(true);
        });

    });
</script>
