﻿@model WorkComp.Models.Configuration.DashboardConfigurationDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="configuration-form">
    <div id="configuration-update" style="width:100%;float: left;">
        @Html.Partial("~/Views/Configuration/_Shared.cshtml",Model.SharedViewModel)        
    </div>
</form>

@section FooterActions
{
    @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}


<script type="text/javascript">

    function ConfigurationViewModel() {
        var self = this;
     
        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: Base64.encode(ko.toJSON(GetSharedViewModel()))
                 };

            $('form').Save("/Configuration/Update", saveData,
                function (result) {
                    self.ModelState(new FeedbackViewModel('Success', '@Model.UpdateSuccessText', "", []));
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, false, 'Configuration', '@Model.SharedViewModel.ShowPopupType');
        }, self, Postbox.FOOTER_ACTION_SAVE);
        
        Postbox.messages.subscribe(function () {
            $('form').Close(1);
        }, self, Postbox.FOOTER_ACTION_CLOSE);
    }
  
    ko.applyBindings(new ConfigurationViewModel(), $("#configuration-update")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
</script>
