﻿@model WorkComp.Models.Export.ExportExcel
@{
    var gridConfig = Model.GridConfigViewModel;
    var listDataSource = Model.ListDataSource;
    var listColumn = new List<string>();
        
    <table style="border: 5px;">
        <thead>
            <tr>
                @foreach (var column in gridConfig.ViewColumns.Where(o=>o.HideColumn == false).OrderBy(o=>o.ColumnOrder))
                {
                    if (column.ColumnOrder == 0 || string.IsNullOrEmpty(column.Name))
                    {
                        continue;
                    }
                    if (!string.IsNullOrEmpty(column.Name))
                    {
                        listColumn.Add(column.Name);
                    }
                    <th style="width: @(column.ColumnWidth.ToString() + "px")">@column.Text</th>
                }
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in listDataSource)
            {
                <tr>
                    @foreach (var cn in listColumn)
                    {
                        var val = item[cn];
                        <td>@val</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}