﻿@model WorkComp.Models.DualSelectListBox.DualSelectTreeViewViewModel
<script src="~/Scripts/ViewModels/TreeViewModel.js" type="text/javascript"> </script>
<script src="~/Scripts/ViewModels/DualSelectListBox/DualSelectTreeViewModel.js" type="text/javascript"> </script>


<div id="tree-container-@Model.ControlId" class="dual-select-tree-container">
    <div id="tree-@Model.ControlId" style="height:100%; width: 99.25%; overflow-y: scroll; border: solid 1px #dadada;min-height:300px;" >
    </div>
</div>


<script id="treeview-template" type="text/kendo-ui-template">         
            # 
                var displayName;
                if(item.ParentDisplayName!=null&&item.ParentDisplayName!="")
                {
                    displayName=item.ParentDisplayName
                }
                else
                {
                    displayName=item.ChildDisplayName
                }
            #
            #= displayName #
</script>


<script>
    function GetTreeViewControl() {
        return $("#tree-" + "@Model.ControlId").data("kendoTreeView");
    }
    var dualSelectTreeViewModel = new DualSelectTreeViewModel("@Model.ControlId", "@Model.ModelName", "@Model.TreeViewUrl", $('#treeview-template').html());
    
</script>
