﻿@model WorkComp.Models.DualSelectListBox.DualSelectTreeViewViewModel
<script src="~/Scripts/ViewModels/DualSelectTreeView/DualSelectItemViewModel.js" type="text/javascript"> </script>
<!-- ko stopBinding: true -->
    <div id="availableSelectedGrid-@Model.ControlId"  class="left-dual-select-list-box-grid">
        <div id="grid-container-selected-@Model.ControlId"   style="height:100%; width: 99.25%; overflow-y: visible; border: solid 1px #dadada;min-height:300px;margin-top: 3px;">
        </div>
    </div>
 
<!-- /ko -->

<script>


    var dualSelectedGrid = new DualSelectItemViewModel('@Model.ControlId', "@Model.SelectedUrl", 'Code');
   
    // This allows us to have nested bindings.

    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;


    $(document).ready(function () {
        $("#availableSelectedGrid-@Model.ControlId .k-grid .k-grid-header").hide();
    });

</script>
