﻿@model WorkComp.Models.Date.DatePickerViewModel
<div class="k-edit-label">
    <label for="@Model.Label">@if (Model.RequiredAttribute == "required=\"required\"")
                              {
                                  <span class='red'>*</span>
                              }@Model.Label</label>
</div>
<div class="k-edit-field @(Model.ReadOnly==true?"readonly":"")" data-container-for="@Model.Label">
    <input id="@Model.ID" type="text"  class="@Model.Class" @Model.RequiredAttribute
           data-bind="value: @Model.DataBindingValue" />
</div>
<script>
    $(document).ready(function () {
        var id = '@Model.ID';
        var format = '@Model.Format';
        var idValControl = '#' + id;
        var firstDate = null;
        $(idValControl).kendoDatePicker({
            format: format,
            change: !@(Model.IsSetEmpty.ToString().ToLower())? function () {
                if (this.value() == null) {
                    this.value(firstDate);
                } else {
                    firstDate = this.value();
                }
            }: null,
            close: function() {

            },
            open: function() {
                firstDate = this.value();
            }
        });
        var kendoDate = $(idValControl).data('kendoDatePicker');
        kendoDate.readonly(@Model.ReadOnly.ToString().ToLower());
        firstDate = kendoDate.value();
    });
</script>
