﻿@model WorkComp.Attributes.WorkcompHandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    
        <style type="text/css">
            body {
                font-family: "Segoe UI Light", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
                margin: 20px;
            }

            h3 {
                color: #00B0F0;
                font-size: 1.4em;
                margin: 10px 0 0 0;
            }
        </style>
    </head>
    <body style="padding: 0; margin: 0; width: 100%; height: 100%; background: url('/Content/images/error/bg_error.png') repeat; text-align: center;">
        <img src="@Url.Content("~/Content/images/error/error_unknown.png")" alt="" />
        @*<h3 style="text-transform: uppercase">An error occurred whilst processing your request</h3>
        <small>Advantage @Model.AdvantageVersion - @DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString()<br />
            <hr />
            <b>User:</b> @Model.ClaimUserName <br />
            <b>Machine Name:</b> @Environment.MachineName <br />
            <b>Operating System Version:</b> @Environment.OSVersion <br />
            <hr />

            @if (Model != null)
            {
                <p class="text-error">@Html.Raw(Model.ErrorMessage.Replace(Environment.NewLine, @"<br/>"))</p>
            }
        </small>*@
         @if (Model != null)
            {
                <small><p class="text-error">Error: @Html.Raw(Model.ErrorMessage.Replace(Environment.NewLine, @"<br/>"))</p></small>
            }
    </body>
</html>
