﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTTP404</title>
</head>
<body style="padding: 0; margin: 0; width: 100%; height: 100%; background: url('/Content/images/error/bg_error.png') repeat; text-align: center;">
   
    <img src="@Url.Content("~/Content/images/error/error_404.png")" alt="" />
</body>
</html>
