﻿@model Framework.DomainModel.ValueObject.LookupItemVo
@using WorkComp.HtmlHelpers
<!--filter-->
 <!-- ko stopBinding: true -->
<div id="filter-sysrx-report" class="filter">
    <table style="width: 100%; margin-top: -4px; ">
        <tbody>
            <tr>
                <td style="text-align: right;">Payer:</td>
                <td>
                    @Html.PayerLookup("Payer", "Payer", new { data_bind = "value: PayerId"}, false, "", "", 0, Model)
                </td>
                <td style="text-align: right;">From:</td>
                <td>
                    <input class="ov-control-kendo" id="txt-date-from" @*value="@(DateTime.Now.Month + "/1/" + DateTime.Now.Year)"*@ data-bind="value: DateFrom" />
                </td>
                <td style="text-align: right;">To:</td>
                <td>
                    <input class="ov-control-kendo" id="txt-date-to" @*value="@(DateTime.Now.ToString("MM/dd/yyyy"))"*@ data-bind="value: DateTo" />
                </td>
                <td style="width:75px;">
                    <button class="ov-control-kendo k-button" data-bind="click: ClickSubmit"><span class="k-icon k-i-tick"></span>Submit</button>
                </td>
                <td style="width: 65px;">
                    <button class="ov-control-kendo k-button" data-bind="click: ClickClear"><span class="k-icon k-i-cancel"></span>Clear</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /ko -->
<!--end filter-->

<script type="text/javascript">

    function SysRxReportViewModel(elementList) {
        var self = this;
        self.ElementListReport = $(elementList);
        self.PayerId = ko.observable(@Model.KeyId);
        self.PayerName = ko.observable('@Model.DisplayName');
        self.DateFrom = ko.observable('@(DateTime.Now.Month + "/1/"+ DateTime.Now.Year) 12:00 AM');
        self.DateTo = ko.observable('@DateTime.Now.ToString("MM/dd/yyyy") 11:59 PM');

        self.ReportType = ko.observable(1);

        self.ClickClear = function() {
            if (!_.isUndefined(toolReportViewModel) && toolReportViewModel != null) {
                toolReportViewModel.VisibleReportTool(false);
            }
        };
        self.ClickSubmit = function () {
            //Implement Show report
            if (!_.isUndefined(toolReportViewModel) && toolReportViewModel != null) {
                toolReportViewModel.VisibleReportTool(true);
                toolReportViewModel.TotalRowInRequest(0);
                var models = {
                    ReportType: self.ReportType(),
                    ExportType: 1,
                    PayerId: parseInt(self.PayerId()),
                    PayerName: self.PayerName(),
                    DateFrom: self.DateFrom(),
                    DateTo: self.DateTo(),
                    CurrentPage: toolReportViewModel.NumberPage(),
                    PageSize: toolReportViewModel.TotalRow(),
                };
                getReport(models);
            }

            //Postbox.messages.notifySubscribers(totalPages, Postbox.SYSRX_REPORT_UPDATE_DATA);
        };

        function getReport(models) {
            CreateLoading();
            $.ajax({
                cache: false,
                url: "/SysRxReport/GetReport",
                type: "POST",
                data: JSON.stringify(models),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (response) {
                    switch (models.ExportType) {
                        case 1:
                            var html = "";
                            html += "<div class='content-page portrait'>";
                            html += response.content;
                            html += "</div>";
                            $(".wrapper .main .right .report").html(html);
                            if (!_.isUndefined(toolReportViewModel) && toolReportViewModel != null) {
                                toolReportViewModel.TotalRowInRequest(response.totalRow);
                            }
                            break;
                        case 2:
                            var options = { mode: 'popup', popClose: false, extraCss: 'true', retainAttr: 'class,id,style,on', extraHead: '', popTitle: 'SysRx' };
                            var print = ".wrapper .main .right .report .content .content-page";
                            $(print).printArea(options, response.content);
                            break;
                        case 3:
                            ShowPopup(1000, 500, "Sys Report", '/FileUpload/ResultPdf/' + response.fileName);
                            filePdf = response.fileName;
                            break;
                        case 4:
                            var filename = response.fileName;
                            var excelData = 'data:application/vnd.ms-excel;charset=utf-8,' + encodeURIComponent(response.content);
                            $(item)
                                .attr({
                                    'download': filename,
                                    'href': excelData,
                                    'target': '_blank'
                                });
                            break;
                        default:
                    }

                },
                error: function (request, status, error) {
                    DeleteLoading();
                }
            }).done(function () {
                DeleteLoading();
            });
        }
    }

    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sysRxReportViewModel = new SysRxReportViewModel('#list-sysrx-report');
    ko.applyBindings(sysRxReportViewModel, $("#filter-sysrx-report")[0]);
    
    $(document).ready(function () {

        $('#lookup-container-Payer').children('div.k-edit-label').remove();
        $('#lookup-container-Payer').children('div.k-edit-field').css('width', '100%');
        $('#lookup-container-Payer').children('div.k-edit-field').css('margin-top', '4px');

        function startChange() {
            var startDate = start.value(),
            endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }
        var today = kendo.date.today();
        var datefrom = new Date(today.getFullYear(), today.getMonth(), 1, 0, 0, 0);
        var dateto = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 23, 59, 59);

        var start = $("#txt-date-from").kendoDateTimePicker({
            value: datefrom,
            change: startChange,
            parseFormats: ["MM/dd/yyyy"]
        }).data("kendoDateTimePicker");

        var end = $("#txt-date-to").kendoDateTimePicker({
            value: dateto,
            change: endChange,
            parseFormats: ["MM/dd/yyyy"]
        }).data("kendoDateTimePicker");

        start.max(end.value());
        end.min(start.value());
    });
</script>