﻿<!-- ko stopBinding: true -->
<div id="sysrx-report-tool" data-bind="visible: VisibleReportTool">
    <ul id="tool">
        <li class="page">
            <input id="total-row" type="number" data-bind="value: TotalRow, event: { keypress: ChangeTotalRow }" min="0" max="1000" step="10" style="width: 65px;" />
            row/page
        </li>
        <li>
            <a href="javascript:void(0);" title="First"><span class="fa fa-angle-double-left"></span></a>
        </li>
        <li>
            <a href="javascript:void(0);" title="Previous"><span class="fa fa-angle-left"></span></a>
        </li>
        <li class="page">
            Page <input id="number-page" data-bind="value: NumberPage" style="width: 65px" /> of <span data-bind="text: NumberOfPage"></span>
        </li>
        <li>
            <a href="javascript:void(0);" title="Next"><span class="fa fa-angle-right"></span></a>
        </li>
        <li>
            <a href="javascript:void(0);" title="Last"><span class="fa fa-angle-double-right"></span></a>
        </li>
        <li><a href="javascript:void(0);" title="Print"><span class="fa fa-print"></span></a></li>
        <li><a href="javascript:void(0);" title="Save"><span class="fa fa-floppy-o"></span></a></li>
        <li class="page">
            <input id="sysrx-report-type" data-bind="value: ExportType" style="width: 65px" />
        </li>
        <li><a href="javascript:void(0);" title="Zoom in"><span class="fa fa-search-plus"></span></a></li>
        <li><a href="javascript:void(0);" title="Zoom out"><span class="fa fa-search-minus"></span></a></li>
    </ul>
    <div style="float: right; line-height: 30px">
        <span>Total: <span data-bind="text: TotalRowInRequest"></span> referral(s)</span>
    </div>

</div>
<!-- /ko -->



<script type="text/javascript">
    function ToolReportViewModel(elementTool, elementDdlNumberOfPage, elementDdlReportType) {
        var self = this;
        self.KendoDdlNumberOfPage = $(elementDdlNumberOfPage);
        self.KendoDdlReportType = $(elementDdlReportType);
        self.ElementTool = $(elementTool);
        self.TotalRow = ko.observable(50);
        self.NumberOfPage = ko.observable(1);
        self.NumberPage = ko.observable(1);
        self.NumberPage.subscribe(function(val) {
            if (!_.isUndefined(sysRxReportViewModel) && sysRxReportViewModel != null) {
                sysRxReportViewModel.ClickSubmit();
            }
        });
        self.ChangeTotalRow = function (data, event) {
            if (event.which == 13) {
                if (!_.isUndefined(sysRxReportViewModel) && sysRxReportViewModel != null) {
                    self.NumberPage(1);
                    sysRxReportViewModel.ClickSubmit();
                }
            }
            return true;
        };
        self.TotalRowInRequest = ko.observable(0);
        self.TotalRowInRequest.subscribe(function (val) {
            var datas = [];
            if (val != 0) {
                //Set dataSource Paging
               self.NumberOfPage(parseInt(val / self.TotalRow()) + (val % self.TotalRow() != 0 ? 1 : 0));
                
                for (var i = 0; i < self.NumberOfPage(); i++) {
                    datas.push({ Number: i + 1, Page: i + 1 + "" });
                }
            } else {
                datas.push({ Number: 1, Page: "1" });
            }
            var dataSource = new kendo.data.DataSource({
                data: datas
            });
            //console.log(self.KendoDdlNumberOfPage);
            self.KendoDdlNumberOfPage.data('kendoDropDownList').setDataSource(dataSource);
        });
        
        self.ExportType = ko.observable(3);
        self.ExportType.subscribe(function (val) {
        });
        self.VisibleReportTool = ko.observable(false);
        self.Init = function (totalRow) {
            var numberOfPage = totalRow / 50 + (totalRow % 50 > 0 ? 1 : 0);
            self.TotalRow(50);
            self.ReportType(3);
            self.NumberPage(1);
            self.NumberOfPage(numberOfPage);
        };

        
    }


    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var toolReportViewModel = new ToolReportViewModel('#tool', '#number-page', '#sysrx-report-type');
    ko.applyBindings(toolReportViewModel, $("#sysrx-report-tool")[0]);
    $(document).ready(function() {
        $('#total-row').kendoNumericTextBox({
            format: "#"
        });
        $('#number-page').kendoDropDownList({
            dataTextField: "Page",
            dataValueField: "Number",
            dataSource: {
                data: [{ Number: 1, Page: "1" }, { Number: 2, Page: "2" }, { Number: 3, Page: "3" }, { Number: 0, Page: "All" }]
            }
        });

        $('#sysrx-report-type').kendoDropDownList({
            dataTextField: "ExportType",
            dataValueField: "ExportTypeId",
            dataSource: {
                data: [{ ExportTypeId: 3, ExportType: "Pdf" }, { ExportTypeId: 4, ExportType: "Excel" }]
            }
        });
    });
</script>