﻿@using System.Globalization
@model WorkComp.Models.SysRxReport.DashboardCancellationDetailViewModel
@{
    var common = Model.CommonSysRxReportViewModel;
    var _model = Model.CancellationDetailViewModels;
}
@if (_model.Any())
{
    <table>
        <tr>
            <td colspan="9"><img src="https://sysrx.sterlinghealthcaresvcs.com/Content/images/logo.png" alt="Sterling"/></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9" align="center"><h2>CANCELLATION DETAIL</h2></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td>Payer(s): </td>
            <td colspan="2"><b>@HttpUtility.HtmlDecode(common.PayerName)</b></td>
            <td colspan="6"></td>
        </tr>
        @*<tr>
            <td>Address:  </td>
            <td colspan="2"><b>@HttpUtility.HtmlDecode(Model.FirstOrDefault().PayerAddress)</b></td>
            <td colspan="6"></td>
        </tr>*@
        <tr>
            <td>Date range: </td>
            <td align="left" colspan="2"><b>@common.DateFrom.ToString("MM/dd/yyyy") - @common.DateTo.ToString("MM/dd/yyyy")</b></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>Report date: </td>
            <td align="left" colspan="2"><b>@DateTime.Now.ToString("MM/dd/yyyy")</b></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
    </table>
    <table class='table' cellpadding="0" cellspacing="0" style="border-top: 1px solid #dcdcdc;border-left: 1px solid #dcdcdc;width: 3150px;">
        <thead>
            
            <tr style="background: #eaeaea;">
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Claim Number</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Referral Id</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Claimant First Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Claimant last name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Adjuster Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Referral Source</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Employer Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Employer Location</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Jurisdiction</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Injury Date</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Date Request Received</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Product</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Panel Requested</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Request reason</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Criteria</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician Npi</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician Address</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician City</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician State</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician Zip</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician Phone</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Cancel Date</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Cancel Reason</th>
            </tr>
        </thead>
        <tbody>
            @{
                int? idReferralOld = null;
                foreach (var row in _model)
                {
                    if (row.ReferralId != idReferralOld)
                    {
                        idReferralOld = row.ReferralId;
                        <tr>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.ClaimNumber</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.ReferralId</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantFirstName)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantLastName)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.AdjusterName)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.ReferralSourceName)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerName)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerAddress)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.Jurisdiction</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@row.Doi</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@Html.Raw(row.DateRequestReceived)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@Html.Raw(row.Product)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@Html.Raw(row.PanelRequested)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.RequestReason)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(!string.IsNullOrEmpty(row.Criteria) ? HttpUtility.HtmlDecode(row.Criteria).Replace("’", "'") : "")</td>
                            
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianNpi)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianName)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianAddress)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianCity)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianState)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianZip)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianPhone)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@HttpUtility.HtmlDecode(row.CancelDate)</td>
                            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(!string.IsNullOrEmpty(row.CancelReason) ? HttpUtility.HtmlDecode(row.CancelReason).Replace("’", "'") : "")</td>
                        </tr>
                    }
                @*
                    if (row.IdClaimNumber == idClaimNumberOld)
                    {
                        <tr>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.IdReferral</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantFirstName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantLastName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.AdjusterName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ReferralSourceName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerAddress)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.Jurisdiction</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.DOI</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.DateRequestReceived)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.Product)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.PanelRequested)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.RequestReason)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@(!string.IsNullOrEmpty(row.Criteria)?HttpUtility.HtmlDecode(row.Criteria).Replace("’","'"):"")</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.CancelDate)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@(!string.IsNullOrEmpty(row.CancelReason)?HttpUtility.HtmlDecode(row.CancelReason).Replace("’","'"):"")</td>
                        </tr>
                    }
                    else
                    {
                        idClaimNumberOld = row.IdClaimNumber;
                        var list = Model.Where(o => o.IdClaimNumber == idClaimNumberOld);
                        int rowspan = list.Count();
                        <tr>
                            <td rowspan="@rowspan" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.ClaimNumber</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.IdReferral</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantFirstName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantLastName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.AdjusterName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ReferralSourceName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerAddress)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.Jurisdiction</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.DOI</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.DateRequestReceived)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.Product)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.PanelRequested)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.RequestReason)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@(!string.IsNullOrEmpty(row.Criteria)?HttpUtility.HtmlDecode(row.Criteria).Replace("’","'"):"")</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysicianName)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.CancelDate)</td>
                            <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@(!string.IsNullOrEmpty(row.CancelReason)?HttpUtility.HtmlDecode(row.CancelReason).Replace("’","'"):"")</td>
                        </tr>
                    }*@
                    
                }
            }
        </tbody>
    </table>
}
else
{
<p>No data</p>
}