﻿@using System.Globalization
@model WorkComp.Models.SysRxReport.DashboardTestResultSummaryViewModel
@{
    var common = Model.CommonSysRxReportViewModel;
    var _model = Model.TestResultSummaryViewModels.FirstOrDefault();
}

<table>
    <tr>
        <td colspan="9">
            <img src="https://sysrx.sterlinghealthcaresvcs.com/Content/images/logo.png" alt="Sterling" />
        </td>
    </tr>
    <tr>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="9" align="center">
            <h2>TEST RESULTS SUMMARY</h2>
        </td>
    </tr>
    <tr>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td>Payer(s): </td>
        <td colspan="2"><b>@HttpUtility.HtmlDecode(@common.PayerName)</b></td>
        <td colspan="6"></td>
    </tr>
    @* <tr>
            <td>Address:  </td>
            <td colspan="2"><b>@HttpUtility.HtmlDecode(_model.PayerAddress)</b></td>
            <td colspan="6"></td>
        </tr>*@
    <tr>
        <td>Date range: </td>
        <td align="left" colspan="2"><b>@common.DateFrom.ToString("MM/dd/yyyy") - @common.DateTo.ToString("MM/dd/yyyy")</b></td>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td>Report date: </td>
        <td align="left" colspan="2"><b>@DateTime.Now.ToString("MM/dd/yyyy")</b></td>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td colspan="9"></td>
    </tr>
    <tr>
        <td colspan="9"></td>
    </tr>
</table>
<table class='table' cellpadding="0" cellspacing="0" style="width: 1700px; border: none;">
    <thead>
        <tr style="">
            <th style="background: #20b2aa;border: 1px solid #dcdcdc; padding: 5px;" colspan="3">Testing Analysis</th>
            <th style="background: #20b2aa;border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="6">INCONSISTENT results analysis</th>

        </tr>
        <tr style="background: #eaeaea;">
            <th style="border: 1px solid #dcdcdc; padding: 5px;" colspan="3">Completed Tests</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">% Reported Prescription Med not detected</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">% Non Reported Prescription Meds Detected</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">% with Alcohol present</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">% with Illicit Drugs Present</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">% with invalid sample</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">% No Medication History Provided</th>
        </tr>
        <tr style="background: #eaeaea;">
            <th style="border: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Total</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;"></th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;"></th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;"></th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;"></th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;"></th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentCompletedTests)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentCompletedTests)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.TotalCompletedTests)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.ReportedPrescriptionMedNotDetected.ToString().IndexOf('.') >= 0 ? _model.ReportedPrescriptionMedNotDetected.ToString() : _model.ReportedPrescriptionMedNotDetected.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.NonReportedPrescriptionMedsDetected.ToString().IndexOf('.') >= 0 ? _model.NonReportedPrescriptionMedsDetected.ToString() : _model.NonReportedPrescriptionMedsDetected.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.WithAlcoholPresent.ToString().IndexOf('.') >= 0 ? _model.WithAlcoholPresent.ToString() : _model.WithAlcoholPresent.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.WithIllicitDrugsPresent.ToString().IndexOf('.') >= 0 ? _model.WithIllicitDrugsPresent.ToString() : _model.WithIllicitDrugsPresent.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.WithInvalidSample.ToString().IndexOf('.') >= 0 ? _model.WithInvalidSample.ToString() : _model.WithInvalidSample.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.NoMedicationHistoryProvided.ToString().IndexOf('.') >= 0 ? _model.NoMedicationHistoryProvided.ToString() : _model.NoMedicationHistoryProvided.ToString() + ".0")%</td>
        </tr>
    </tbody>
</table>
<table class='table' cellpadding="0" cellspacing="0" style="width: 1700px; border: none;margin-top: 20px;">
    <thead>
        <tr style="">
            <th style="background: #f4a460;border: 1px solid #dcdcdc; padding: 5px;" colspan="10">Injury Date Analysis</th>

        </tr>
        <tr style="background: #eaeaea;">
            <th style="border: 1px solid #dcdcdc; padding: 5px;" colspan="2">% Tests Overall</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px; padding: 5px;" colspan="2">% Tests - DOI < 3 months</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px; padding: 5px;" colspan="2">% Tests - DOI >=3 months and < 6 months</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">% Tests - DOI >=6 months and < 12 months</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">% Tests - DOI >=12 months</th>
            @*<th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Avg tests per claimant - DOI >=12 mo</th>*@

        </tr>
        <tr style="background: #eaeaea;">
            <th style="border: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>
            @*<th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Consistent</th>
                <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;">Inconsistent</th>*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentResultsRatio.ToString().IndexOf('.') >= 0 ? _model.ConsistentResultsRatio.ToString() : _model.ConsistentResultsRatio.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentResultsRatio.ToString().IndexOf('.') >= 0 ? _model.InConsistentResultsRatio.ToString() : _model.InConsistentResultsRatio.ToString() + ".0")%</td>
            @*<td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentTestsPerClaimantForTimePeriod.ToString().IndexOf('.')>=0?_model.ConsistentTestsPerClaimantForTimePeriod.ToString():_model.ConsistentTestsPerClaimantForTimePeriod.ToString()+".0")</td>
                <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentTestsPerClaimantForTimePeriod.ToString().IndexOf('.')>=0?_model.InConsistentTestsPerClaimantForTimePeriod.ToString():_model.InConsistentTestsPerClaimantForTimePeriod.ToString()+".0")</td>*@
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentTestsPerClaimantDoiSmall3Month.ToString().IndexOf('.') >= 0 ? _model.ConsistentTestsPerClaimantDoiSmall3Month.ToString() : _model.ConsistentTestsPerClaimantDoiSmall3Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentTestsPerClaimantDoiSmall3Month.ToString().IndexOf('.') >= 0 ? _model.InConsistentTestsPerClaimantDoiSmall3Month.ToString() : _model.InConsistentTestsPerClaimantDoiSmall3Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentTestsPerClaimantDoiLarge3MonthAndSmall6Month.ToString().IndexOf('.') >= 0 ? _model.ConsistentTestsPerClaimantDoiLarge3MonthAndSmall6Month.ToString() : _model.ConsistentTestsPerClaimantDoiLarge3MonthAndSmall6Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentTestsPerClaimantDoiLarge3MonthAndSmall6Month.ToString().IndexOf('.') >= 0 ? _model.InConsistentTestsPerClaimantDoiLarge3MonthAndSmall6Month.ToString() : _model.InConsistentTestsPerClaimantDoiLarge3MonthAndSmall6Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentTestsPerClaimantDoiLarge6MonthAndSmall12Month.ToString().IndexOf('.') >= 0 ? _model.ConsistentTestsPerClaimantDoiLarge6MonthAndSmall12Month.ToString() : _model.ConsistentTestsPerClaimantDoiLarge6MonthAndSmall12Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentTestsPerClaimantDoiLarge6MonthAndSmall12Month.ToString().IndexOf('.') >= 0 ? _model.InConsistentTestsPerClaimantDoiLarge6MonthAndSmall12Month.ToString() : _model.InConsistentTestsPerClaimantDoiLarge6MonthAndSmall12Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.ConsistentTestsPerClaimantDoiLarge12Month.ToString().IndexOf('.') >= 0 ? _model.ConsistentTestsPerClaimantDoiLarge12Month.ToString() : _model.ConsistentTestsPerClaimantDoiLarge12Month.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;">@(_model.InConsistentTestsPerClaimantDoiLarge12Month.ToString().IndexOf('.') >= 0 ? _model.InConsistentTestsPerClaimantDoiLarge12Month.ToString() : _model.InConsistentTestsPerClaimantDoiLarge12Month.ToString() + ".0")%</td>
        </tr>
    </tbody>
</table>
<table class='table' cellpadding="0" cellspacing="0" style="width: 1700px; border: none;margin-top: 20px;">
    <thead>
        <tr style="">
            <th style="background: #ff6347;border: 1px solid #dcdcdc; padding: 5px;" colspan="16">Sample Type Analysis</th>

        </tr>
        <tr style="background: #eaeaea;">
            <th style="border: 1px solid #dcdcdc; padding: 5px;" colspan="4">Urine</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="4">Oral fluids</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="4">Blood</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="4">Hair</th>
        </tr>
        <tr style="background: #eaeaea;">
            <th style="border: 1px solid #dcdcdc; padding: 5px;" colspan="2">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Inconsistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Consistent</th>
            <th style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; padding: 5px;" colspan="2">Inconsistent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumConsistentUrine)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.ConsistentUrine.ToString().IndexOf('.') >= 0 ? _model.ConsistentUrine.ToString() : _model.ConsistentUrine.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumInConsistentUrine)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.InConsistentUrine.ToString().IndexOf('.') >= 0 ? _model.InConsistentUrine.ToString() : _model.InConsistentUrine.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumConsistentOral)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.ConsistentOral.ToString().IndexOf('.') >= 0 ? _model.ConsistentOral.ToString() : _model.ConsistentOral.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumInConsistentOral)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.InConsistentOral.ToString().IndexOf('.') >= 0 ? _model.InConsistentOral.ToString() : _model.InConsistentOral.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumConsistentBlood)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.ConsistentBlood.ToString().IndexOf('.') >= 0 ? _model.ConsistentBlood.ToString() : _model.ConsistentBlood.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumInConsistentBlood)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.InConsistentBlood.ToString().IndexOf('.') >= 0 ? _model.InConsistentBlood.ToString() : _model.InConsistentBlood.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumConsistentHair)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.ConsistentHair.ToString().IndexOf('.') >= 0 ? _model.ConsistentHair.ToString() : _model.ConsistentHair.ToString() + ".0")%</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.NumInConsistentHair)</td>
            <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 5px;width: 6.2%;">@(_model.InConsistentHair.ToString().IndexOf('.') >= 0 ? _model.InConsistentHair.ToString() : _model.InConsistentHair.ToString() + ".0")%</td>
        </tr>
    </tbody>
</table>