﻿@using System.Globalization
@model WorkComp.Models.SysRxReport.DashboardUtilizationByInjuredWorkerViewModel
@{
    var common = Model.CommonSysRxReportViewModel;
    var datas = Model.UtilizationByInjuredWorkerViewModels;
}


@if (common.HasReport)
{
    <table>
        <tr>
            <td colspan="9"><img src="@common.UrlLogo" alt="Sterling"/></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9" align="center"><h2>@common.Title</h2></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td>Payer(s): </td>
            <td colspan="2"><b>@common.PayerName</b></td>
            <td colspan="6"></td>
        </tr>
        @*<tr>
            <td>Address:  </td>
            <td colspan="2"><b>@HttpUtility.HtmlDecode(Model.FirstOrDefault().PayerAddress)</b></td>
            <td colspan="6"></td>
        </tr>*@
        <tr>
            <td>Date range: </td>
            <td align="left" colspan="2"><b>@common.DateFrom.ToString("MM/dd/yyyy") - @common.DateTo.ToString("MM/dd/yyyy")</b></td>
            
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>Report date: </td>
            <td align="left" colspan="2"><b>@common.CurentDateReport.ToString("MM/dd/yyyy")</b></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
    </table>
    <table class='table' cellpadding="0" cellspacing="0" style="border-top: 1px solid #dcdcdc;border-left: 1px solid #dcdcdc;width: 3150px;">
        <thead>
            
            <tr style="background: #eaeaea;">
                <th colspan="16" rowspan="2" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;"></th>
                <th colspan="9" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Result Details of Most Recent Test</th>
            </tr>
            <tr style="background: #eaeaea;">
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Test Results</th>
                <th colspan="2" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Reported Prescription Med</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Non Reported Prescription Meds</th>
                <th colspan="3" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Aberrant Results</th>
                <th width="180px" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">No Medication History Provided</th>
                <th width="180px" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Recommended Testing</th>
            </tr>

            <tr style="background: #eaeaea;">
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Payer</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Claim Number</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Claimant First Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Claimant last name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Adjuster Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Referral Source</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Employer Name</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Employer Location</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Jurisdiction</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Injury Date</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">ICD9/10</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Treating Physician</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Last Completed Test Date</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Total Tests Completed During Reporting Timeframe</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">% Consistent Results</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">% Inconsistent Results</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;"></th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Detected</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Not Detected</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Detected</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Alcohol Detected</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Illicits Detected</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">Invalid Sample</th>
                <th style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;"></th>
                <th width="180px" style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;"></th>
            </tr>
        </thead>
        <tbody>
            @{
                
                foreach (var row in datas)
                {
                    <tr>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.PayerName)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.ClaimNumber</td>
                        <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantFirstName)</td>
                        <td style="border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ClaimantLastName)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.AdjusterName)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.ReferralSourceName)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerName)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.EmployerLocation)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.Jurisdiction</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.InjuryDate</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@Html.Raw(row.Icd910)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@HttpUtility.HtmlDecode(row.TreatingPhysician)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.LastCompletedTestDate</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@(row.TotalTestsCompletedDuringReportingTimeframe)</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@((row.TotalConsistent * 100).ToString("F1", CultureInfo.InvariantCulture)) %</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@((row.TotalInConsistent * 100).ToString("F1", CultureInfo.InvariantCulture)) %</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.TestResult</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.ReportedDetected</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.ReportedNotDetected</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.NotReportedDetected</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.AlcoholDetected</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.IllicitsDetected</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.InvalidSample</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.NoMedication</td>
                        <td style="border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;padding: 5px;">@row.TestingSchedule</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
<p>No data</p>
}