﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.EmailTemplate.DashboardEmailTemplateShareViewModel
 <!-- ko stopBinding: true -->
<div id="emailtemplate-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Title", "Title", "Title", true)
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.WorkcompTextArea("Subject", "Subject", "Subject", true)
            </td>
        </tr>
        <tr>
            @Html.WorkcompEditor("Content", "Content", "Content",false, 426, 500)
        </tr>
        <tr>
            <td>@Html.WorkcompCheckBox("IsService", "Is Service", "IsService")</td>
            <td></td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function EmailTemplateShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.Title = ko.observable(@Html.Raw(Json.Encode(@Model.Title)));
        self.Subject = ko.observable(@Html.Raw(Json.Encode(@Model.Subject)));
        self.Content = ko.observable(@Html.Raw(Json.Encode(@Model.Content)));
        self.IsService = ko.observable(@Model.IsService.ToString().ToLower());
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new EmailTemplateShareViewModel();
    ko.applyBindings(sharedViewModel, $("#emailtemplate-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }
    $(document).ready(function () {
        var editor = $("#Content").data("kendoEditor");
        editor.bind("change", function () {
            sharedViewModel.Content(this.value());
            EnableCreateFooterButton(true);
        });

    });
</script>
