﻿@model WorkComp.Models.EmailTemplate.DashboardEmailTemplateIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script id="activeFieldTemplate" type="text/x-kendo-template">    
    <a onclick="ActiveEmailTemplate(this);" style='width:85px;' class="k-button k-button-icontext" href="javascript:void(0);"><span #if(IsActive){# data-icon="d" #}else{#data-icon="c"#}#></span> ${Active}</a>
</script>

@Html.Partial("~/Views/Shared/Grid/_ReadOnlyGrid.cshtml", @Model.GridViewModel)

<script type="text/javascript">

   

    function ActiveEmailTemplate(itemRow) {
        var activeText = '@Model.ActiveText';
        var inactiveText = '@Model.InactiveText';
        var messager = $(itemRow).val() == "Active" ? activeText : inactiveText;
        if (confirm(messager)) {
            var gridId = '#@Model.GridViewModel.GridId';
            // Call ajax to active item
            var item = $(gridId).data("kendoGrid").dataItem($(itemRow).closest("tr"));
            var idItem = item.Id;
            var activeUrl = "/EmailTemplate/ActiveUser";
            var models = {
                id: idItem
            };
            var request = $.ajax({ cache: false, async: false, url: activeUrl, type: "POST", data: models, dataType: "json" });
            request.done(function (result) {
                if (result.Error === undefined || result.Error === '') {
                    // refresh grid
                    Postbox.messages.notifySubscribers(null, Postbox.REFRESH_READONLY_GRID);
                } else {
                    //Show error with error in result
                    var error = new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors);
                    Postbox.messages.notifySubscribers(error, Postbox.VALIDATION_MODEL_STATE);
                }
            });
        }
    }
</script>
