﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.TaskGroup.DashboardTaskGroupShareViewModel
<!-- ko stopBinding: true -->
<div id="taskGroup-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td style="width: 50%">
                @Html.WorkcompTextBox("Name", "Name", "Name", true, 200)
            </td>
            <td>
                @Html.WorkcompCheckBox("IsDefault","Default","IsDefault")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.GenericDualListBox("TaskTemplate", @Model.Id, "GetAllTaskTemplateForDualListBox","GetTaskTemplateByTaskGroup", "TaskGroupId", "Task list")
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function TaskGroupShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.Name = ko.observable(@Html.Raw(Json.Encode(@Model.Name)));
        self.IsDefault = ko.observable(@Model.IsDefault.ToString().ToLower());
        self.TaskTemplateIds = ko.observable([]);
        // ComboBoxDisplayName use to show display name in combobox when user modify data from combobox
        self.ComboBoxDisplayName = ko.computed(function () {
            return this.Name();
        }, self);
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new TaskGroupShareViewModel();
    ko.applyBindings(sharedViewModel, $("#taskGroup-edit-share")[0]);

    function GetSharedViewModel() {
        sharedViewModel.TaskTemplateIds($('[name="duallistbox_entity"]').val());
        return sharedViewModel;
    }

</script>
