﻿@model WorkComp.Models.Lookup.DropdownListViewModel
@Html.Hidden(Model.ID, "", Model.HtmlAttributes)
<!-- ko stopBinding: true -->
<div id="dropdown-container-@Model.ID">
    <div class="k-edit-label">
        <label for="@Model.Label">@if (Model.RequiredAttribute == "required=\"required\"")
                              {
                                  <span class='red'>*</span>
                              }@Model.Label</label>
    </div>
    <div class="k-edit-field" data-container-for="@Model.Label">
        <span class="k-dropdown" @Model.RequiredAttribute style="@Model.StyleAttribute" >
            <input id="dropdown-@Model.ID"/>
        </span>
    </div>
</div>
<!-- /ko -->
<script>
    $(document).ready(function() {
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
        ko.applyBindings(new DropdownListViewModel('@Model.ID','@Model.ModelName','@Model.UrlToReadData','@Model.CurrentId'), $("#dropdown-container-@Model.ID")[0]);
    });
   
</script>
