﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.LookupViewModel
<div id="lookup-container-@Model.ID">
    <div class="k-edit-label">
        <label>@if (Model.HtmlAttributes.ContainsKey("required") == true)
                              {
                                  <span class='red'>*</span>
                              }@Model.Label</label>
    </div>
    <div class="k-edit-field">
        <span class="k-select k-textbox k-space-right">
            @Html.InputWithAttributes(Model.ID, Model.HtmlAttributes)
             <!-- ko stopBinding: true -->
            <div id="divAddEditLookup-@Model.ID">
                <span class="k-icon k-i-plus" data-bind="click: ShowPopupCreate" title="Create" id="icon-plus-@Model.ID"></span>
                <span class="k-icon k-i-pencil hide" data-bind="click: ShowPopupUpdate" title="Update" id="icon-pencil-@Model.ID"></span>
            </div>
            <!-- /ko -->
        </span>
    </div>
</div>
<script>
    var lookup_@Model.ID = new LookupViewModel("@Model.ID", "@Model.ModelName",'@Model.HierarchyGroupName','@Model.UrlToReadData',false,false,@Model.HeightLookup);
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(lookup_@(Model.ID),$("#divAddEditLookup-@(Model.ID)")[0]);
    $(document).ready(function() {           
        var container_@Model.ID = $("#@Model.ID");
        eval(lookup_@Model.ID).Lookup(container_@Model.ID,{ dataSource: @Html.Raw(Json.Encode(Model.DataSource))});    
            
        Postbox.messages.subscribe(function (newvalue) { 
            var combo =  $("#@Model.ID").data("kendoComboBox");
                combo.enable(newvalue);
            }, eval(lookup_@Model.ID), '@Model.ID' + "_Enable");
            
    });
   
</script>
