﻿@using Framework.DomainModel.ValueObject
@using WorkComp.HtmlHelpers
@using WorkComp.Models
@{
    var itemModel = new ReferralSearchViewModel();
    if (Session["ReferralSearchViewModel"] != null)
    {
        itemModel = Session["ReferralSearchViewModel"] as ReferralSearchViewModel;
        if (itemModel == null)
        {
            itemModel = new ReferralSearchViewModel();
        }
    }
    
}
<!-- ko stopBinding: true -->
<div id="claim-search" style="display: none">
    <button class="k-button" id="btn-search-claim" data-bind="click: ShowSearchOption"><span class="k-icon k-i-search"></span>Search</button>
    <div class="tab content-claim-search" id="content-claim-search" data-bind="visible: ShowContent" style="z-index: 9999; position: absolute; width: 500px;">
        <ul>
            <li class="k-state-active">Referral/Claim search
            </li>
            <li>Business search
            </li>
            <li>Physicians search
            </li>
        </ul>
        <div>
            <div class="weather">
                <div class="tab">
                    <ul>
                        <li style="width: 24.5%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;" class="k-state-active">Referral
                        </li>
                        <li style="width: 24.5%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Claim
                        </li>
                    </ul>
                    <div>
                        <h3>Referral Search Criteria</h3>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    @Html.WorkcompTextBox("ReferralClaimantName", "Claimant", "ReferralClaimantName")
                                </td>
                                <td width="50%">
                                    @Html.WorkcompTextBox("ReferralClaimantSsn", "SSN", "ReferralClaimantSsn")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("ReferralClaimantDob", "DOB", "ReferralClaimantDob", "MM/dd/yyyy")
                                </td>
                                <td>
                                    @Html.WorkcompDatePicker("ReferralClaimantDoi", "DOI", "ReferralClaimantDoi", "MM/dd/yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompTextBox("ReferralClaimNumber", "Claim#", "ReferralClaimNumber")
                                </td>
                                <td>
                                    @Html.WorkcompTextBox("ReferralPayerName", "Payer", "ReferralPayerName")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.InputPositiveNumeric("ReferralId", "Referral Id", "ReferralId")
                                </td>
                                <td>
                                    @Html.WorkcompTextBox("ControlNumber", "Control No", "ControlNumber")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompTextBox("ProductType", "Product Type", "ProductType")
                                </td>
                                <td>
                                    @Html.WorkcompTextBox("AdjusterName", "Adjuster", "AdjusterName")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompTextBox("CreatedBy", "Created By", "CreatedBy")
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="right" colspan="2">
                                    <button class="k-button" data-bind="click:SearchReferralClaimant">Search</button>
                                    <button class="k-button" data-bind="click:ClearReferralClaim">Clear</button>
                                    <button class="k-button" data-bind="click:CancelReferralClaim">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h3>Claim Search Criteria</h3>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    @Html.WorkcompTextBox("ClaimantName", "Claimant", "ClaimantName")
                                </td>
                                <td width="50%">
                                    @Html.WorkcompTextBox("ClaimantSsn", "SSN", "ClaimantSsn")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("ClaimantDob", "DOB", "ClaimantDob", "MM/dd/yyyy")
                                </td>
                                <td>
                                    @Html.WorkcompDatePicker("ClaimantDoi", "DOI", "ClaimantDoi", "MM/dd/yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompTextBox("ClaimNumber", "Claim#", "ClaimNumber")
                                </td>
                                <td>
                                    @Html.WorkcompTextBox("PayerName", "Payer", "PayerName")
                                </td>
                            </tr>
                            <tr>
                                <td align="right" colspan="2">
                                    <button class="k-button" data-bind="click:SearchClaimant">Search</button>
                                    <button class="k-button" data-bind="click:ClearClaimant">Clear</button>
                                    <button class="k-button" data-bind="click:CancelClaimant">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div>
            <div class="weather">
                <div class="tab">
                    <ul>
                        <li style="width: 24.5%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;" class="k-state-active">Referral
                        </li>
                        <li style="width: 24.5%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Pharmcogenetic
                        </li>
                        <li style="width: 24.5%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Next office visit
                        </li>
                        <li style="width: 24.5%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">Test result
                        </li>
                    </ul>
                    <div>
                        <h3>Referral Report</h3>
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="k-edit-label">Status</div>
                                    <div class="k-edit-field">
                                        <label>
                                            <input id="IsCompletedReferral" type="checkbox" class="k-checkbox"
                                                data-bind="checked: IsCompletedReferral" />Completed</label>
                                        <label>
                                            <input id="IsOpenReferral" type="checkbox" class="k-checkbox"
                                                data-bind="checked: IsOpenReferral" />Open</label>
                                        <label>
                                            <input id="IsCancelReferral" type="checkbox" class="k-checkbox"
                                                data-bind="checked: IsCancelReferral" />Cancel</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("StartCreatedReferral", "Start Created Date", "StartCreatedReferral", "MM/dd/yyyy")
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("EndCreatedReferral", "End Created Date", "EndCreatedReferral", "MM/dd/yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <button class="k-button" data-bind="click:SearchReferral">Search</button>
                                    <button class="k-button" data-bind="click:ClearReferral">Clear</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h3>Pharmcogenetic Testing Report</h3>
                        <table width="100%">
                            <tr>
                                <td align="right">
                                    <button class="k-button" data-bind="click:SearchPharmcogenetic">Search</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h3>Next office visit Report</h3>
                        <table width="100%">

                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("StartNovDateReferral", "Start Created Date", "StartNovDateReferral", "MM/dd/yyyy")
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("EndNovDateReferral", "End Created Date", "EndNovDateReferral", "MM/dd/yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <button class="k-button" data-bind="click:SearchNov">Search</button>
                                    <button class="k-button" data-bind="click:ClearNov">Clear</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <h3>Test result Report</h3>
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="k-edit-label">Result</div>
                                    <div class="k-edit-field">
                                        <select multiple="multiple" class="selectmultibox" data-bind="options: AvailableTestResultSearchCondition, selectedOptions: SelectedTestResultSearchCondition">
                                        </select>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("StartTestResultReferral", "Start Test Date", "StartTestResultReferral", "MM/dd/yyyy")
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    @Html.WorkcompDatePicker("EndTestResultReferral", "End Test Date", "EndTestResultReferral", "MM/dd/yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <button class="k-button" data-bind="click:SearchTestResult">Search</button>
                                    <button class="k-button" data-bind="click:ClearTestResult">Clear</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Physician Search Criteria</h3>
            <table width="100%">

                <tr>
                    <td>
                        @Html.WorkcompDatePicker("StartDatePhysicianReferral", "Start Date", "StartDatePhysicianReferral", "MM/dd/yyyy")
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.WorkcompDatePicker("EndDatePhysicianReferral", "End Date", "EndDatePhysicianReferral", "MM/dd/yyyy")
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <button class="k-button" data-bind="click:SearchPhysicianReferral">Search</button>
                        <button class="k-button" data-bind="click:ClearPhysicianReferral">Clear</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- /ko -->
<script>

    function ReferralSearchViewModel() {
        var self = this;
        self.ClaimantName = ko.observable(@Html.Raw(Json.Encode(@itemModel.ClaimantName)));
        self.ClaimantSsn = ko.observable(@Html.Raw(Json.Encode(@itemModel.ClaimantSsn)));
        self.ClaimNumber = ko.observable(@Html.Raw(Json.Encode(@itemModel.ClaimNumber)));
        self.PayerName = ko.observable(@Html.Raw(Json.Encode(@itemModel.PayerName)));

        self.ReferralClaimantName = ko.observable(@Html.Raw(Json.Encode(@itemModel.ReferralClaimantName)));
        self.ReferralClaimantSsn = ko.observable(@Html.Raw(Json.Encode(@itemModel.ReferralClaimantSsn)));
        self.ReferralClaimNumber = ko.observable(@Html.Raw(Json.Encode(@itemModel.ReferralClaimNumber)));
        self.ReferralPayerName = ko.observable(@Html.Raw(Json.Encode(@itemModel.ReferralPayerName)));
        self.ReferralClaimantDob = ko.observable(@Html.Raw(Json.Encode(@itemModel.ReferralClaimantDob == null ? "" : itemModel.ReferralClaimantDob.Value.ToString("MM/dd/yyyy"))));
        self.ReferralClaimantDoi = ko.observable(@Html.Raw(Json.Encode(@itemModel.ReferralClaimantDoi == null ? "" : itemModel.ReferralClaimantDoi.Value.ToString("MM/dd/yyyy"))));

        self.ControlNumber = ko.observable(@Html.Raw(Json.Encode(@itemModel.ControlNumber)));
        self.ProductType = ko.observable(@Html.Raw(Json.Encode(@itemModel.ProductType)));
        self.AdjusterName = ko.observable(@Html.Raw(Json.Encode(@itemModel.AdjusterName)));
        self.CreatedBy = ko.observable(@Html.Raw(Json.Encode(@itemModel.CreatedBy)));
        self.ReferralId = ko.observable(@itemModel.ReferralId);
        self.IsCompletedReferral = ko.observable(@itemModel.IsCompletedReferral.ToString().ToLower());
        self.IsOpenReferral = ko.observable(@itemModel.IsOpenReferral.ToString().ToLower());
        self.IsCancelReferral = ko.observable(@itemModel.IsCancelReferral.ToString().ToLower());
        self.ClaimantDob = ko.observable(@Html.Raw(Json.Encode(@itemModel.ClaimantDob == null ? "" : itemModel.ClaimantDob.Value.ToString("MM/dd/yyyy"))));
        self.ClaimantDoi = ko.observable(@Html.Raw(Json.Encode(@itemModel.ClaimantDoi == null ? "" : itemModel.ClaimantDoi.Value.ToString("MM/dd/yyyy"))));
        self.StartCreatedReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.StartCreatedReferral == null ? DateTime.Now.ToString("MM/01/yyyy") : itemModel.StartCreatedReferral.Value.ToString("MM/dd/yyyy"))));
        self.EndCreatedReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.EndCreatedReferral == null ? DateTime.Now.ToString("MM/dd/yyyy") : itemModel.EndCreatedReferral.Value.ToString("MM/dd/yyyy"))));
        self.StartNovDateReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.StartNovDateReferral == null ? DateTime.Now.ToString("MM/01/yyyy") : itemModel.StartNovDateReferral.Value.ToString("MM/dd/yyyy"))));
        self.EndNovDateReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.EndNovDateReferral == null ? DateTime.Now.ToString("MM/dd/yyyy") : itemModel.EndNovDateReferral.Value.ToString("MM/dd/yyyy"))));
        self.StartTestResultReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.StartTestResultReferral == null ? DateTime.Now.ToString("MM/01/yyyy") : itemModel.StartTestResultReferral.Value.ToString("MM/dd/yyyy"))));
        self.EndTestResultReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.EndTestResultReferral == null ? DateTime.Now.ToString("MM/dd/yyyy") : itemModel.EndTestResultReferral.Value.ToString("MM/dd/yyyy"))));

        self.StartDatePhysicianReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.StartDatePhysicianReferral == null ? DateTime.Now.ToString("MM/01/yyyy") : itemModel.StartDatePhysicianReferral.Value.ToString("MM/dd/yyyy"))));
        self.EndDatePhysicianReferral = ko.observable(@Html.Raw(Json.Encode(@itemModel.EndDatePhysicianReferral == null ? DateTime.Now.ToString("MM/dd/yyyy") : itemModel.EndDatePhysicianReferral.Value.ToString("MM/dd/yyyy"))));
        
        self.AvailableTestResultSearchCondition = ko.observableArray(['Specimen is Positive for Ethyl Glucuronide (Ethanol Metabolite)',
                                                                        'Specimen is Positive for Ethyl Sulfate (Ethanol Metabolite)',
                                                                       'Medication Reported in Prescription History Not Detected',
                                                                       'Medication Not Reported in Prescription History Detected',
                                                                       'No Medication History Provided',
                                                                        'Medication Reported in Prescription History Detected']);
        self.SelectedTestResultSearchCondition = ko.observableArray();
        self.TypeSearch = ko.observable();
        self.SearchClaimant = function () {
            self.TypeSearch("ClaimSearch");
            var data =
                 {
                     searchParameter: ko.toJSON(GetSearchReferralViewModel())
                 };
            var url = "/Common/SaveSearchReferralCondition";
            var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
            request.done(function (result) {
                if (result == 1) {
                    // Move to Search page
                    window.location.href = '@Url.Content("~/Report/ReferralResult")';
        }
            });
        };

    self.SearchReferralClaimant = function () {
        self.TypeSearch("ReferralClaimSearch");
        var data =
             {
                 searchParameter: ko.toJSON(GetSearchReferralViewModel())
             };
        var url = "/Common/SaveSearchReferralCondition";
        var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
        request.done(function (result) {
            if (result == 1) {
                // Move to Search page
                window.location.href = '@Url.Content("~/Report/ReferralResult")';
    }
        });
    };

    self.CancelClaimant = function () {
        searchViewModel.ShowContent(false);
    };
    self.CancelReferralClaim = function () {
        searchViewModel.ShowContent(false);
    };
    self.ClearClaimant = function () {
        self.ClaimantName("");
        self.ClaimantSsn("");
        self.ClaimNumber("");
        self.PayerName("");
        self.ClaimantDob(null);
        self.ClaimantDoi(null);
    };
    self.ClearReferralClaim = function () {
        self.ReferralClaimantName("");
        self.ReferralClaimantSsn("");
        self.ReferralClaimNumber("");
        self.ReferralPayerName("");
        self.ReferralClaimantDob(null);
        self.ReferralClaimantDoi(null);
        self.ControlNumber("");
        self.ProductType("");
        self.AdjusterName("");
        self.CreatedBy("");
        self.ReferralId(null);
    };
    self.SearchReferral = function () {
        self.TypeSearch("ReferralSearch");
        var data =
             {
                 searchParameter: ko.toJSON(GetSearchReferralViewModel())
             };
        var url = "/Common/SaveSearchReferralCondition";
        var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
        request.done(function (result) {
            if (result == 1) {
                // Move to Search page
                window.location.href = '@Url.Content("~/Report/ReferralResult")';
    }
        });
    };
    self.ClearReferral = function () {
        self.IsCompletedReferral(false);
        self.IsOpenReferral(false);
        self.IsCancelReferral(false);
        self.StartCreatedReferral(null);
        self.EndCreatedReferral(null);
    };
    self.SearchPharmcogenetic = function () {
        self.TypeSearch("PharmcogeneticSearch");
        var data =
             {
                 searchParameter: ko.toJSON(GetSearchReferralViewModel())
             };
        var url = "/Common/SaveSearchReferralCondition";
        var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
        request.done(function (result) {
            if (result == 1) {
                // Move to Search page
                window.location.href = '@Url.Content("~/Report/ReferralResult")';
    }
        });
    };
    self.SearchNov = function () {
        self.TypeSearch("NovSearch");
        var data =
             {
                 searchParameter: ko.toJSON(GetSearchReferralViewModel())
             };
        var url = "/Common/SaveSearchReferralCondition";
        var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
        request.done(function (result) {
            if (result == 1) {
                // Move to Search page
                window.location.href = '@Url.Content("~/Report/ReferralResult")';
    }
        });
    };
    self.ClearNov = function () {
        self.StartNovDateReferral(null);
        self.EndNovDateReferral(null);
    };
    self.SearchTestResult = function () {
        self.TypeSearch("SearchTestResult");
        var data =
             {
                 searchParameter: ko.toJSON(GetSearchReferralViewModel())
             };
        var url = "/Common/SaveSearchReferralCondition";
        var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
        request.done(function (result) {
            if (result == 1) {
                // Move to Search page
                window.location.href = '@Url.Content("~/Report/ReferralResult")';
    }
        });
    };
    self.ClearTestResult = function () {
    };

    self.SearchPhysicianReferral = function () {
        self.TypeSearch("PhysicianReferralSearch");
        var data =
             {
                 searchParameter: ko.toJSON(GetSearchReferralViewModel())
             };
        var url = "/Common/SaveSearchReferralCondition";
        var request = $.ajax({ cache: false, async: false, url: url, type: "POST", data: data, dataType: "json" });
        request.done(function (result) {
            if (result == 1) {
                // Move to Search page
                window.location.href = '@Url.Content("~/Report/ReferralResult")';
    }
        });
    };
    self.ClearPhysicianReferral = function () {
        self.StartDatePhysicianReferral(null);
        self.EndDatePhysicianReferral(null);
    };
    $('#content-claim-search').click(function (e) {
        e.stopPropagation(); // This is the preferred method.
    });

    var elementBinding = "#content-claim-search";

    self.ShowContent = ko.observable(false);
    self.ShowSearchOption = function () {

        var temp = self.ShowContent();
        self.ShowContent(!temp);
    };

    $(elementBinding).click(function (e) {
        e.stopPropagation(); // This is the preferred method.
    });
}

// This allows us to have nested bindings.
ko.bindingHandlers.stopBinding = {
    init: function () {
        return { controlsDescendantBindings: true };
    }
};
ko.virtualElements.allowedBindings.stopBinding = true;

var searchViewModel = new ReferralSearchViewModel();
ko.applyBindings(searchViewModel, $("#claim-search")[0]);
function GetSearchReferralViewModel() {
    return searchViewModel;
}


//Fix Close Filter Date
$(document).ready(function () {
    $('div.main, div.logo, div.account, div.action').click(function (e) {
        searchViewModel.ShowContent(false);
    });

    $('#claim-search').removeAttr('style');
});
</script>
