﻿@import url("menu.css");
@import url("button.css");
@import url("date.navigation.css");
@import url("search.css");
@import url("grid.css");
@import url("message.css");
/*@import url("overwrite.kendoui.css");*/
html,body {
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
	background: #F6F9FA;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
a {
    color:#000;
    text-decoration:none;
}
.w-full {
    width:100% !important;
}
.wrapper {
	border: none;
}

.wrapper .header {
	background-color: #eaeaea;
	height: 40px;
    border-bottom:1px solid #D9D9D9;
}

.wrapper .header .logo {
	width: 160px;
	float: left;
	height: 40px;
}

.wrapper .header .menu {
	float: left;
	margin-left: 20px;
}

.wrapper .header .menu ul {
	margin: 0;
	padding: 0;
}
    .wrapper .header .new-order {
        margin-left:700px;
        position:fixed;
        top:0;
    }
        
        .wrapper .header .claim-search {
        margin-left:660px;
        position:fixed;
        top:0;
    }
            .wrapper .header .claim-search .content-claim-search {
                background:#fff;
                box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
                width:500px;
                z-index:9999 !important;
                position:absolute;
                margin-left:1px;
                overflow: hidden;
            }
            .k-tabstrip > .k-content {
                margin-left: 0.3em !important;
                padding: 10px !important;
                max-height: 400px;
                overflow-y: auto;
            }
            .selectmultibox {
                border: 1px solid #DADADA;
            }
                /*.wrapper .header .claim-search .content-claim-search h2 {
                    margin:0;
                    padding:0;
                    font-size:14px;
                }
                .wrapper .header .claim-search .content-claim-search table {
                    width:100% !important;
                }
                .wrapper .header .claim-search .content-claim-search .label {
                    text-align:right;
                    width:40%;
                }
                .wrapper .header .claim-search .content-claim-search .input {
                    width:60%;
                }
                 .wrapper .header .claim-search .content-claim-search .label-small {
                    text-align:right;
                    width:26%;
                }
                .wrapper .header .claim-search .content-claim-search .input-small {
                    width:24%;
                }
                .wrapper .header .claim-search .content-claim-search .ul-btn-tool a {
                    font-size:12px;
                    font-weight:normal;
                }
                .wrapper .header .claim-search .content-claim-search ul {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    float: left;
                    border-bottom: 1px solid #dcdcdc;
                }
                .wrapper .header .claim-search .content-claim-search .tab li {
                    display: inline;
                    float: left;
                    padding: 5px 0px;
                    width: 33%;
                    text-align: center;
                }
                .wrapper .header .claim-search .content-claim-search .tab li:hover,.wrapper .header .claim-search .content-claim-search .tab li.tab-active {
                    background: #dcdcdc;
                    font-weight: bold;
                    cursor: pointer;
                }
                .wrapper .header .claim-search .content-claim-search .tab-detail {
                    width: 95%;
                    float: left;
                    padding:2.5%;
                    max-height: 500px;
                    overflow-y: auto;
                }*/
.wrapper .header .account {
	float: right;
}

.wrapper .header .account ul {
	margin: 0;
	padding: 0;
}

.wrapper .header .account ul li {
	display: inline;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 5px 0 10px;
}

.wrapper .header .account ul li:hover {
	background: #eaeaea;
	cursor: pointer;
}

.wrapper .header .account ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.wrapper .header .account ul li .account-drop {
	overflow: hidden;
	margin-top: 2px;
}

.wrapper .header .account ul li .account-drop img {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    padding:3px;
    background:#fff;    
   -moz-box-shadow:    inset 0 0 10px #aaaaaa;
   -webkit-box-shadow: inset 0 0 10px #aaaaaa;
   box-shadow:         inset 0 0 10px #aaaaaa;
}

.wrapper .header .account .account-drop .icon-caret-down {
	background: url(images/caret-down-icon.png) no-repeat;
	float: left;
	width: 15px;
	height: 30px;
}

.wrapper .header .account ul li:hover .account-drop .icon-caret-down {
	background: url(images/caret-down-icon-hover.png) no-repeat;
}
/*Second level menu*****************************/
.wrapper .header .account li ul {
	background-color: #fff;
	display: none;
	right: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 40px;
	border: 1px solid #D9D9D9;
	z-index: 9999;
}
.wrapper .header .account li:hover ul {
	display: block;
	width: 170px;
}
.wrapper .header .account ul li li:hover,.wrapper .header .account ul li li.active {
	background: url(images/bg-menu-second-active.png) repeat-x;
}

/*Second level list items*******************/
.wrapper .header .account li li {
	list-style: none;
	width: 170px;
	display: inline-block;
	border-bottom: 1px solid #dcdcdc;
}

.wrapper .header .account li li:last-child {
	border-bottom: none;
}

/*Second level anchors*****************/
.wrapper .header .account li li a {
	color: #000 !important;
	text-decoration: none;
    font-weight:normal !important;
}

.wrapper .header .account li li:hover a,.wrapper .header .account li li a:hover {
	color: #ffac00 !important;
}


.wrapper .main {
	overflow: hidden;
}

.wrapper .main .title {
	background: none repeat scroll 0 0 #F2F2F2;
	border-bottom: 1px solid #DCDCDC;
	color: #282829;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	height: 41px;
	overflow: hidden;
	z-index: 12;
	width: 100%;
	float: left;
}

.wrapper .main .title .my-title {
	background: url(images/breadcrumbArrow.png) no-repeat scroll right center #F7F7F7;
	display: block;
	float: left;
	height: 25px;
    line-height:25px;
	overflow: hidden;
	padding: 7px 17px 11px 2px;
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-size: 13px;
	font-weight: bold;
}
    .wrapper .main .title .my-title-sub {
        display: block;
	float: left;
	height: 25px;
    line-height:25px;
	overflow: hidden;
	padding: 4px 17px 11px 11px;
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-size: 13px;
    font-weight:bold;
    }
    .wrapper .main .title .my-title .icon {
        width:30px;float:left;
    }
        .wrapper .main .title .my-title .icon.order-close {
            background:url(images/icon-25-25.png) no-repeat 0 -200px;width:25px;height:25px;
        }
         .wrapper .main .title .my-title .icon.order-open {
            background:url(images/icon-25-25.png) no-repeat 0 -225px;width:25px;height:25px;
        }
          .wrapper .main .title .my-title .icon.task {
            background:url(images/icon-25-25.png) no-repeat 0 -250px;width:25px;height:25px;
        } 
          .wrapper .main .title .my-title .icon.admin {
            background:url(images/icon-25-25.png) no-repeat 0 -700px;width:25px;height:25px;
        }
    .wrapper .main .title .my-title .name {
        float:left;
    }
    
  .wrapper .main .title .search {
    float: right;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    margin-top: 8px;
    width: 250px;
}
  
.wrapper .main .content {
	width: 100%;
	float: left;
	overflow: hidden;
}
.k-window {
    transform: scale(1) !important;
}

.tbl-detail tr td {
    width: 16.6%;
    vertical-align: top;
}

.tbl-detail tr td:nth-child(2n+1) {
    background: url("images/g-dotted-line.gif") repeat-x scroll 0 14px #fff;
    vertical-align: top;
}
.tbl-detail tr td div {
     background: none repeat scroll 0 0 #fff;
    display: inline-block;
}

.action {
	float: right;
    margin-top:4px;
    margin-right: 30px;
}

.action ul.alert-in {
	margin: 0;
	padding: 0;
}

.action ul.alert-in li {
	display: inline;
	float: left;
	width: 25px;
	height: 25px;
	background: url(images/icon-25-25.png) no-repeat;
	margin-top: 8px;
	margin-right: 5px;
}

.action ul.alert-in li:hover {
	background: url(images/icon-25-25-hover.png) no-repeat;
	cursor: pointer;
}
.action ul.alert-in li.alert-none {
    margin-top:4px;
	background-position: 0 -450px;
}
.action ul.alert-in li.alert {
	background:url(images/alert-icon.gif) no-repeat;
    width:32px;
}
#num-alert {
    position: absolute; padding: 2px 5px; border-radius: 50%; background: none repeat scroll 0% 0% rgb(255, 106, 0); margin-top: -10px; margin-left: 15px; color: rgb(255, 255, 255);
}

.k-button:disabled {
    opacity: 0.3 !important;
}

.menuStatus {
    background:#fff;
    border: 1px solid #787878;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    display: block;
    margin-left: -2px;
    overflow: visible;
    position: fixed;
    width: 160px;
    z-index: 10002;
}
.menuStatus ul {
    margin: 0;
    padding: 0;
}
.menuStatus ul li {
    display: inline;
    float: left;
    width: 160px;
    padding: 5px 0;
    border-bottom: 1px solid #DADADA;
    font-weight: bold;
    color: #787878;
}
 .menuStatus ul li:hover {
     background: #8EBC00;
     color: #fff;
     cursor: pointer;
 }