﻿.btn.pull-right {
    margin: 0 0 5px !important;
    float: right;
}
.ul-btn-tool {
	float: right;
	margin: 8px 5px 8px 0;
}

.ul-btn-tool ul {
	margin: 0;
	padding: 0;
}

/*.ul-btn-tool button {
    border: none;
    background-color: transparent;
    margin: 0 -20px !important;
    padding:0 20px !important;
    cursor: pointer;
}*/

.ul-btn-tool li {
	display: inline;
    /*padding:0 20px !important;
	height: 23px !important;*/
	float: left;
	/*background: linear-gradient(to bottom, #fdfefe, #e8eef3) !important;
	line-height: 23px !important;
	text-align: center;
	font-weight: normal;*/
}
    /*.ul-btn-tool li:hover {
        background:linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	height: 23px;
	    cursor: pointer;
	    color: #094AB2;
    }
    .ul-btn-tool li .active {
        background:linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	height: 23px;
	    cursor: pointer;
	    color: #094AB2;
    }
.ul-btn-tool li.left {
	border:1px solid #dcdcdc;
    border-radius:3px 0 0 3px;
}


.ul-btn-tool li.middle   {    
	border-right:1px solid #dcdcdc;
    border-top:1px solid #dcdcdc;
    border-bottom:1px solid #dcdcdc;
}

.ul-btn-tool li.right  {
	border-right:1px solid #dcdcdc;
    border-top:1px solid #dcdcdc;
    border-bottom:1px solid #dcdcdc;
    border-radius:0 3px 3px 0;
}

.ul-btn-tool li.none {	
    border-radius:3px;
    border:1px solid #dcdcdc;
}


.ul-btn-tool li.left.disable,.ul-btn-tool li.left.disable:hover,
.ul-btn-tool li.middle.disable,.ul-btn-tool li.middle.disable:hover,
.ul-btn-tool li.right.disable,.ul-btn-tool li.right.disable:hover,
.ul-btn-tool li.none.disable,.ul-btn-tool li.none.disable:hover {
	background:#eaeaea !important;
    color:#dcdcdc;
}

    .ul-btn-tool li ul {
        z-index:9999;
        display:none;
        position:absolute;
        margin-top:0px;
        margin-left:-21px;
    }
    .ul-btn-tool li:hover ul {
        display:block;
    }
    .ul-btn-tool li ul li {
        background:linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);
        width:auto;
        border:1px solid #dcdcdc;
        padding:0 20px;
    }
        .ul-btn-tool li ul li:hover {
            background:linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }*/