﻿@import url("button.css");
@import url("message.css");
@import url("tab.css");
html,body {
	font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
	margin: 0;
	padding: 0;
    overflow:hidden;
}
a {
    color:#000;
    text-decoration:none;
}
.red {
    color: red;
}
.orange {
    color: #fe840d;
}
.green {
    color: green; 
}
.hide {
    display: none;
}
input:required {
    box-shadow:none;
}
textarea:required {
    box-shadow:none;
}
textarea[readonly=''],input[readonly=''],textarea[readonly="readonly"],input[readonly="readonly"] {
    background-color: #eaeaea !important;
}
textarea[readonly='']:hover,input[readonly='']:hover {
    border: 1px solid #dcdcdc;
    background-color: #eaeaea;
}
.right {
    float: right;
}
.w-full {
    width:100% !important;
}.wrapper {
    overflow: hidden;
    }

        .wrapper .title {
        background: none repeat scroll 0 0 #F2F2F2;
        border-bottom: 1px solid #DCDCDC;
        color: #282829;
        cursor: default;
        font-size: 12px;
        font-weight: bold;
        height: 41px;
        overflow: hidden;
        z-index: 12;
        width: 100%;
        float: left;
        }

            .wrapper .title .my-title {
            background: url("images/breadcrumbArrow.png") no-repeat scroll right center #F7F7F7;
            display: block;
            float: left;
            height: 19px;
            overflow: hidden;
            padding: 11px 17px 11px 11px;
            position: relative;
            text-align: left;
            white-space: nowrap;
            font-size: 13px;
            font-weight: bold;
            }
 .wrapper .content {
        width: 100%;
        float: left;
        overflow-y: auto;
     overflow-x: hidden;
        }
    
            .k-tabstrip > .k-content {
                margin-left: 0.3em !important;
                padding: 10px !important;
                overflow-y: auto;
            }
    .wrapper .content .k-content  td .title-line {
    background: url("images/bg-line.gif") repeat-x scroll 50% 9px #fff;
    color: #094AB2;
    font-weight: bold;
    overflow: hidden;
}
.wrapper .content .k-content  td .title-line .header-text {
    background: none repeat scroll 0 0 #fff;
    padding: 0 5px 0 0;
}
.k-editor-widget{ width: auto;}
.wrapper .content .k-content  td .title-center {
    background: url("images/bg-line.gif") repeat-x scroll 50% 9px #F6F9FA;
    color: #FE840D;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.tbl-form td .title-center .header-text {
    background: none repeat scroll 0 0 #F6F9FA;
    padding: 0 5px;
}
		 .wrapper .footer {
        width: 99%;
        height: 41px;
        float: left;
        overflow: hidden;
        background: #F2F2F2;
        border-top: 1px solid #DCDCDC;
        text-align:right;
        padding-right:1%;
        }
            .wrapper .footer .k-button {
                margin-top:7px;
            }
            .k-space-right .k-dropdown-wrap.k-state-default {
                border-bottom: 0;
                border-top: 0;
                border-left: 0;
            }
            .k-space-right .k-dropdown-wrap.k-state-default .k-select {
                border-left:1px solid #dadada;
            }
            .k-widget.k-combobox.k-header.k-textbox.k-space-right:hover {
                background: #fff;
            }
            .k-icon:hover {
                cursor: pointer;
            }
            .k-edit-label, .k-edit-form-container .editor-label {
                padding: 0.2em 0 0 0;
            }
            #grid-container-payerCode {
                border: 1px solid #dcdcdc;
                float: left !important;
            }
            .k-dropzone {
                padding: 0 0 0.3em 0;
            }
            .k-upload-button input {
                font: 4.3px monospace !important;
                height: 25px;
            }
            .k-grid .k-button, .k-edit-form-container .k-button {
                margin: 0;
            }
            .img-avatar-old {
                margin-left:  30%;
                border: 1px solid #dcdcdc;
                padding: 2px;
            }
            form table td {
                width: 50%;
            }
            .k-edit-field.readonly .k-picker-wrap.k-state-default {
                background-color: #eaeaea;
            }
.k-edit-form-container {
    overflow: visible;
}
.multi-email {
    width: 675px;border: 1px solid #dcdcdc;float: left;
}
.multi-email ul {
    padding: 0;
    margin: 0;
}
.multi-email ul li {
    display: inline;
    float: left;
    background: #eaeaea;
    border-radius: 15px;
    padding: 2px 10px;
    margin: 3px;

}
.multi-email ul li .email {
    width: 125px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}