﻿html, body {
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
    background: #F6F9FA;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    border: none;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.orange {
    color: #FE840D !important;
}

.green {
       color: #04D215 !important;
}

a {
    text-decoration: none;
    color: #000;
}

.browsebox {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    line-height: 23px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    position: relative;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
    background: #FFF;
}

    .browsebox ul {
        margin: 0;
        padding: 0;
    }

        .browsebox ul li {
            display: inline;
            float: left;
            background-color: #EEEEEE;
            border-radius: 20px;
            list-style-type: none;
            margin: 2px 3px 0;
        }

            .browsebox ul li .name {
                color: #000000;
                cursor: default;
                display: block;
                float: left;
                line-height: 20px;
                margin-left: 5px;
                max-width: 77px;
                overflow: hidden;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .browsebox ul li a.delete {
                background: url("images/icon-close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                display: block;
                float: left;
                height: 12px;
                margin: 5px 5px 0 4px;
                overflow: hidden;
                text-indent: -100px;
                vertical-align: middle;
                width: 12px;
            }

                .browsebox ul li a.delete:hover {
                    background: url("images/icon-close.gif") no-repeat 0 -13px;
                }

            .browsebox ul li.find {
                margin: 0;
                padding: 0;
            }

                .browsebox ul li.find .textbox {
                    border: none !important;
                }

                    .browsebox ul li.find .textbox:focus {
                        box-shadow: none !important;
                        -webkit-box-shadow: none !important;
                        border: none !important;
                    }

.browse-icon {
    background: url(images/browse-icon.png) no-repeat right;
    cursor: pointer;
    width: 23px;
    height: 23px;
    float: right;
    border-left: 1px solid #dcdcdc;
}

    .browse-icon:hover {
        background: url(images/browse-hover-icon.png) no-repeat right;
        cursor: pointer;
    }

.selectbox-none {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background: #FFFFFF;
    background-position: top right;
    border: 1px solid #D2D7DC;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

    a:hover {
    color: #094AB2;
    }

  .wrapper {
    overflow: hidden;
    }

        .wrapper .title {
        background: none repeat scroll 0 0 #F2F2F2;
        border-bottom: 1px solid #DCDCDC;
        color: #282829;
        cursor: default;
        font-size: 12px;
        font-weight: bold;
        height: 41px;
        overflow: hidden;
        z-index: 12;
        width: 100%;
        float: left;
        }

            .wrapper .title .my-title {
            background: url("images/breadcrumbArrow.png") no-repeat scroll right center #F7F7F7;
            display: block;
            float: left;
            height: 19px;
            overflow: hidden;
            padding: 11px 17px 11px 11px;
            position: relative;
            text-align: left;
            white-space: nowrap;
            font-size: 13px;
            font-weight: bold;
            }

            .wrapper .action {
        float: right;
            }

                .wrapper .action ul {
            margin: 0;
            padding: 0;
                }

                    .wrapper .action ul li {
                display: inline;
                float: left;
                height: 25px;
                line-height: 25px;
                background: url(images/icon-25-25.png) no-repeat;
                margin-top: 8px;
                margin-right: 5px;
                padding-left: 25px;
                    }

                        .wrapper .action ul li:hover {
                    background: url(images/icon-25-25-hover.png) no-repeat;
                    cursor: pointer;
                    color: #094AB2;
                        }

                        .wrapper .action ul li.check {
                    background-position: 0 0px;
                        }

                        .wrapper .action ul li.delete {
                    background-position: 0 -25px;
                        }

                        .wrapper .action ul li.plus {
                    background-position: 0 -50px;
                        }

                        .wrapper .action ul li.minus {
                    background-position: 0 -75px;
                        }

                        .wrapper .action ul li.info {
                    background-position: 0 -100px;
                        }

                        .wrapper .action ul li.setting {
                    background-position: 0 -125px;
                        }

                        .wrapper .action ul li.save {
                    background-position: 0 -150px;
                        }

                        .wrapper .action ul li.refresh {
                    background-position: 0 -175px;
                        }

                             .wrapper .action ul li.preview {
                    background-position: 0 -325px;
                            }

                        .wrapper .action ul li.device {
                    background: url(images/bg-footer-device.gif) no-repeat;
                    width: 1px;
                    padding-left: 0;
                        }

        .wrapper .content {
        width: 100%;
        float: left;
        overflow-y: auto;
        }

		 .wrapper .footer {
        width: 100%;
        height: 41px;
        float: left;
        overflow: hidden;
        background: #F2F2F2;
        border-top: 1px solid #DCDCDC;
        }

		 .action {
    float: right;
            }

                .action ul {
        margin: 0;
        padding: 0;
                }

                    .action ul li {
            display: inline;
            float: left;
            height: 25px;
            line-height: 25px;
            background: url(images/icon-25-25.png) no-repeat;
            margin-top: 8px;
            margin-right: 5px;
            padding-left: 25px;
                    }

                        .action ul li:hover {
                background: url(images/icon-25-25-hover.png) no-repeat;
                cursor: pointer;
                color: #094AB2;
                        }

                        .action ul li.check {
                background-position: 0 0px;
                        }

                        .action ul li.delete {
                background-position: 0 -25px;
                        }

                        .action ul li.plus {
                background-position: 0 -50px;
                        }

                        .action ul li.minus {
                background-position: 0 -75px;
                        }

                        .action ul li.info {
                background-position: 0 -100px;
                        }

                        .action ul li.setting {
                background-position: 0 -125px;
                        }

                        .action ul li.save {
                background-position: 0 -150px;
                        }

                        .action ul li.refresh {
                background-position: 0 -175px;
                        }

                        .action ul li.device {
                background: url(images/bg-footer-device.gif) no-repeat;
                width: 1px;
                padding-left: 0;
                        }

.textbox {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background: #FFFFFF;
    height: 18px;
    line-height: 18px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.datebox {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background: url(images/icon-datebox.png) no-repeat #FFFFFF;
    background-position: top right;
    height: 18px;
    line-height: 18px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.file {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background-color: #FFFFFF;
    height: 23px;
    line-height: 23px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textbox-disabled {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background-color: #EBEFF5;
    height: 18px;
    line-height: 18px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.selectbox {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background: url(images/icon-selectbox.png) no-repeat #FFFFFF;
    background-position: top right;
    border: 1px solid #D2D7DC;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
    padding-right: 33px;
}

.selectbox-disabled {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background: url(images/icon-selectbox.png) no-repeat #EBEFF5;
    background-position: top right;
    border: 1px solid #D2D7DC;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
    padding-right: 33px;
}

.searchbox {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background-color: #FFFFFF;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textarea {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textarea-disabled {
    border: medium none;
    vertical-align: middle;
    width: 100%;
    background-color: #EBEFF5;
    height: 50px;
    border: 1px solid #D2D7DC;
    overflow: hidden;
    font: 12px/1.22 "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif !important;
}

.textarea:focus, .textbox:focus, .selectbox:focus {
    border: 1px solid #0095c8;
    box-shadow: 0 0 10px rgba(90, 166, 237, 0.6) !important;
}

.delete-value-textbox {
    width: 12px;
    height: 12px;
    background: url(images/icon-12-12.png) no-repeat;
    background-position: 0 0;
    position: relative;
    margin-top: -17px;
    display: none;
    margin-right: 19px;
    float: right;
}

    .delete-value-textbox:hover {
        cursor: pointer;
        background: url(images/icon-12-12-hover.png) no-repeat;
        background-position: 0 0;
    }

.underline {
    text-decoration: underline;
}

.tbl-form {
    margin: 0;
    padding: 0;
}

    .tbl-form td {
        margin: 0;
        padding: 2px 0;
    }

        .tbl-form td.td-title {
            text-align: right;
        }

		.tbl-form td.td-field {
            text-align: left;
        }

             .div-combobox {
    position: absolute;
    border: 1px solid #dcdcdc;
    margin-top: 1px;
    display: none;
    z-index: 9999;
            }

                .div-combobox .div-search {
        width: 100%;
        float: left;
        height: 20px;
        border-bottom: 1px solid #dcdcdc;
                }

                    .div-combobox .div-search .div-textbox-search {
            float: left;
                    }

                        .div-combobox .div-search .div-textbox-search .textbox {
                border: none;
                font-style: italic !important;
                color: #ccc;
                        }

					.div-combobox .div-search .div-icon-search {
            width: 20px;
            height: 20px;
            float: left;
            background: url(images/icon-20-20.png) no-repeat #fff;
            background-position: 0 0px;
            z-index: 9999;
                    }

					.div-combobox .div-search .div-icon-search:hover {
                width: 20px;
                height: 20px;
                float: left;
                background: url(images/icon-20-20-hover.png) no-repeat #fff;
                background-position: 0 0px;
                cursor: pointer;
                z-index: 9999;
                    }

				.div-combobox .div-content {
        width: 100%;
        float: left;
        height: 196px;
        overflow-y: scroll;
        background: #fff;
        overflow-x: visible;
                }

                    .div-combobox .div-content ul {
            margin: 0;
            padding: 0;
                    }

                        .div-combobox .div-content ul li {
                display: inline;
                float: left;
                height: 23px;
                line-height: 23px;
                border-bottom: 1px solid #f2f2f2;
                padding: 2px;
                overflow: hidden;
                        }

                            .div-combobox .div-content ul li:hover {
                    background: #f2f2f2;
                    cursor: pointer;
                            }

                .div-combobox .div-footer {
        width: 100%;
        float: left;
        height: 25px;
        line-height: 25px;
        background: linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);
        text-align: center;
                }

                .div-combobox .div-footer:hover {
            background: linear-gradient(to bottom, #e8eef3, #fdfefe);
                }

                    .div-combobox .div-footer a {
            background: url(images/icon-plus-16-16.png) no-repeat;
            background-position: 0 0;
            padding-left: 17px;
            height: 16px;
                    }

                    .div-combobox .div-footer a:hover {
                background: url(images/icon-plus-16-16.png) no-repeat;
                background-position: 0 -16px;
                    }
                    
							.tbl-form td .title-line {
    background: url("images/bg-line.gif") repeat-x scroll 50% 9px #F6F9FA;
    color: #094ab2;
    font-weight: bold;
    overflow: hidden;
            }

                .tbl-form td .title-line .header-text {
        background: none repeat scroll 0 0 #F6F9FA;
        padding: 0 5px 0 0;
                }

                  .tbl-form td .title-center {
    width: 100%;
    background: url("images/bg-line.gif") repeat-x scroll 50% 9px #F6F9FA;
    color: #FE840D;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
            }

                .tbl-form td .title-center .header-text {
        background: none repeat scroll 0 0 #F6F9FA;
        padding: 0 5px;
                }

.td-field ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

    .td-field ul li {
        display: inline;
        float: left;
        list-style: none;
        padding: 5px;
    }

    .td-field ul.clear li {
        clear: both;
    }

     .ul-btn-tool {
    float: right;
    margin: 8px 5px 0 0;
        }

                .ul-btn-tool ul {
        margin: 0;
        padding: 0;
                }

            .ul-btn-tool li {
        display: inline;
        width: 90px;
        height: 25px;
        float: left;
        background: url(images/btn-tool.png) no-repeat;
        line-height: 25px;
        text-align: center;
        font-weight: normal;
            }

                .ul-btn-tool li.left {
            background-position: 0px 0px;
                }

                .ul-btn-tool li.middle {
                    background-position: -91px 0px;
                }

                .ul-btn-tool li.right {
            background-position: -180px 0px;
                }

                .ul-btn-tool li.none {
            background-position: -270px 0px;
                }

        .ul-btn-tool li.left.active, .ul-btn-tool li.left:hover {
            background-position: 0px -25px;
            cursor: pointer;
            font-weight: bold;
            color: #094AB2;
                }

        .ul-btn-tool li.middle.active, .ul-btn-tool li.middle:hover {
            background-position: -91px -25px;
            cursor: pointer;
            font-weight: bold;
            color: #094AB2;
                }

        .ul-btn-tool li.right.active, .ul-btn-tool li.right:hover {
            background-position: -180px -25px;
            cursor: pointer;
            font-weight: bold;
            color: #094AB2;
                }

        .ul-btn-tool li.none.active, .ul-btn-tool li.none:hover {
            background-position: -270px -25px;
            cursor: pointer;
            color: #094AB2;
                }

.more-info, .less-info {
    text-decoration: none;
    font-style: italic;
    color: black;
}

    .more-info:hover, .less-info:hover {
        color: #094AB2;
        font-weight: bold;
    }

.more-info:after {
        content: "  ▾ ";
}

.less-info::after {
        content: "  ▴ ";
}

.ul-reason-code, .ul-icd, .ul-dependency {
    margin: 0 0 0 15px !important;
    padding: 0;
}

    .ul-reason-code li, .ul-icd li, .ul-dependency li {
        display: list-item !important;
        float: left;
        list-style: square !important;
    }

.panel-divice {
    width: 37px;
    float: left;
    margin: 0 5px;
    padding-top: 90px;
}

    .panel-divice ul {
        margin: 0;
        padding: 0;
    }

        .panel-divice ul li {
            display: inline;
            float: left;
            list-style: none;
            width: 25px;
            line-height: 25px;
            background: linear-gradient(to bottom, #fdfefe, #e8eef3);
            border: 1px solid #dcdcdc;
            border-radius: 2px;
            margin: 2px 0;
        }

            .panel-divice ul li:hover {
                background: linear-gradient(to bottom, #e8eef3, #fdfefe);
                cursor: pointer;
            }

            .panel-divice ul li .select {
                background: url(images/ico_move_l_r.png) no-repeat;
                background-position: -15px 0;
                width: 15px;
                height: 14px;
                margin: 0 auto;
            }

            .panel-divice ul li .unselect {
                background: url(images/ico_move_l_r.png) no-repeat;
                background-position: 0 0;
                width: 15px;
                height: 14px;
                margin: 0 auto;
            }
            
.div-mess {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10px;
    background: #F8F2EC;
    z-index: 9999;
    border-bottom: 1px solid #dfd2c6;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

    .div-mess .icon {
        width: 40px;
        float: left;
    }

    .div-mess .mess {
        float: left;
        line-height: 25px;
        font-size: 14px;
    }

    .div-mess .delete {
        width: 40px;
        float: right;
    }

        .div-mess .delete:hover {
            cursor: pointer;
        }

.div-quick-task {
    position: absolute;
    background: #fff;
    border: 1px solid #dcdcdc;
    width: 350px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .div-quick-task .header {
        width: 340px;
        float: left;
        line-height: 20px;
        height: 20px;
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #dcdcdc;
        background: #f2f2f2;
    }

    .div-quick-task .content {
        padding: 5px;
        width: 340px;
        float: left;
    }

.left {
    float: left;
}

.right {
    float: right;
}

#div-upload-and-insert {
    position: absolute;
    z-index: 9999;
    width: 600px;
    height: 400px;
    border: 1px solid #dcdcdc;
    background: #f2f2f2;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    #div-upload-and-insert .header {
        width: 590px;
        height: 30px;
        line-height: 30px;
        background: #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        padding: 0 5px;
        font-weight: bold;
        float: left;
    }

   #div-upload-and-insert .upload {
        width: 600px;
        height: 25px;
        float: left;
    }
       
        #div-upload-and-insert .upload .textbox {
            width: 250px;
            float: left;
            height: 21px;
            line-height: 21px;
        }
            
       #div-upload-and-insert .button {
        width: 100px;
        border: none;
        height: 25px;
        line-height: 25px;
        border: 1px solid #dcdcdc;
        font-size: 12px;
        float: left;
             background: linear-gradient(to bottom, #FDFEFE, #E8EEF3) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }

        #div-upload-and-insert .button:hover {
     background: linear-gradient(to bottom, #E8EEF3, #FDFEFE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

    #div-upload-and-insert .list {
        height: 315px;
        overflow-y: auto;
        width: 600px;
        float: left;
    }

     #div-upload-and-insert .footer {
        width: 590px;
        height: 30px;
        line-height: 30px;
        background: #dcdcdc;
        border-top: 1px solid #dcdcdc;
        padding: 0 5px;
        float: left;
    }

        #div-upload-and-insert .footer .ul-btn-tool {
            float: right;
            margin-top: 0px;
        }

         #div-upload-and-insert .footer .tbl-footer {
            float: left;
            margin-top: 2px;
            width: 190px;
            background: #dcdcdc;
        }
         
.form-cancel, .form-close {
    position: absolute;
    z-index: 9999;
    width: 500px;
    background: #fff;
    border: 1px solid #dcdcdc;
}

    .form-cancel .header, .form-close .header {
        width: 490px;
        padding: 5px;
        height: 20px;
        line-height: 20px;
        background: #094AB2;
        font-weight: bold;
        color: #fff;
        border-bottom: 1px solid #dcdcdc;
    }
.view-collection-site {
    position:absolute;
    background:#fff;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    width:300px;
    padding:10px;
    border:1px solid #dcdcdc;
    z-index:9999;
    top:50%;
    left:50%;
}