﻿
/*First level list items******************************/
.menu ul li {
	display: inline;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	position: relative;
    margin-right:1px;
}

.menu ul li:hover,.menu ul li.active {
	background: url(images/bg-menu-active.png) repeat-x;
}

.menu ul li a {
	text-decoration: none;
	font-size: 13px;
}

.menu ul li:hover a,.menu ul li.active a {
	color: #094AB2;
	font-weight: bold;
}

/*Second level menu*****************************/
.menu li ul {
	background-color: #fff;
	display: none;
	left: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 40px;
	border: 1px solid #D9D9D9;
	z-index: 9999;
}

.menu li:hover ul {
	display: block;
}
.menu ul li li:hover,.menu ul li li.active {
	background: url(images/bg-menu-second-active.png) repeat-x;
}

/*Second level list items*******************/
.menu li li {
	list-style: none;
	width: 130px;
	display: inline-block;
	border-bottom: 1px solid #dcdcdc;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.menu li li:last-child {
	border-bottom: none;
}

/*Second level anchors*****************/
.menu li li a {
	color: #000 !important;
	text-decoration: none;
    font-weight:normal !important;
}

.menu li li:hover a,.menu li li a:hover {
	color: #ffac00 !important;
}