﻿.red {
    color:#f00 !important;
}
.form-report {
    width:98%;
    padding:1%;
    float:left;
    margin-bottom: 25px;
}
    .form-report hr {
        border:2px solid #000;
        margin-top:2px;
        box-sizing:border-box !important;
    }
    .form-report hr.small {
        border:1px solid #000;
        margin:0px;
    }
    .form-report .header-report {
        width:100%;
        overflow:hidden;
        height:auto;
    }
        .form-report .header-report .logo {
            width:100%;
            float:left;
            text-align:center;
        }
        .form-report .header-report .title-report {
            width:100%;
            float:left;
            text-align:center;
        }
            .form-report .header-report .title-report h2,.form-report .header-report .title-report h1,.form-report .header-report .title-report h3 {
                margin:3px;
            }
        .form-report .header-report .address {
            width:100%;
            float:right;
            text-align:right;
            font-size:15px;
        }
            .form-report .header-report .address .left {
                width:50%;
                float:left;
                text-align:left;
            }
            .form-report .header-report .address .right {
                width:50%;
                float:right;
                text-align:right;
            }
        .form-report .header-report .address p {
            padding:0;
            margin:2px;
        }
    .form-report .content-result {
        width:100%;
        float:left;
        color: #000;
    }
     .form-report .content-result .info{
        width:100%;
        float:left;
    }
        .form-report .content-result .info .tbl-info {
            
            border:1px solid #000;
            width:100%;
            border-spacing:0;
            margin-bottom:2px;
        }
            .form-report .content-result .info .tbl-info .tr-header {
                background:#808080;
                font-weight:bold;
                text-align:center;
                color:#fff;
            }
            .form-report .content-result .info .tbl-info td {
                margin:0;
                padding:5px;
                font-size:13px;
                border-right:1px solid #000;
                border-bottom:1px solid #000;
            }
                .form-report .content-result .info .tbl-info td:last-child {
                    border-right:none;
                }
            .form-report .content-result .info .tbl-info tr:last-child td {
                border-bottom:none;
            }
        .form-report .content-result .info .tbl-info-none {
            margin-top: 10px;
            width:100%;
            border-spacing:0;
            margin-bottom:2px;
        }
            .form-report .content-result .info .tbl-info-none .tr-header {
                background:#808080;
                font-weight:bold;
                text-align:center;
                color:#fff;
            }
            .form-report .content-result .info .tbl-info-none td {
                margin:0;
                padding:5px;
                font-size:13px;
            }
                .form-report .content-result .info .tbl-info-none td:last-child {
                    border-right:none;
                }
            .form-report .content-result .info .tbl-info-none tr:last-child td {
                border-bottom:none;
            }

        .form-report .content-result .info .result-level1 {
            padding:5px;
            margin:0;
            font-weight:bold;
            font-size:14px;
        }
        #ul-inconsistent li,#ul-consistent li {
            margin: 8px 0;
        }
        #ul-inconsistent li ul li,#ul-consistent li ul li {
            margin: 5px 0;
        }
        .form-report .content-result .info .result-level2 {
            font-weight:bold;
            font-size:13px;
            padding-left:10px;
        }
        .form-report .content-result .info .result-level3 {
            font-size:13px;
            padding-left:10px;
        }
.footer-result {
    position:fixed;
    bottom:0;
    right: 30px;
}
.sumary {
    background:#dbd49c;
    border:1px solid #000;
    text-align:center;
    padding:10px 0;
    margin:15px 0;
}
.underline {
    text-decoration:underline;
}