﻿.nav {
  margin-left: 0;
  list-style: none;
  font-size: 14px;
}

.nav-tabs,
.nav-pills {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
  border-bottom-color: gainsboro;
  border-bottom-size: 2px;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  color: @black;
  padding-right: 8px;
  padding-left: 2px;
  line-height: 14px;
  font-size: 16px;
}

.nav-tabs {
  border-bottom: 0 solid transparent;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-bottom: 10px;
  line-height: 13px;
   border: 0px solid transparent;
   background-color: transparent;
}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #000;
  font-weight:bold;
  border: 0 solid transparent;
  
  padding-left: 8px;
  padding-right: 8px;

  background-color: #ffffff;
  border-right-color:  #00B0F0;
  border-top-color: transparent;
  border-bottom-color: #00B0F0;
  border-left-color: #00B0F0;
  cursor: default;
  border-bottom-width: 4px;
  padding-bottom: 4px;

  border-left-width: 0px;
  border-right-width: 0px;

}

.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

.tab-content {
  overflow: visible; 
}


.nav-tabs-small {
    clear: both;
}
.nav-tabs-small > li {
  float: left;
  border-bottom-color: gainsboro;
  border-bottom-size: 2px;
}
.nav-tabs-small > li > a {
  color: #000;
  padding-right: 8px;
  padding-left: 2px;
  line-height: 14px;
  font-size: 12px;
}

.nav-tabs-small {
  border-bottom: 0px solid transparent;
}

.nav-tabs-small > li {
  margin-bottom: -1px;
}

.nav-tabs-small > li > a {
  padding-bottom: 20px;
  line-height: 13px;
   border: 0px solid transparent;
}

.nav-tabs-small > .active > a,
.nav-tabs-small > .active > a:hover {
  color: #000;
  font-weight:bold;
  border: 0px solid transparent;
  
  padding-left: 8px;
  padding-right: 8px;

  background-color: #fff;
  border-right-color: #f89406;
  border-top-color: transparent;
  border-bottom-color: #f89406;
  border-left-color: #f89406;
  cursor: default;
  border-bottom-width: 4px;
  padding-bottom: 2px;

  border-left-width: 0px;
  border-right-width: 0px;

}

.tab-title {
	text-align: left;
	font-family: "Segoe UI Light", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
	color: #999999;
	font-size: 14px;
	font-weight:normal;
	float: none;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}