﻿@model WorkComp.Models.DualSelectListBox.DualSelectListBoxViewModel

<script src="~/Scripts/ViewModels/DualSelectListBox/DualSelectChildViewModel.js" type="text/javascript"> </script>

<!-- ko stopBinding: true -->

 
    <div id="availableChildGrid-@Model.ControlId" class="left-dual-select-list-box-grid" >
        <div id="grid-container-available-child-@Model.ControlId" class="left-dual-select-list-box-grid-container">
        </div>
    </div>

<!-- /ko -->

<script>

    var dualSelectChildGrid = new DualSelectChildViewModel('@Model.ControlId', "@Model.ChildSelectUrl", 'Code');
    
    ko.applyBindings(dualSelectChildGrid, $("#availableChildGrid-@Model.ControlId")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    $(document).ready(function () {
        $("#availableChildGrid-@Model.ControlId .k-grid .k-grid-header").hide();
        $(".k-grid .k-grid-content").attr("style", "height:100%");
    });

</script>
