﻿@model WorkComp.Models.DualSelectListBox.DualSelectListBoxViewModel
<script src="~/Scripts/ViewModels/DualSelectListBox/DualSelectParentViewModel.js" type="text/javascript"> </script>
<!-- ko stopBinding: true -->
    <div id="availableParentGrid-@Model.ControlId"  class="left-dual-select-list-box-grid">
        <div id="grid-container-available-parent-@Model.ControlId"  class="left-dual-select-list-box-grid-container">
        </div>
    </div>
 
<!-- /ko -->

<script>


    var dualSelectParentGrid = new DualSelectParentViewModel('@Model.ControlId', "@Model.ParentSelectUrl", 'Code');
   
    // This allows us to have nested bindings.

    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;


    $(document).ready(function () {
        $("#availableParentGrid-@Model.ControlId .k-grid .k-grid-header").hide();
        $(".k-grid .k-grid-content").attr("style", "height:100%");
    });

</script>
