﻿@model WorkComp.Models.ReferralTask.CollectionServiceRequestLetterViewModel
@{
    Layout = null;
}
<style type="text/css">
    
</style>
<!-- ko stopBinding: true -->
<div style="height: 505px;" id="referral-task-send-mail-fax">
    <div  style="margin-top: 10px; margin-bottom: 45px;">
        <table style="width: 100%; height: 370px">
            <tbody>
                
                <tr>
                    <td style="width: 15%; text-align: right;"><span style="color: red">*</span> Subject:</td>
                    <td style="width: 85%; text-align: left;">
                        <input class="k-textbox" type="text" data-bind="value: Subject" style="width: 96%;" /></td>
                </tr>
                <tr>
                    <td style="width: 15%; text-align: right; vertical-align: top;">Message:</td>
                    <td style="width: 85%; text-align: left;">
                        <textarea id="send-content" rows="10" cols="30" style="height: 250px; width: 96%" data-bind="text: SendContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div id="tab-send-mail-fax" style="width: 96%; height: 150px;">
                            <ul>
                                <li>
                                    Email
                                </li>
                                <li>
                                    Fax
                                </li>
                            </ul>
                            <div class="send-email">
                                <table style="width: 100%; height: 100px">
                                    <tbody>
                                        <tr>
                                            <td style="width: 15%; text-align: right;"><span style="color: red">*</span> To:</td>
                                            <td style="width: 85%; text-align: left;">
                                                <div style="clear: left; float: left; width: 96%">
                                                    <span class="multi-email" style="width:92%">
                                                        <ul id="list-email-to-manual">
                                                            <div id="listEmailTo"></div>
                                                            <li>
                                                                <input type="text" id="NewEmailAddressTo" style="background: none; border: none; font-style: italic;" placeholder="Add new email" /></li>
                                                        </ul>
                                                        <input type="hidden" name="EmailAddressSetup" id="EmailAddressSetup" data-bind="value: EmailTo" />
                                                    </span>
                                                    <span class="k-select" data-bind="click: ClickWindowSearchTo" style="height: 35px; line-height: 35px; margin-left: 5px;">
                                                        <span class="k-icon k-i-search">select</span>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%; text-align: right;">Cc:</td>
                                            <td style="width: 85%; text-align: left;">
                                                <div style="clear: left; float: left; width: 96%">
                                                    <span class="multi-email" style="width:92%">
                                                        <ul id="list-email-cc-manual">
                                                            <div id="listEmailCc"></div>
                                                            <li>
                                                                <input type="text" id="NewEmailAddressCc" style="background: none; border: none; font-style: italic;" placeholder="Add new email" /></li>
                                                        </ul>
                                                        <input type="hidden" name="EmailAddressSetupCc" id="EmailAddressSetupCc" data-bind="value: EmailCc" />
                                                    </span>
                                                    <span class="k-select" style="height: 35px; line-height: 35px;margin-left: 5px;" data-bind="click: ClickWindowSearchCc">
                                                        <span class="k-icon k-i-search">select</span>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="width: 15%; text-align: right;"></td>
                                            <td style="width: 85%; text-align: left;"><input type="checkbox" data-bind="checked: SecureEmail"/>&nbsp;Secure email</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="send-fax">
                                <table style="width: 100%; height: 100px">
                                    <tbody>
                                        
                                        <tr>
                                            <td style="width: 15%; text-align: right;"><span style="color:#ff4500;">*</span> Fax Number:</td>
                                            <td style="width: 85%; text-align: left;"><input type="text" data-bind="value: FaxNumber" style="width: 35%;"/></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 15%; text-align: right;">Display Name:</td>
                                            <td style="width: 85%; text-align: left;"><input type="text" data-bind="value: DisplayName" style="width: 35%;"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="background-color: #f2f2f2; border-top: 1px solid #dcdcdc; height: 40px; line-height: 40px;  width: 100%; position: fixed; bottom: 0;">
        <button class="k-button" style="float: right; margin-top: 7px; margin-left: 7px; margin-right: 5px;" data-bind="click: ClickCancel"><span class="fa fa-times"></span>&nbsp;Cancel</button>
        <button class="k-button" style="float: right; margin-top: 7px; margin-left: 7px" data-bind="click: ClickSend"><span class="fa fa-envelope"></span>&nbsp;Send</button>
    </div>
</div>
<!-- /ko -->
<script type="text/javascript">
    function SendMailFaxCollectionServiceRequestLetter(elementBinding) {
        var self = this;
        self.ElementBinding = $(elementBinding);
        self.Subject = ko.observable('');
        self.SendContent = ko.observable(@Html.Raw(Json.Encode(@Model.ContentHtml)));
        self.EmailTo = ko.observable('');
        self.EmailCc = ko.observable('');
        self.SecureEmail = ko.observable(true);
        self.TypeClick = ko.observable('');
        self.ReferralTaskId = ko.observable(@Model.ReferralTaskId);

        self.SendType = ko.observable('');
        //self.SendType.subscribe(function(val) {
        //    console.log(val);
        //});

        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        self.FaxNumber = ko.observable('@Model.Fax');
        self.DisplayName = ko.observable('');
        self.ClickWindowSearchTo = function () {
            self.TypeClick('To');
            ShowPopupKendoNoIframe('Select Email', 1050, 450, true, ['Close'], true, '/ReferralTask/ShowPopupSelectEmail', self.SetEmailObjectToCc());
        };

        self.ClickWindowSearchCc = function () {
            self.TypeClick('Cc');
            ShowPopupKendoNoIframe('Select Email', 1050, 450, true, ['Close'], true, '/ReferralTask/ShowPopupSelectEmail', self.SetEmailObjectToCc());
        };

        Postbox.messages.subscribe(function (val) {
            var data = '';
            var dataEmailStr = '';
            for (var i = 0; i < val.length; i++) {
                var item = val[i];
                data += item.Email + ';';
                dataEmailStr += "<li><span class='email' title='" + item.Email + "' data-role='tooltip'>" + item.Email + "</span><a href='javascript:void(0);' onclick='DeleteEmail(this,\"" + item.Email + "\")' ><span class='k-icon k-delete'></span></a></li>";
            }

            if (self.TypeClick() == 'To') {
                $('#listEmailTo').html(dataEmailStr);
                $(".email").kendoTooltip({
                    position: "top"
                });
                self.EmailTo(data + self.EmailTo());

            } else if (self.TypeClick() == 'Cc') {
                $('#listEmailCc').html(dataEmailStr);
                $(".email").kendoTooltip({
                    position: "top"
                });
                self.EmailCc(data + self.EmailCc());
            }
        }, self, Postbox.SELECT_EMAIL_DATA_ON_DUAL_GRID);

        self.SetEmailObjectToCc = function () {
            var dataTo = self.EmailTo().split(';');
            var dataCc = self.EmailCc().split(';');
            var dataResult = [];
            for (var i = 0; i < dataTo.length; i++) {
                if (!_.isEmpty(dataTo[i])) {
                    dataResult.push({ Email: dataTo[i] });
                }
            }
            for (var j = 0; j < dataCc.length; j++) {
                if (!_.isEmpty(dataCc[j])) {
                    dataResult.push({ Email: dataCc[j] });
                }
            }
            
            return dataResult;
        };

        self.ClickCancel = function () {
            var kendoWindow = self.ElementBinding.parent('div').data("kendoWindow");
            if (!_.isUndefined(kendoWindow) && kendoWindow != null) {
                kendoWindow.close();
            }
        };
        self.ClickSend = function () {
            var models = {
                ReferralTaskId: self.ReferralTaskId(),
                Type: self.SendType(),
                ContentHtml: self.SendContent(),
                EmailTo: self.EmailTo(),
                EmailCc: self.EmailCc(),
                Subject: self.Subject(),
                IsSecureEmail: self.SecureEmail(),
                DisplayName: self.DisplayName(),
                Fax: self.FaxNumber(),
            };
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/ReferralTask/SendMailFaxResult",
                dataType: "json",
                data: JSON.stringify({
                    data: models
                }),
                async: false,
                success: function (result) {
                    if (_.isUndefined(result.Error) || _.isEmpty(result.Error)) {
                        self.ModelState(new FeedbackViewModel('Success', '@Model.SendEmailSuccess', "", []));
                        setInterval(function () { location.reload(); }, 2000);
                    } else {
                        self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                    }
                },
                error: function (request, status, error) {
                    self.ModelState(new FeedbackViewModel(result.Status, '@Model.GetMessage("SendEmailFailed")', result.StackTrace, result.ModelStateErrors));
                }
            }).done(function () {
                if (!_.isUndefined(self.ElementBinding.parent('div').data("kendoWindow"))) {
                    self.ElementBinding.parent('div').data("kendoWindow").close();
                }
            });
        };
    }

    var sendMailFaxCollectionServiceRequestLetter = new SendMailFaxCollectionServiceRequestLetter('#referral-task-send-mail-fax');


    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(sendMailFaxCollectionServiceRequestLetter, $("#referral-task-send-mail-fax")[0]);

</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#send-content').kendoEditor({
            change: function() {
                if (!_.isUndefined(sendMailFaxCollectionServiceRequestLetter) && sendMailFaxCollectionServiceRequestLetter!= null) {
                    sendMailFaxCollectionServiceRequestLetter.SendContent(this.value());
                }
            }
        });
        $('#tab-send-mail-fax').kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            change: function (e) {
                if (!_.isUndefined(sendMailFaxCollectionServiceRequestLetter) && sendMailFaxCollectionServiceRequestLetter != null) {
                    if ($(e.sender.contentElements[0]).hasClass('k-state-active')) {
                        sendMailFaxCollectionServiceRequestLetter.SendType('Email');
                    } else {
                        sendMailFaxCollectionServiceRequestLetter.SendType('Fax');
                    }
                }
                
                
            }
        });
        $('#tab-send-mail-fax').data('kendoTabStrip').select(0);
        $(".email").kendoTooltip({
            position: "top"
        });
        $("#NewEmailAddressTo").blur(function () {
            var e = $(this).val();
            if (e != '') {
                if (ValidateEmail(e)) {
                    if (sendMailFaxCollectionServiceRequestLetter.EmailTo() != '') {
                        if (sendMailFaxCollectionServiceRequestLetter.EmailTo().indexOf(e) < 0) {
                            $("#NewEmailAddressTo").parent().before("<li><span class='email' title='" + e + "' data-role='tooltip'>" + e + "</span><a href='javascript:void(0);' onclick=\"DeleteEmail(this,'" + e + "')\" ><span class='k-icon k-delete'></span></a></li>");

                            sendMailFaxCollectionServiceRequestLetter.EmailTo(sendMailFaxCollectionServiceRequestLetter.EmailTo() + e + ";");
                        }

                    }
                    else {
                        $("#NewEmailAddressTo").parent().before("<li><span class='email' title='" + e + "' data-role='tooltip'>" + e + "</span><a href='javascript:void(0);' onclick=\"DeleteEmail(this,'" + e + "')\" ><span class='k-icon k-delete'></span></a></li>");

                        sendMailFaxCollectionServiceRequestLetter.EmailTo(e);
                    }
                    $(".email").kendoTooltip({
                        position: "top"
                    });
                    $(this).val("");
                }
                else {
                    alert("@Model.GetMessage("EmailValid")");
                }
            }
        });

        $("#NewEmailAddressCc").blur(function () {
            var e = $(this).val();
            if (e != '') {
                if (ValidateEmail(e)) {
                    if (sendMailFaxCollectionServiceRequestLetter.EmailCc() != '') {
                        console.log(sendMailFaxCollectionServiceRequestLetter.EmailCc());
                        if (sendMailFaxCollectionServiceRequestLetter.EmailCc().indexOf(e) < 0) {
                            $("#NewEmailAddressCc").parent().before("<li><span class='email' title='" + e + "' data-role='tooltip'>" + e + "</span><a href='#' onclick=\"DeleteEmail(this,'" + e + "')\" ><span class='k-icon k-delete'></span></a></li>");

                            sendMailFaxCollectionServiceRequestLetter.EmailAddressSetupCc(sendMailFaxCollectionServiceRequestLetter.EmailCc() + e + ";");
                        }

                    }
                    else {
                        $("#NewEmailAddressCc").parent().before("<li><span class='email' title='" + e + "' data-role='tooltip'>" + e + "</span><a href='#' onclick=\"DeleteEmail(this,'" + e + "')\" ><span class='k-icon k-delete'></span></a></li>");

                        sendMailFaxCollectionServiceRequestLetter.EmailCc(e);
                    }
                    $(".email").kendoTooltip({
                        position: "top"
                    });
                    $(this).val("");
                }
                else {
                    alert("@Model.GetMessage("EmailValid")");
                }
            }
        });
    });
    function DeleteEmail(t, e) {
        if (sendMailFaxCollectionServiceRequestLetter.EmailTo().indexOf(e + ";") >= 0) {
            sendMailFaxCollectionServiceRequestLetter.EmailTo(sendMailFaxCollectionServiceRequestLetter.EmailTo().replace(e + ";", ""));
        } else {
            if (sendMailFaxCollectionServiceRequestLetter.EmailTo().indexOf(e + ";") >= 0) {
                sendMailFaxCollectionServiceRequestLetter.EmailTo(sendMailFaxCollectionServiceRequestLetter.EmailTo().replace(e + ";", ""));
            } else {
                if (sendMailFaxCollectionServiceRequestLetter.EmailTo().indexOf(e) >= 0) {
                    sendMailFaxCollectionServiceRequestLetter.EmailTo(sendMailFaxCollectionServiceRequestLetter.EmailTo().replace(e, ""));
                }
            }
        }

        if (sendMailFaxCollectionServiceRequestLetter.EmailCc().indexOf(e + ";") >= 0) {
            sendMailFaxCollectionServiceRequestLetter.EmailCc(sendMailFaxCollectionServiceRequestLetter.EmailCc().replace(e + ";", ""));
        } else {
            if (sendMailFaxCollectionServiceRequestLetter.EmailCc().indexOf(e + ";") >= 0) {
                sendMailFaxCollectionServiceRequestLetter.EmailCc(sendMailFaxCollectionServiceRequestLetter.EmailCc().replace(e + ";", ""));
                
            } else {
                if (sendMailFaxCollectionServiceRequestLetter.EmailCc().indexOf(e) >= 0) {
                    sendMailFaxCollectionServiceRequestLetter.EmailCc(sendMailFaxCollectionServiceRequestLetter.EmailCc().replace(e, ""));
                }
            }
        }
        $(t).parent().remove();
    }


</script>