﻿@using WorkComp.Models
@using WorkComp.Models.ReferralTask
@model DashboardReferralTaskDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="task-form">
    <div id="task-create" style="width:100%;float: left;">
        @Html.Partial("~/Views/ReferralTask/_Shared.cshtml", Model.SharedViewModel)        
    </div>
</form>

@section FooterActions
{
     
    @Model.AddFooterAction("Create", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
@Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function TaskViewModel() {
        var self = this;
     
        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            
            var viewModel = GetSharedViewModel();
            var saveData =
                 {
                     SharedParameter: ko.toJSON(viewModel.getDataReferralTask())
                 };

            $('form').Save("/ReferralTask/Create", saveData,
                function(keyID) {
                    $('form').Close(0);
                },
                function(result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true, 'ReferralTask', '@Model.SharedViewModel.ShowPopupType');
        }, self, Postbox.FOOTER_ACTION_SAVE);
        
        

        Postbox.messages.subscribe(function () {
            $('form').Close(0);
        }, self, Postbox.FOOTER_ACTION_CLOSE);
    }
  
    ko.applyBindings(new TaskViewModel(), $("#task-create")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
   
</script>
