﻿@model WorkComp.Models.ReferralTask.DashboardReferralTaskIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ko stopBinding: true -->
<div id="grid-container-referral" style="width: 100%">
    <div class="title">
        <div class="my-title">
            <div class="icon admin"></div>
            <div class="name">@Model.PageTitle</div>

        </div>
        <!-- ko stopBinding: true -->
        <div id="panel-content-date-search" class="ul-btn-tool">
            <div class="k-floatwrap k-header k-scheduler-toolbar" style="padding: 0; line-height: 24px; border: none">
                <ul class="k-reset k-header k-toolbar k-scheduler-navigation">
                    <li class="k-state-default k-nav-prev"><a class="k-link" href="javascript:void(0);" data-bind="click: PreFilter" role="button"><span class="k-icon k-i-arrow-w"></span></a></li>
                    <li class="k-state-default k-nav-today"><a class="k-link" id="btn-export-excel" style="padding: 0; width: 197px" href="javascript:void(0);" data-bind="text: SelectedLable, click: ShowExportOption" role="button">All time</a>
                        <div id="poup-export-excel" data-bind="visible: ShowContent" class="k-block" style="display: block; margin-left: -80px;">
                            <div class="content-export">
                                <span class="title">Filter Time</span>
                                <div class="content-export-excel">
                                    <label>
                                        <input type="radio" name="optionfilter" value="all" data-bind="checked: Type" />
                                        All time</label>
                                    <br />
                                    <label>
                                        <input type="radio" name="optionfilter" value="today" data-bind="checked: Type" />
                                        Today</label>
                                    <br />
                                    <label>
                                        <input type="radio" name="optionfilter" value="thisweek" data-bind="checked: Type" />
                                        This week</label>
                                    <br />
                                    <label>
                                        <input type="radio" name="optionfilter" value="lastweek" data-bind="checked: Type" />
                                        Last week</label>
                                    <br />
                                    <label>
                                        <input type="radio" name="optionfilter" value="thismonth" data-bind="checked: Type" />
                                        This month</label>
                                    <br />
                                    <label>
                                        <input type="radio" name="optionfilter" value="lastmonth" data-bind="checked: Type" />
                                        Last month</label>

                                    <span id="custom-time">
                                        <input type="radio" name="optionfilter" value="custom" data-bind="checked: Type" />
                                        <span class="custom">
                                            <input id="custom-start" />
                                            -
                                            <input id="custom-end" />
                                        </span>
                                    </span>

                                    <a class="k-button k-button-icontext" data-bind="click: Cancel" href="javascript:void(0);">Cancel</a>
                                    <a class="k-button k-button-icontext" data-bind="click: Filter" href="javascript:void(0);">Filter</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="k-state-default k-nav-next"><a class="k-link" href="javascript:void(0);" data-bind="click: NextFilter" role="button"><span class="k-icon k-i-arrow-e"></span></a></li>
                </ul>
            </div>

        </div>
        <!-- /ko -->
        <script type="text/javascript">
                        
            var filterDatePanel = new FilterDatePanel("all", false, '#btn-export-excel, #poup-export-excel', '#custom-start', '#custom-end', '#custom-time');
            // This allows us to have nested bindings.
            ko.bindingHandlers.stopBinding = {
                init: function () {
                    return { controlsDescendantBindings: true };
                }
            };
            ko.virtualElements.allowedBindings.stopBinding = true;
            ko.applyBindings(filterDatePanel, $("#panel-content-date-search")[0]);
            filterDatePanel.init();
        </script>

        <div class="ul-btn-tool">
            <ul>
                <li>
                    <button class="k-button" data-bind="click:EmailTask,enable:EnableButtonMenu"><span class="k-icon k-i-email"></span>Email</button></li>
                <li>
                    <button class="k-button" data-bind="click:PrintTask,enable:EnableButtonMenu"><span class="k-icon k-i-print"></span>Print</button></li>
            </ul>
        </div>

        <div class="ul-btn-tool">
            <ul>
                <li>
                    <button class="k-button" data-bind="click:AssignToTask,enable:EnableButtonMenu"><span class="k-icon k-i-arrowhead-w"></span>Assign to</button></li>
            </ul>
        </div>
        <div class="ul-btn-tool">
            <ul>
                <li>
                    <button class="k-button" data-bind="click: NewTask"><span class="k-icon k-i-plus"></span>New task</button></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div id="grid-referral-task" style="width: 100%"></div>
    </div>
</div>
<!-- /ko -->
<script type="text/x-kendo-template" id="templateStatus">
    <a href='javascript:void(0);'><span class='tooltip-status 
   #if(Status== 'Open') {#
        fa fa-square color-status-open
    #} else if(Status == 'Canceled') {#
        fa fa-square color-status-cancel
    #}else if(Status == 'Completed') {# 
        fa fa-check-square color-status-complate
    #}else if(Status == 'Pending') {#
        fa fa-square color-status-pending
    #}else if(Status == 'Reopen') {#
        fa fa-square color-status-open
    #}#
    ' title='#=Status#'></span></a>
</script>

<script type="text/x-kendo-template" id="templateReferralId">
    <a href='javascript:void(0);' class='color-link-referral'> Referral ID: #=ReferralId# </a>   
</script>

<script type="text/x-kendo-template" id="templateDurationTask">
     #if(CategoryDuration) {#
        <div class="duration task green" style="width: 100%">
            <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, " MM/dd/yyyy hh:mm tt")#">               
            </div><!--end start-->
            <!--timeline-->
            <div class="timeline" style="width: 84%">
                    <!--timeactive-->
                <div style="width: #=DurationPercentLeft#%" class="timeactive" >
                    <div class="time"><span>#=DurationFormat#</span></div>
                </div><!--end timeactive-->
            </div><!--end timeline-->
            <!--end-->
    <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#">
            </div>
        </div>
     #} else {# 
        <div class="duration task red" style="width: 100%">
            <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, " MM/dd/yyyy hh:mm tt")#">               
            </div><!--end start-->
            <!--timeline-->
            <div class="timeline over" style="width: 84%">            
                <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#"></div>
                <div class="time"><span>#=DurationFormat#</span></div>
            </div><!--end timeline-->
            <!--end-->
        </div>
     #}#

</script>

<script id="templatetooltip" type="text/x-kendo-template">    
    <span class="colortootiptemplate">#=target.data('title')#</span>    
</script>




<script type="text/javascript">

    var data = {};
    var schemaFields = {
        Id: { editable: false , type: "number"},
        IsChecked: { editable: false },
        StatusId: { editable: false },
        ReferralId: { editable: false, type: "number" },
        Title: { editable: false},
        Duration: { editable: false},
        DurationFormat: { editable: false},
        AssignTo: { editable: false },Status: { editable: false },
        Jurisdiction: { editable: false },
        StartDate: { editable: false , type: "date"},
        DueDate: { editable: false, type: "date", isTime: true},
        Claimant: { editable: false },
        PatientState: { editable: false },
        CreatedDate: { editable: false, type: "date", isTime: true},
        DurationPercentLeft: { editable: false },
        DurationPercentRight: { editable: false },
        CategoryDuration: { editable: false, type: "boolean" },
    };

    var columns = [

        { field: "IsChecked", title: "&nbsp;", attributes: { style: 'text-align:left;' }, width: "30px", sortable: false, filterable: false, menu: false, template: "<input type='checkbox' class='check_row checkbox' onClick='checkRowInGrid(this,${Id});'/>", headerTemplate: "<input type='checkbox' class='check_all_row checkbox' onClick='checkAllRowInGrid(this);'/>" },
        { field: "StatusId", title: "&nbsp;", attributes: { style: 'text-align:center;' }, width: "30px", sortable: false, filterable: false, menu: false, template: kendo.template($("#templateStatus").html()) },
        { field: "Id", title: "ID", width: "75px", attributes: { style: 'text-align:center;' }, sortable: true, hidden: false },
        { field: "ReferralId", title: "Link", width: "120px", attributes: { style: 'text-align:center;' }, sortable: false, filterable: false, template: kendo.template($("#templateReferralId").html()) },
        { field: "Title", title: "Title", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "Duration", title: "Duration", width: "300px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateDurationTask").html()) },
        { field: "AssignTo", title: "AssignTo", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },{ field: "Status", title: "Status", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, hidden: false },
        { field: "Jurisdiction", title: "Jurisdiction", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "DueDate", title: "Follow Up Date", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}},
        { field: "Claimant", title: "Claimant", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "PatientState", title: "Patient State", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
        { field: "CreatedDate", title: "Created Date", width: "150px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}}
    ];

    var schemaFieldsTask = null;
    var schemaFieldsNote = null;
    var columnsTask = null;
    var columnsNote = null;
    var gridViewModelReferral = new GridViewModelReferral('grid-referral-task', '@Model.GridViewModel.ModelName' ,schemaFields, columns,schemaFieldsTask, columnsTask,schemaFieldsNote, columnsNote, @Model.GridViewModel.CurrentUser.User.Id,
        @Model.GridViewModel.DocumentTypeId,
        '@Model.GridViewModel.GridInternalName','@Model.GridViewModel.TypeWithUser.ToString()', 800, 600, false,true);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(gridViewModelReferral, $("#grid-container-referral")[0]);

    function checkRowInGrid(cb,id) {
        gridViewModelReferral.CheckRowInGrid(cb, id);
    };


    function checkAllRowInGrid(cb) {
        gridViewModelReferral.CheckAllRowInGrid(cb);
    }

    var flagValueTaskNote = null;
    function handleNode(id) {
        if (flagValueTaskNote != 'note-' + id) {
            gridViewModelReferral.handleClickTaskAndNode('note-' + id);
            flagValueTaskNote = 'note-' + id;
        } else {
            gridViewModelReferral.handleClickTaskAndNode('collapse-' + id);
            flagValueTaskNote = null;
        }
    }

    function handleTask(id) {
        
        if (flagValueTaskNote != 'task-' + id) {
            gridViewModelReferral.handleClickTaskAndNode('task-' + id);
            flagValueTaskNote = 'task-' + id;
        } else {
            gridViewModelReferral.handleClickTaskAndNode('collapse-' + id);
            flagValueTaskNote = null;
        }
    }

    function handleNewTask(id) {
        gridViewModelReferral.handleClickAddNew('task-' + id);
    }

    function handleNewNote(id) {
        gridViewModelReferral.handleClickAddNew('note-' + id);
    }

    function NewTask() {
        var url = "/ReferralTask/Create/";
        ShowPopup(1000, 700, "New item", url);
    };
    //Fix Close Filter Date
    $(document).ready(function() {
        $('#grid-container-referral .content, #grid-container-referral .title, div.wrapper .header').click(function (e) {
            filterDatePanel.ShowContent(false);
        });
        
        // apply for filter session
        var type = '@Model.FilterType.FilterType.ToString().ToLower()';         
        if (type == 'custom') {
            var startDate = '@Model.FilterType.DueDateFrom.GetValueOrDefault().ToString("MM/dd/yyyy")';
            var endDate = '@Model.FilterType.DueDateTo.GetValueOrDefault().ToString("MM/dd/yyyy")';
            filterDatePanel.CustomStartDate(startDate);
            filterDatePanel.CustomEndDate(endDate);
        }
          filterDatePanel.Type(type);
         var filterData=filterDatePanel.SetDataForFilter();
        gridViewModelReferral.SetFilterPanelDataValue(filterData);
        gridViewModelReferral.init();
        //filterDatePanel.Filter();
    });
</script>
