﻿@model WorkComp.Models.ReferralTask.ReferralTaskPrintViewModel
<link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/grid.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.PrintArea.js")"></script>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="print-referral-task" style="width: 100%">
    <!-- ko stopBinding: true -->
    <div class="main">
        <div class="content" id="grid-container-referral-task">
            <div id="grid-referral-task" style="width: 100%"></div>
        </div>
    </div>
    <!-- /ko -->
</form>
@section FooterActions
{
    @Model.AddFooterAction("Print", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

@section scripts
{
    <script id="templatetooltip" type="text/x-kendo-template">    
    <span class="colortootiptemplate">#=target.data('title')#</span>    
    </script>
    <script type="text/x-kendo-template" id="templateStatus">
    <a href='javascript:void(0);'><span class='tooltip-status 
    #if(Status== 'Open') {#
        fa fa-square color-status-open
    #} else if(Status == 'Canceled') {#
        fa fa-square color-status-cancel
    #}else {# 
    fa fa-check-square color-status-complate
    #}#
    ' title='#=Status#'></span></a>
    </script>


    <script type="text/x-kendo-template" id="templateDurationTask">
     #if(CategoryDuration) {#
        <div class="duration task green" style="width: 100%">
            <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, " MM/dd/yyyy hh:mm tt")#">               
            </div><!--end start-->
            <!--timeline-->
            <div class="timeline" style="width: 84%">
                    <!--timeactive-->
                <div style="width: #=DurationPercentLeft#%" class="timeactive">
                    <div class="time"><span>#=DurationFormat#</span></div>
                </div><!--end timeactive-->
            </div><!--end timeline-->
            <!--end-->

        <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, " MM/dd/yyyy hh:mm tt")#">
        </div>
        </div>
     #} else {# 
        <div class="duration task red" style="width: 100%">
            <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, " MM/dd/yyyy hh:mm tt")#">               
            </div><!--end start-->
            <!--timeline-->
            <div class="timeline over" style="width: 84%">            
                <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#"></div>
                <div class="time"><span>#=DurationFormat#</span></div>
            </div><!--end timeline-->
            <!--end-->
        </div>
     #}#

    </script>
    <script>
        $(window).load(function() {
            $(".wrapper .title").hide();
            $(".wrapper .content").css({ height: parseInt($(".wrapper .content").css("height").replace("px", "")) + 31, "overflow": "hidden" });
            EnableCreateFooterButton(true);
        });

        function ReferralTaskPrintViewModel() {
            var self = this;
            self.ModelState = ko.observable();
            self.ModelState.subscribe(function (newValue) {
                Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
            });
            Postbox.messages.subscribe(function () {
                var options = { mode: 'iframe', popClose: false, extraCss: 'true', retainAttr: 'class,id,style,on', extraHead: '', popTitle: 'SysRx' };
                var print = "#print-referral-task";
                $(print).printArea(options);
            }, self, Postbox.FOOTER_ACTION_SAVE);

            Postbox.messages.subscribe(function () {
                ClosePopupKendo(false);
            }, self, Postbox.FOOTER_ACTION_CLOSE);
        }
        var objPrintViewModel = new ReferralTaskPrintViewModel();
        ko.applyBindings(objPrintViewModel, $("#print-referral-task")[0]);
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
        var schemaFields = {
            Id: { editable: false , type: "number"},
            IsChecked: { editable: false },
            StatusId: { editable: false },
            ReferralId: { editable: false },
            Title: { editable: false},
            Duration: { editable: false},
            DurationFormat: { editable: false},
            AssignTo: { editable: false },Status: { editable: false },
            Jurisdiction: { editable: false },
            StartDate: { editable: false , type: "date"},
            DueDate: { editable: false, type: "date", isTime: true},
            Claimant: { editable: false },
            PatientState: { editable: false },
            CreatedDate: { editable: false, type: "date", isTime: true},
            DurationPercentLeft: { editable: false },
            DurationPercentRight: { editable: false },
            CategoryDuration: { editable: false, type: "boolean" },
        };
        var columns = [
            { field: "StatusId", title: "&nbsp;", attributes: { style: 'text-align:center;' }, width: "30px", sortable: false, filterable: false, menu: false, template: kendo.template($("#templateStatus").html()) },
            { field: "Id", title: "ID", width: "75px", attributes: { style: 'text-align:center;' },sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Title", title: "Title", width: "150px", attributes: { style: 'text-align:left;' },sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Duration", title: "Duration", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateDurationTask").html()) },
            { field: "AssignTo", title: "AssignTo", width: "150px", attributes: { style: 'text-align:left;' },sortable: false, filterable: false, menu: false, hidden: false },{ field: "Status", title: "Status", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, hidden: false },
            { field: "Jurisdiction", title: "Jurisdiction", width: "150px", attributes: { style: 'text-align:left;' },sortable: false, filterable: false, menu: false, hidden: false },
            { field: "DueDate", title: "Follow Up Date", width: "150px", attributes: { style: 'text-align:left;' },sortable: false,menu: false, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}},
            { field: "Claimant", title: "Claimant", width: "150px", attributes: { style: 'text-align:left;' },sortable: false, filterable: false, menu: false, hidden: false },
            { field: "PatientState", title: "Patient State", width: "150px", attributes: { style: 'text-align:left;' },sortable: false, filterable: false, menu: false, hidden: false },
            { field: "CreatedDate", title: "Created Date", width: "150px", attributes: { style: 'text-align:left;' },sortable: false, menu: false, hidden: false, format:"{0:MM/dd/yyyy hh:mm tt}", filterable: {ui: "datetimepicker"}}
        ];
        var schemaFieldsTask = null;
        var columnsTask = null;
        var schemaFieldsNote = null;
        var columnsNote = null;
        var urlToGetData = "/ReferralTask/GetDataPrintToReferralTask?selectedRowIdArray=@Model.ListReferralTaskIdSelectedString";
        var gridViewModelReferralTask = new GridViewModelReferral('grid-referral-task', 'ReferralTask', schemaFields, columns, schemaFieldsTask,
            columnsTask, schemaFieldsNote, columnsNote, @Model.CurrentUserId, 25,
            'ReferralTasl', 'All', 800, 600, false, true, true, urlToGetData);
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function() {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
        ko.applyBindings(gridViewModelReferralTask, $("#grid-container-referral-task")[0]);
        gridViewModelReferralTask.init();
    </script>

}