﻿
.nav ul {
    margin: 0;
    padding: 0;
    list-style: square outside none;

}
.nav ul li {
    display: inline;
    width: 100%;
    float: left;
    padding: 7px 5px;
    line-height: 20px;
    border-bottom: 1px solid #dcdcdc;
    background: url(images/bg-nav.png) repeat-x 50% 50% #f6f6f6;
}
.nav ul li.active,.nav ul li:hover {
    background-color: #1984C8;
    border-color: #1984C8;
    color: #FFFFFF;
    background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0 0 15px 5px #146CA4 inset;
}
.nav ul li.active a,.nav ul li:hover a {
    color: #fff;
}
.nav ul li a {
    width: 100%;
    display: inline-block;
}