﻿.table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #dcdcdc;
    border-bottom: none;
}
.table th {
    background: url(images/bg-nav.png) repeat-x 50% 50% #f6f6f6;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 3px;
}
.table td {
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 3px;
}
.table th:last-child ,.table td:last-child {
    border-right: none;
}
.tbl-child tr:last-child td {
    border-bottom: none;
}