﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Employer.DashboardEmployerShareViewModel
 <!-- ko stopBinding: true -->
<div id="employer-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Name", "Name", "Name", true, 100)
            </td>
            <td>
                @Html.InputMasked("Phone","Phone","Phone","(999) 000-0000")
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("FederalTaxId", "Federal tax id", "FederalTaxId", false, 50)
            </td>
            <td>
                @Html.WorkcompTextBox("GeoAddress", "Geo Address", "GeoAddress", false, 50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Address", "Address 1", "Address", true, 100)
            </td>
            <td>
                @Html.WorkcompTextBox("Address1", "Address 2", "Address1", false, 50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.StateLookup("State", "State", new { data_bind = "value: StateId" },true,"AddrGroup","",0, @Model.StateDataSource)
            </td>
            <td>
                @Html.CityLookup("City", "City", new { data_bind = "value: CityId" },true,"AddrGroup","",0, @Model.CityDataSource)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ZipLookup("Zip", "Zip", new { data_bind = "value: ZipId" },false,"AddrGroup","",0, @Model.ZipDataSource)
            </td>
            <td>
                @Html.WorkcompCheckBox("IsUserUpdate","Do not update from vendor file", "IsUserUpdate")
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function EmployerShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.Name = ko.observable(@Html.Raw(Json.Encode(@Model.Name)));
        self.Phone = ko.observable(@Html.Raw(Json.Encode(@Model.Phone)));
        self.FederalTaxId = ko.observable(@Html.Raw(Json.Encode(@Model.FederalTaxId)));
        self.GeoAddress = ko.observable(@Html.Raw(Json.Encode(@Model.GeoAddress)));
        self.Address = ko.observable(@Html.Raw(Json.Encode(@Model.Address)));
        self.Address1 = ko.observable(@Html.Raw(Json.Encode(@Model.Address1)));
        self.StateId = ko.observable(@Model.StateId);
        self.CityId = ko.observable(@Model.CityId);
        self.ZipId = ko.observable(@Model.ZipId);
        self.IsUserUpdate = ko.observable(@Html.Raw(Json.Encode(@Model.IsUserUpdate)));
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new EmployerShareViewModel();
    ko.applyBindings(sharedViewModel, $("#employer-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }
</script>
