﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Adjuster.DashboardAdjusterShareViewModel
 <!-- ko stopBinding: true -->
<div id="adjuster-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.BranchLookup("Branch", "Branch", new { data_bind = "value: BranchId" }, false, "", "", 0, @Model.BranchDataSource)
            </td>
            <td>
                @Html.WorkcompTextBox("FirstName", "First Name", "FirstName", true, 50)
            </td>
        </tr>

        <tr>
            <td>
                @Html.WorkcompTextBox("LastName", "Last Name", "LastName", true, 50)

            </td>
            <td>
               @Html.WorkcompTextBox("MiddleName", "Middle Name", "MiddleName", false, 50)
            </td>
            
        </tr>
        <tr>
            <td>
                @Html.WorkcompDatePicker("AssignedDate", "Assigned date", "AssignedDate", "MM/dd/yyyy")
            </td>
            <td>
               @Html.WorkcompTextBox("Address", "Address", "Address", true, 100)
            </td>
        </tr>
        <tr>
           
            <td>
                @Html.InputMasked("Phone","Phone","Phone","(999) 000-0000", true)
            </td>
            <td>
                @Html.WorkcompTextBox("Extension", "Extension", "Extension",false,50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Email", "Email", "Email", true)
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                @Html.StateLookup("State", "State", new { data_bind = "value: StateId" },true,"AddrGroup","",0, @Model.StateDataSource, true)
            </td>
            <td>
                @Html.CityLookup("City", "City", new { data_bind = "value: CityId" },true,"AddrGroup","",0, @Model.CityDataSource, true)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ZipLookup("Zip", "Zip", new { data_bind = "value: ZipId" },false,"AddrGroup","",0, @Model.ZipDataSource, true)
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompCheckBox("IsUserUpdate","Do not update from vendor file", "IsUserUpdate")
            </td>
            <td>
                @Html.WorkcompCheckBox("OptedOutSendMail", "Opted out of the Medication Monitoring Program", "OptedOutSendMail")
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function AdjusterShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.FirstName = ko.observable(@Html.Raw(Json.Encode(@Model.FirstName)));
        self.LastName = ko.observable(@Html.Raw(Json.Encode(@Model.LastName)));
        self.MiddleName = ko.observable(@Html.Raw(Json.Encode(@Model.MiddleName)));
        self.BranchId = ko.observable(@Model.BranchId);
        self.Email = ko.observable(@Html.Raw(Json.Encode(@Model.Email)));
        self.Phone = ko.observable(@Html.Raw(Json.Encode(@Model.Phone)));
        self.Extension = ko.observable(@Html.Raw(Json.Encode(@Model.Extension)));
        self.Address = ko.observable(@Html.Raw(Json.Encode(@Model.Address)));
        self.StateId = ko.observable(@Model.StateId);
        self.CityId = ko.observable(@Model.CityId);
        self.ZipId = ko.observable(@Model.ZipId);
        self.IsUserUpdate = ko.observable(@Model.IsUserUpdate.ToString().ToLower());
        self.OptedOutSendMail = ko.observable(@Model.OptedOutSendMail.ToString().ToLower());
        self.AssignedDate = ko.observable(@Html.Raw(Json.Encode(@Model.AssignedDate==null?"":Model.AssignedDate.Value.ToString("MM/dd/yyyy"))));
        // ComboBoxDisplayName use to show display name in combobox when user modify data from combobox
        self.ComboBoxDisplayName = ko.computed(function () {
            if (this.MiddleName() == null) {
                self.MiddleName('');
            }
            if (this.FirstName() == null) {
                self.FirstName('');
            }
            else if (this.LastName() == null) {
                self.LastName('');
            }
            return this.FirstName() + " " + this.MiddleName() + " " + this.LastName();
        },self);
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new AdjusterShareViewModel();
    ko.applyBindings(sharedViewModel, $("#adjuster-edit-share")[0]);
    function GetSharedViewModel() {
        return sharedViewModel;
    }
</script>
