﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Referral.DashboardClaimInfoForReferralViewModel

<!-- ko stopBinding: true -->
<div id="claim-info-referral">

    <table width="99%" cellpadding="0" borderspacing="0">
        
        <!--Start Referral source-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Referral Source</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ReferralSourceLookup("ReferralSource", "Name", new { data_bind = "value: ReferralSourceId" }, "", 0, @Model.ReferralSourceDataSource, true)
                            <div data-bind="if: ReferralSourceId" style="float: right;width: 100%;text-align: right;">
                                <div data-bind="if: Authorization() == 1">
                                    <span id="span-authorization-expiry"><a class="green" data-bind="text: AuthorizationValue"></a></span>
                                </div>
                                <div data-bind="if: Authorization() == 2">
                                    <span id="span-unauthorization-expiry"><a class="green" data-bind="text: AuthorizationValue"></a></span>
                                </div>
                                <div data-bind="if: Authorization() == 3">
                                    <span id="span-unauthorization-expiry"><a class="orange" data-bind="text: AuthorizationValue"></a></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div data-bind="if: ReferralSourceId">
                                @Html.WorkcompCheckBox("AdjusterIsReferral", "Adjuster is referral source", "AdjusterIsReferral")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.WorkcompTextBox("ReferralType", "Type", "ReferralType", false, 100, true)
                        </td>
                        <td>
                            @Html.WorkcompTextBox("ReferralCompany", "Company", "ReferralCompany", false, 100, true)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-bind="visible: IsShowInfoReferralSource">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralPhone", "Phone", "ReferralPhone", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralExtention", "Extention", "ReferralExtention", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralFax", "Fax", "ReferralFax", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralEmail", "Email", "ReferralEmail", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralAddress", "Address", "ReferralAddress", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralState", "State", "ReferralState", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralCity", "City", "ReferralCity", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralZip", "Zip", "ReferralZip", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="title-line"><span class="header-text">Pre-authorization date</span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralClaimDateFrom", "Claim date", "ReferralClaimDateFrom", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ReferralClaimDateTo", "To", "ReferralClaimDateTo", false, 100, true)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background: #f2f2f2; line-height: 20px;" colspan="2">
                            <div data-bind="ifnot: IsShowInfoReferralSource">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoReferralSource">More info</a>
                            </div>
                            <div data-bind="if: IsShowInfoReferralSource">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoReferralSource">Less info</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!--End Referral source-->

        <!--Start claim number-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Claim information</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ClaimNumberLookup("ClaimNumber", "Claim#", new { data_bind = "value: ClaimNumberId" }, true, "ClaimNumberInfoGroup", "", 0, @Model.ClaimNumberDataSource, true)
                            <div data-bind="if: ClaimNumberStatus() != ''" style="float: right;width: 100%;text-align: right;">
                                <div>
                                    <span style="color: #094AB2; font-size: 16px; font-weight: bold;">Status:</span>
                                    <span style="color: #094AB2; font-size: 16px; font-weight: bold; line-height: 25px; margin-left: 5px;" data-bind="text: ClaimNumberStatus()"></span>
                                </div>
                               
                            </div>
                        </td>
                        <td>
                            @Html.WorkcompTextBox("ClaimNumberDoi", "DOI", "ClaimNumberDoi", false, 100, true)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" data-bind="visible: IsShowClaimNumberInfo">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimNumberJurisdiction", "Claim Jurisdiction", "ClaimNumberJurisdiction", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextArea("ClaimNumberInstruction", "Special Instructions", "ClaimNumberInstruction", false, true, "k-textbox", null, "", 2, 2, 29, 70)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background: #f2f2f2; line-height: 20px;" colspan="2">
                            <div data-bind="ifnot: IsShowClaimNumberInfo">
                                <a href="javascript:void(0);" data-bind="click:ShowHideClaimNumberInfo">More info</a>
                            </div>
                            <div data-bind="if: IsShowClaimNumberInfo">
                                <a href="javascript:void(0);" data-bind="click:ShowHideClaimNumberInfo">Less info</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!--End claim number-->

        <!--Start payer-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Payer</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.PayerLookup("Payer", "Payer", new { data_bind = "value: PayerId" }, true, "ClaimNumberInfoGroup", "", 0, @Model.PayerDataSource, true)
                        </td>
                        <td>
                            @Html.BranchLookup("Branch", "Branch", new { data_bind = "value: BranchId" }, true, "ClaimNumberInfoGroup", "", 0, @Model.BranchDataSource)
                        </td>
                    </tr>
                     <tr>
                         <td>
                             @Html.ProductTypeLookup("ProductType", "Product Type", new { data_bind = "value: ProductTypeId" }, false, "ClaimNumberInfoGroup", "", 0, @Model.ProductTypeDataSource, true)
                         </td>
                         <td></td>
                    </tr>
                    
                    <tr>
                        <td colspan="2">
                            @Html.WorkcompTextArea("PayerInstruction", "Special Instructions", "PayerInstruction", false, true)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!--End payer-->

        <!--Start Adjuster source-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Adjuster</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="divAdjusterLookup" data-bind="style: { display: AdjusterIsReferral()? 'none' : 'block' }">
                                @Html.AdjusterLookup("Adjuster", "Name", new { data_bind = "value: AdjusterId" }, true, "ClaimNumberInfoGroup", "", 0, Model.AdjusterDataSource,true)
                                @*<div data-bind="if: AllowCreateReferral() != null && AllowCreateReferral() != true" style="float: right;width: 100%;text-align: right;">
                                    <div>
                                        <span style="color: #094AB2; font-size: 16px; font-weight: bold; line-height: 25px; margin-left: 5px;">Not allow create referral</span>
                                    </div>
                                </div>*@
                            </div>
                            <div id="divAdjusterText" data-bind="style: { display: AdjusterIsReferral()? 'block' : 'none' }">
                                @Html.WorkcompTextBox("ReferralSourceName", "Adjuster", "ReferralSourceName", false, 100, true)
                            </div>
                        </td>
                        <td>
                            @Html.WorkcompTextBox("AdjusterExternalId", "External Id", "AdjusterExternalId", false, 100, true)
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-bind="visible: IsShowInfoAdjuster">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterEmail", "Email", "AdjusterEmail", false, 100, true)
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterPhone", "Phone", "AdjusterPhone", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterExtension", "Extention", "AdjusterExtension", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterAddress", "Address", "AdjusterAddress", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterState", "State", "AdjusterState", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterCity", "City", "AdjusterCity", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("AdjusterZip", "Zip", "AdjusterZip", false, 100, true)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background: #f2f2f2; line-height: 20px;" colspan="2">
                            <div data-bind="ifnot: IsShowInfoAdjuster">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoAdjuster">More info</a>
                            </div>
                            <div data-bind="if: IsShowInfoAdjuster">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoAdjuster">Less info</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!--End Referral source-->

        <!--Start Claimant source-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Claimant’s Demographics</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ClaimantLookup("Claimant", "Name", new { data_bind = "value: ClaimantId" }, true, "ClaimNumberInfoGroup", "", 0, @Model.ClaimantDataSource, true)
                            <div data-bind="if: ExpirationDate() != ''" style="float: right;width: 100%;text-align: right;">
                                <div>
                                    <span style="color: #094AB2; font-size: 16px; font-weight: bold; line-height: 25px; margin-left: 5px;">Expiration</span>
                                </div>

                            </div>
                        </td>
                        <td>
                            @Html.WorkcompTextBox("ClaimantPayerPatientId", "Payer patient id", "ClaimantPayerPatientId", false, 100, true)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-bind="visible: IsShowInfoClaimant">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantHomePhone", "Home phone", "ClaimantHomePhone", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantCellPhone", "Cell phone", "ClaimantCellPhone", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantGender", "Gender", "ClaimantGender", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantDob", "Date of birth", "ClaimantDob", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantSsn", "SSN/ID", "ClaimantSsn", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantLanguage", "Language", "ClaimantLanguage", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantAddress1", "Address1", "ClaimantAddress1", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantAddress2", "Address1", "ClaimantAddress2", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.WorkcompTextBox("ClaimantState", "State", "ClaimantState", false, 100, true)</td>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantCity", "City", "ClaimantCity", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("ClaimantZip", "Zip", "ClaimantZip", false, 100, true)
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background: #f2f2f2; line-height: 20px;" colspan="2">
                            <div data-bind="ifnot: IsShowInfoClaimant">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoClaimant">More info</a>
                            </div>
                            <div data-bind="if: IsShowInfoClaimant">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoClaimant">Less info</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!--End Claimant-->

        <!--Start Case manager-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Case manager</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CaseManagerLookup("CaseManager", "Name", new { data_bind = "value: CaseManagerId" }, false, "ClaimNumberInfoGroup", "", 0, @Model.CaseManagerDataSource)
                        </td>
                        <td>
                            @Html.WorkcompTextBox("CaseManagerAgency", "Agency", "CaseManagerAgency", false, 100, true)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-bind="visible: IsShowInfoCaseManager">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerPhone", "Phone", "CaseManagerPhone", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerFax", "Fax", "CaseManagerFax", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerEmail", "Email", "CaseManagerEmail", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerAddress", "Address", "CaseManagerAddress", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextArea("CaseManagerInstruction", "Special Instructions", "CaseManagerInstruction", false, true, "k-textbox", null, "", 2, 2, 29, 70)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerState", "State", "CaseManagerState", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerCity", "City", "CaseManagerCity", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("CaseManagerZip", "Zip", "CaseManagerZip", false, 100, true)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background: #f2f2f2; line-height: 20px;" colspan="2">
                            <div data-bind="ifnot: IsShowInfoCaseManager">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoCaseManager">More info</a>
                            </div>
                            <div data-bind="if: IsShowInfoCaseManager">
                                <a href="javascript:void(0);" data-bind="click:ShowHideInfoCaseManager">Less info</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!--End Case manager-->
        
        <!--Start Employer-->

        <tr>
            <td colspan="2">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2">
                            <div class="title-line"><span class="header-text">Employer</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.EmployerLookup("Employer", "Name", new { data_bind = "value: EmployerId" },true, "ClaimNumberInfoGroup", "", 0, @Model.EmployerDataSource,true)
                        </td>
                        <td>
                            @Html.WorkcompTextBox("EmployerPhone", "Phone", "EmployerPhone", false, 100, true)
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" data-bind="visible: IsShowEmployerInfo">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("EmployerAddress", "Address", "EmployerAddress", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("EmployerState", "State", "EmployerState", false, 100, true)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.WorkcompTextBox("EmployerCity", "City", "EmployerCity", false, 100, true)
                                    </td>
                                    <td>
                                        @Html.WorkcompTextBox("EmployerZip", "Zip", "EmployerZip", false, 100, true)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background: #f2f2f2; line-height: 20px;" colspan="2">
                            <div data-bind="ifnot: IsShowEmployerInfo">
                                <a href="javascript:void(0);" data-bind="click:ShowHideEmployerInfo">More info</a>
                            </div>
                            <div data-bind="if: IsShowEmployerInfo">
                                <a href="javascript:void(0);" data-bind="click:ShowHideEmployerInfo">Less info</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--End Employer-->
    </table>

</div>

<!-- /ko -->

<script>

    function ReferralClaimInfoViewModel() {
        var self = this;
        // Start Referral source
        self.AdjusterIsReferral = ko.observable(@Model.AdjusterIsReferral.GetValueOrDefault().ToString().ToLower());
        self.ReferralSourceId = ko.observable(@Model.ReferralSourceInfo.ReferralSourceId);
        self.ReferralType = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralType)));
        self.ReferralCompany = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralCompany)));
        self.ReferralPhone = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralPhone)));
        self.ReferralExtention = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralExtention)));
        self.ReferralFax = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralFax)));
        self.ReferralEmail = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralEmail)));
        self.ReferralAddress = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralAddress)));
        self.ReferralState = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralState)));
        self.ReferralCity = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralCity)));
        self.ReferralZip = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralZip)));
        self.ReferralClaimDateFrom = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralClaimDateFrom)));
        self.ReferralClaimDateTo = ko.observable(@Html.Raw(Json.Encode(@Model.ReferralSourceInfo.ReferralClaimDateTo)));
        self.Authorization = ko.observable(@Model.ReferralSourceInfo.Authorization.Key);
        self.AuthorizationValue = ko.observable('@Model.ReferralSourceInfo.Authorization.Value');
        self.IsShowInfoReferralSource = ko.observable(false);
        self.ReferralSourceName = ko.observable(@Model.ReferralSourceInfo.ReferralSourceName);
        function getInfoWhenChangeReferralSourceInReferral(idReferralSource) {
            // get data for referral
            var url = "/Referral/GetInfoWhenChangeReferralSource";
            var data = { id: idReferralSource };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.ReferralType(result.ReferralType);
                        self.ReferralCompany(result.ReferralCompany);
                        self.ReferralPhone(result.ReferralPhone);
                        self.ReferralExtention(result.ReferralExtention);
                        self.ReferralFax(result.ReferralFax);
                        self.ReferralEmail(result.ReferralEmail);
                        self.ReferralAddress(result.ReferralAddress);
                        self.ReferralState(result.ReferralState);
                        self.ReferralCity(result.ReferralCity);
                        self.ReferralZip(result.ReferralZip);
                        self.ReferralClaimDateFrom(result.ReferralClaimDateFromStr);
                        self.ReferralClaimDateTo(result.ReferralClaimDateToStr);
                        self.Authorization(result.Authorization.Key);
                        self.AuthorizationValue(result.Authorization.Value);
                        self.ReferralSourceName(result.ReferralSourceName);
                    } else {
                        self.ReferralType("");
                        self.ReferralCompany("");
                        self.ReferralPhone("");
                        self.ReferralExtention("");
                        self.ReferralFax("");
                        self.ReferralEmail("");
                        self.ReferralAddress("");
                        self.ReferralState("");
                        self.ReferralCity("");
                        self.ReferralZip("");
                        self.ReferralClaimDateFrom("");
                        self.ReferralClaimDateTo("");
                        self.Authorization(0);
                        self.AuthorizationValue("");
                        self.ReferralSourceName("");
                    }
                }
            });

            if (self.ReferralSourceId() != null && self.ReferralSourceId() != 0) {
                // Change adjuster info
                self.AdjusterExternalId("");
                self.AdjusterEmail(self.ReferralEmail());
                self.AdjusterPhone(self.ReferralPhone());
                self.AdjusterExtension(self.ReferralExtention());
                self.AdjusterAddress(self.ReferralAddress());
                self.AdjusterState(self.ReferralState());
                self.AdjusterCity(self.ReferralCity());
                self.AdjusterZip(self.ReferralZip());
            }
        }

        // Listen when referal source change value

        Postbox.messages.subscribe(function (newValue) {
            var idReferralSource = newValue.value;
            getInfoWhenChangeReferralSourceInReferral(idReferralSource);
        }, self, "ReferralSource_");

        Postbox.messages.subscribe(function (newValue) {
            var idReferralSource = newValue.value;
            getInfoWhenChangeReferralSourceInReferral(idReferralSource);
        }, self, "ReferralSourceReturnPopup_");

        // Show hide info in referral source
        self.ShowHideInfoReferralSource = function () {
            if (self.IsShowInfoReferralSource()) {
                self.IsShowInfoReferralSource(false);
            } else {
                self.IsShowInfoReferralSource(true);
            }
        };
        // End Referral source

        // Start claim info
        self.ClaimNumberId = ko.observable(@Model.ClaimNumberInfo.ClaimNumberId);
        self.ClaimNumberDoi = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimNumberInfo.ClaimNumberDoi)));
        self.ClaimNumberJurisdiction = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimNumberInfo.ClaimNumberJurisdiction)));
        self.ClaimNumberInstruction = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimNumberInfo.ClaimNumberInstruction)));
        self.IsShowClaimNumberInfo = ko.observable(false);
        self.ClaimNumberStatus = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimNumberInfo.ClaimNumberStatus?? "")));
        // Show hide info in claim number
        self.ShowHideClaimNumberInfo = function () {
            if (self.IsShowClaimNumberInfo()) {
                self.IsShowClaimNumberInfo(false);
            } else {
                self.IsShowClaimNumberInfo(true);
            }
        };

        function getInfoWhenChangeClaimNumberInReferral(idClaimNumber) {
            // get data for referral
            var url = "/Referral/GetInfoWhenChangeClaimNumber";
            var data = { id: idClaimNumber };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'html; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.ClaimNumberDoi(result.ClaimNumberDoi);
                        self.ClaimNumberJurisdiction(result.ClaimNumberJurisdiction);
                        self.ClaimNumberInstruction(result.ClaimNumberInstruction);
                        self.ClaimNumberStatus(result.ClaimNumberStatus);
                    } else {
                        self.ClaimNumberDoi("");
                        self.ClaimNumberJurisdiction("");
                        self.ClaimNumberInstruction("");
                        self.ClaimNumberStatus('');
                    }
                }
            });
        }

        // Listen when referal source change value

        Postbox.messages.subscribe(function (newValue) {
            getInfoWhenChangeClaimNumberInReferral(newValue);
        }, self, "ClaimNumber_Parent");

        Postbox.messages.subscribe(function (newValue) {
            getInfoWhenChangeClaimNumberInReferral(newValue);
        }, self, "ClaimNumber_" + Postbox.RETURN_VALUE_TO_COMBOBOX);

        Postbox.messages.subscribe(function (newValue) {
            var idClaimNumber = newValue.value;
            getInfoWhenChangeClaimNumberInReferral(idClaimNumber);
        }, self, "ClaimNumberReturnPopup_");

        Postbox.messages.subscribe(function (newValue) {
            if (self.AdjusterIsReferral()) {
                self.AdjusterId(null);
                if (!_.isUndefined(lookup_ClaimNumber) && lookup_ClaimNumber != null) {
                    var data = lookup_ClaimNumber.ParentItems();
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].name == 'AdjusterId') {
                            lookup_ClaimNumber.ParentItems()[i].value = '';
                            break;
                        }
                    }
                }
            }
        }, self, "Adjuster_Change_ClaimNumberInfoGroup");
        // End claim info

        // Start payer info
        self.PayerId = ko.observable(@Model.PayerInfo.PayerId);
        self.PayerInstruction = ko.observable(@Html.Raw(Json.Encode(@Model.PayerInfo.PayerInstruction)));
        self.BranchId = ko.observable(@Model.BranchId);
        self.ProductTypeId = ko.observable(@Model.ProductTypeId);

        function getInfoWhenChangePayerInReferral(idPayer) { // get data for referral
            var url = "/Referral/GetInfoWhenChangePayer";
            var data = { id: idPayer };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function(result) {
                    if (result != '') {
                        self.PayerId(result.PayerId);
                        self.PayerInstruction(result.PayerInstruction);
                    } else {
                        self.PayerId("");
                        self.PayerInstruction("");
                    }
                }
            });
        } // Listen when referal source change value
        Postbox.messages.subscribe(function(newValue) {
            var idPayer = newValue.value;
            getInfoWhenChangePayerInReferral(idPayer);
        }, self, "Payer_ClaimNumberInfoGroup");
        Postbox.messages.subscribe(function(newValue) {
            var idPayer = newValue.value;
            getInfoWhenChangePayerInReferral(idPayer);
        }, self, "PayerReturnPopup_ClaimNumberInfoGroup"); // End payer info
        //Start Branch
        
        //End Branch
// Start Adjuster
        self.AdjusterId = ko.observable(@Model.AdjusterInfo.AdjusterId);
        self.AdjusterExternalId = ko.observable(@Html.Raw(Json.Encode(Model.AdjusterInfo.AdjusterExternalId ?? string.Empty)));
        self.AdjusterEmail = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterEmail ?? string.Empty)));
        self.AdjusterPhone = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterPhone ?? string.Empty)));
        self.AdjusterExtension = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterExtension ?? string.Empty)));
        self.AdjusterAddress = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterAddress ?? string.Empty)));
        self.AdjusterState = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterState ?? string.Empty)));
        self.AdjusterCity = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterCity ?? string.Empty)));
        self.AdjusterZip = ko.observable(@Html.Raw(Json.Encode(@Model.AdjusterInfo.AdjusterZip?? string.Empty)));
        self.AllowCreateReferral = ko.observable(@(Model.AdjusterInfo.AllowCreateReferral != null? Model.AdjusterInfo.AllowCreateReferral.ToString().ToLower(): null));
        self.IsShowInfoAdjuster = ko.observable(false);
        
        // Show hide info in adjuster
        self.ShowHideInfoAdjuster = function () {
            if (self.IsShowInfoAdjuster()) {
                self.IsShowInfoAdjuster(false);
            } else {
                self.IsShowInfoAdjuster(true);
            }
        };
        function getInfoWhenChangeAdjusterInReferral(idAdjuster) {
            // get data for Adjuster
            if (self.AdjusterIsReferral()) {
                return;
            }
            var url = "/Referral/GetInfoWhenChangeAdjuster";
            var data = { id: idAdjuster };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.AdjusterExternalId(result.AdjusterExternalId == null? "": result.AdjusterExternalId);
                        self.AdjusterEmail(result.AdjusterEmail);
                        self.AdjusterPhone(result.AdjusterPhone);
                        self.AdjusterExtension(result.AdjusterExtension);
                        self.AdjusterAddress(result.AdjusterAddress);
                        self.AdjusterState(result.AdjusterState);
                        self.AdjusterCity(result.AdjusterCity);
                        self.AdjusterZip(result.AdjusterZip);
                        self.AllowCreateReferral(result.AllowCreateReferral == null ? false : result.AllowCreateReferral);

                    } else {
                        self.AdjusterExternalId("");
                        self.AdjusterEmail("");
                        self.AdjusterPhone("");
                        self.AdjusterExtension("");
                        self.AdjusterAddress("");
                        self.AdjusterState("");
                        self.AdjusterCity("");
                        self.AdjusterZip("");
                        self.AllowCreateReferral(null);
                    }
                }
            });
        }

        // Listen when adjuster source change value

        Postbox.messages.subscribe(function (newValue) {
            var idAdjuster = newValue.value;
            getInfoWhenChangeAdjusterInReferral(idAdjuster);
        }, self, "Adjuster_ClaimNumberInfoGroup");

        Postbox.messages.subscribe(function (newValue) {
            var idAdjuster = newValue.value;
            getInfoWhenChangeAdjusterInReferral(idAdjuster);
        }, self, "AdjusterReturnPopup_ClaimNumberInfoGroup");

        // Show hide info in referral source
        self.ShowHideInfoReferralSource = function () {
            if (self.IsShowInfoReferralSource()) {
                self.IsShowInfoReferralSource(false);
            } else {
                self.IsShowInfoReferralSource(true);
            }
        };

        // Check when change checkbox "Adjuster is referral source"
        self.AdjusterIsReferral.subscribe(function (newValue) {
            if (self.ReferralSourceId() == null || self.ReferralSourceId() == 0) {
                return;
            }
            var divAdjusterLookup = $('#divAdjusterLookup');
            var divAdjusterText = $('#divAdjusterText');
            if (newValue) {
                divAdjusterText.show();
                divAdjusterLookup.hide();
                // Change adjuster info
                self.AdjusterExternalId("");
                self.AdjusterEmail(self.ReferralEmail());
                self.AdjusterPhone(self.ReferralPhone());
                self.AdjusterExtension(self.ReferralExtention());
                self.AdjusterAddress(self.ReferralAddress());
                self.AdjusterState(self.ReferralState());
                self.AdjusterCity(self.ReferralCity());
                self.AdjusterZip(self.ReferralZip());
            } else {
                divAdjusterText.hide();
                divAdjusterLookup.show();
                //self.AdjusterId(null);
                if (self.AdjusterId() == null) {
                    getAdjusterWhenAdjusterIdIsNull(self.ClaimNumberId());
                } else {
                    Postbox.messages.notifySubscribers({ value: self.AdjusterId() }, "Adjuster_ClaimNumberInfoGroup");
                }
                self.AdjusterId(null);
            }
        });

        function getAdjusterWhenAdjusterIdIsNull(claimNumberId) {
            // get data for Adjuster
            if (self.AdjusterIsReferral()) {
                return;
            }
            var url = "/Referral/GetAdjusterWhenAdjusterIdIsNull";
            var data = { id: claimNumberId };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.AdjusterExternalId(result.AdjusterExternalId == null ? "" : result.AdjusterExternalId);
                        self.AdjusterEmail(result.AdjusterEmail);
                        self.AdjusterPhone(result.AdjusterPhone);
                        self.AdjusterExtension(result.AdjusterExtension);
                        self.AdjusterAddress(result.AdjusterAddress);
                        self.AdjusterState(result.AdjusterState);
                        self.AdjusterCity(result.AdjusterCity);
                        self.AdjusterZip(result.AdjusterZip);
                    } else {
                        self.AdjusterExternalId("");
                        self.AdjusterEmail("");
                        self.AdjusterPhone("");
                        self.AdjusterExtension("");
                        self.AdjusterAddress("");
                        self.AdjusterState("");
                        self.AdjusterCity("");
                        self.AdjusterZip("");
                    }
                }
            });
        }
        // End adjuster source

        // Start Claimant
        self.ClaimantId = ko.observable(@Model.ClaimantInfo.ClaimantId);
        self.ClaimantPayerPatientId = ko.observable(@Model.ClaimantInfo.ClaimantPayerPatientId);
        self.ClaimantHomePhone = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantHomePhone)));
        self.ClaimantCellPhone = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantCellPhone)));
        self.ClaimantGender = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantGender)));
        self.ClaimantDob = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantDob)));
        self.ClaimantSsn = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantSsn)));
        self.ClaimantLanguage = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantLanguage)));
        self.ClaimantAddress1 = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantAddress1)));
        self.ClaimantAddress2 = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantAddress2)));
        self.ClaimantState = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantState)));
        self.ClaimantCity = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantCity)));
        self.ClaimantZip = ko.observable(@Html.Raw(Json.Encode(@Model.ClaimantInfo.ClaimantZip)));
        self.ExpirationDate = ko.observable('@(Model.ClaimantInfo.ExpirationDate!= null? ((DateTime)Model.ClaimantInfo.ExpirationDate).ToString("MM/dd/yyyy"): "")');
        self.IsShowInfoClaimant = ko.observable(false);



        // Show hide info in Claimant
        self.ShowHideInfoClaimant = function () {
            if (self.IsShowInfoClaimant()) {
                self.IsShowInfoClaimant(false);
            } else {
                self.IsShowInfoClaimant(true);
            }
        };
        function getInfoWhenChangeClaimantInReferral(idClaimant) {
            // get data for Claimant
            var url = "/Referral/GetInfoWhenChangeClaimant";
            var data = { id: idClaimant };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.ClaimantPayerPatientId(result.ClaimantPayerPatientId);
                        self.ClaimantHomePhone(result.ClaimantHomePhone);
                        self.ClaimantCellPhone(result.ClaimantCellPhone);
                        self.ClaimantGender(result.ClaimantGender);
                        self.ClaimantDob(result.ClaimantDob);
                        self.ClaimantSsn(result.ClaimantSsn);
                        self.ClaimantLanguage(result.ClaimantLanguage);
                        self.ClaimantAddress1(result.ClaimantAddress1);
                        self.ClaimantAddress2(result.ClaimantAddress2);
                        self.ClaimantState(result.ClaimantState);
                        self.ClaimantCity(result.ClaimantCity);
                        self.ClaimantZip(result.ClaimantZip);
                        self.ExpirationDate(result.ExpirationDate!= null? result.ExpirationDate: '');
                    } else {
                        self.ClaimantPayerPatientId("");
                        self.ClaimantHomePhone("");
                        self.ClaimantCellPhone("");
                        self.ClaimantGender("");
                        self.ClaimantDob("");
                        self.ClaimantSsn("");
                        self.ClaimantLanguage("");
                        self.ClaimantAddress1("");
                        self.ClaimantAddress2("");
                        self.ClaimantState("");
                        self.ClaimantCity("");
                        self.ClaimantZip("");
                        self.ExpirationDate('');
                    }
                }
            });
        }

        // Listen when Claimant source change value

        Postbox.messages.subscribe(function (newValue) {
            var idClaimant = newValue.value;
            getInfoWhenChangeClaimantInReferral(idClaimant);
        }, self, "Claimant_ClaimNumberInfoGroup");

        Postbox.messages.subscribe(function (newValue) {
            var idClaimant = newValue.value;
            getInfoWhenChangeClaimantInReferral(idClaimant);
        }, self, "ClaimantReturnPopup_ClaimNumberInfoGroup");

        // End Claimant

        // Start CaseManager
        self.CaseManagerId = ko.observable(@Model.CaseManagerInfo.CaseManagerId);
        self.CaseManagerAgency = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerAgency)));
        self.CaseManagerPhone = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerPhone)));
        self.CaseManagerFax = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerFax)));
        self.CaseManagerEmail = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerEmail)));
        self.CaseManagerAddress = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerAddress)));
        self.CaseManagerInstruction = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerInstruction)));
        self.CaseManagerState = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerState)));
        self.CaseManagerCity = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerCity)));
        self.CaseManagerZip = ko.observable(@Html.Raw(Json.Encode(@Model.CaseManagerInfo.CaseManagerZip)));
        self.IsShowInfoCaseManager = ko.observable(false);

        // Show hide info in CaseManager
        self.ShowHideInfoCaseManager = function () {
            if (self.IsShowInfoCaseManager()) {
                self.IsShowInfoCaseManager(false);
            } else {
                self.IsShowInfoCaseManager(true);
            }
        };
        function getInfoWhenChangeCaseManagerInReferral(idCaseManager) {
            // get data for CaseManager
            var url = "/Referral/GetInfoWhenChangeCaseManager";
            var data = { id: idCaseManager };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.CaseManagerAgency(result.CaseManagerAgency);
                        self.CaseManagerPhone(result.CaseManagerPhone);
                        self.CaseManagerFax(result.CaseManagerFax);
                        self.CaseManagerEmail(result.CaseManagerEmail);
                        self.CaseManagerAddress(result.CaseManagerAddress);
                        self.CaseManagerInstruction(result.CaseManagerInstruction);
                        self.CaseManagerState(result.CaseManagerState);
                        self.CaseManagerCity(result.CaseManagerCity);
                        self.CaseManagerZip(result.CaseManagerZip);
                    } else {
                        self.CaseManagerAgency("");
                        self.CaseManagerPhone("");
                        self.CaseManagerFax("");
                        self.CaseManagerEmail("");
                        self.CaseManagerAddress("");
                        self.CaseManagerInstruction("");
                        self.CaseManagerState("");
                        self.CaseManagerCity("");
                        self.CaseManagerZip("");
                    }
                }
            });
        }

        // Listen when CaseManager source change value

        Postbox.messages.subscribe(function (newValue) {
            var idCaseManager = newValue.value;
            getInfoWhenChangeCaseManagerInReferral(idCaseManager);
        }, self, "CaseManager_ClaimNumberInfoGroup");

        Postbox.messages.subscribe(function (newValue) {
            var idCaseManager = newValue.value;
            getInfoWhenChangeCaseManagerInReferral(idCaseManager);
        }, self, "CaseManagerReturnPopup_ClaimNumberInfoGroup");

        // End CaseManager

        // Start Employer info
        self.EmployerId = ko.observable(@Model.EmployerInfo.EmployerId);
        self.EmployerPhone = ko.observable(@Html.Raw(Json.Encode(@Model.EmployerInfo.EmployerPhone)));
        self.EmployerAddress = ko.observable(@Html.Raw(Json.Encode(@Model.EmployerInfo.EmployerAddress)));
        self.EmployerState = ko.observable(@Html.Raw(Json.Encode(@Model.EmployerInfo.EmployerState)));
        self.EmployerCity = ko.observable(@Html.Raw(Json.Encode(@Model.EmployerInfo.EmployerCity)));
        self.EmployerZip = ko.observable(@Html.Raw(Json.Encode(@Model.EmployerInfo.EmployerZip)));
        self.IsShowEmployerInfo = ko.observable(false);
        // Show hide info in Employer
        self.ShowHideEmployerInfo = function () {
            if (self.IsShowEmployerInfo()) {
                self.IsShowEmployerInfo(false);
            } else {
                self.IsShowEmployerInfo(true);
            }
        };

        function getInfoWhenChangeEmployerInReferral(idEmployer) {
            // get data for referral
            var url = "/Referral/GetInfoWhenChangeEmployer";
            var data = { id: idEmployer };
            $.ajax({
                type: "GET",
                url: url,
                data: data,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != '') {
                        self.EmployerPhone(result.EmployerPhone);
                        self.EmployerAddress(result.EmployerAddress);
                        self.EmployerState(result.EmployerState);
                        self.EmployerCity(result.EmployerCity);
                        self.EmployerZip(result.EmployerZip);
                    } else {
                        self.EmployerPhone("");
                        self.EmployerAddress("");
                        self.EmployerState("");
                        self.EmployerCity("");
                        self.EmployerZip("");
                    }
                }
            });
        }

        // Listen when referal source change value

        Postbox.messages.subscribe(function (newValue) {
            var idEmployer = newValue.value;
            getInfoWhenChangeEmployerInReferral(idEmployer);
        }, self, "Employer_ClaimNumberInfoGroup");

        Postbox.messages.subscribe(function (newValue) {
            var idEmployer = newValue.value;
            getInfoWhenChangeEmployerInReferral(idEmployer);
        }, self, "EmployerReturnPopup_ClaimNumberInfoGroup");
        // End Employer info
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var claimInfoViewModel = new ReferralClaimInfoViewModel();
    ko.applyBindings(claimInfoViewModel, $("#claim-info-referral")[0]);
    function GetClaimInfoViewModel() {
        return {
            ReferralSourceId: claimInfoViewModel.ReferralSourceId(),
            AdjusterIsReferral: claimInfoViewModel.AdjusterIsReferral(),
            ClaimNumberId: claimInfoViewModel.ClaimNumberId(),
            PayerId: claimInfoViewModel.PayerId(),
            BranchId: claimInfoViewModel.BranchId(),
            ProductTypeId: claimInfoViewModel.ProductTypeId(),
            AdjusterId: claimInfoViewModel.AdjusterId(),
            ClaimantId: claimInfoViewModel.ClaimantId(),
            CaseManagerId: claimInfoViewModel.CaseManagerId(),
            EmployerId: claimInfoViewModel.EmployerId(),
        };
    }
</script>