﻿@model Framework.DomainModel.ValueObject.LookupItemVo
<!-- ko stopBinding: true -->
<div id="referral-detail-diary-content">
    <div style="border-bottom: 1px solid #DADADA; height: 30px">
        <button id="AddDiary" type="button" class="k-button" style="float: right;" data-bind="click: AddDiary"><span class="fa fa-plus"></span> Add new</button>
    </div>
    <div id="grid-diary" style="height: 100%"></div>
</div>
<!-- /ko -->

<script id="dairy-template" type="text/x-kendo-template">
    <div class=""> 
        #=CommentResult#
     </div>
</script>
<script type="text/javascript">
    
    
    function DiaryGridViewModel(referralId, elementGrid) {

        var schemaFieldsDiary = {
            Id:{editable: false},
            Heading: { editable: false },
            Reason: { editable: false },
            CommentResult: { editable: false },
            CreatedBy: { editable: false },
            CreatedDateStr: { editable: false, type: "date" },
        };
        var columnsDiary = [
            
            { field: "Heading", title: "Heading", width: "100px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
            { field: "Reason", title: "Reason", width: "100px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false },
            { field: "CommentResult", title: "Comment", width: "200px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, template: kendo.template($("#dairy-template").html()) },
            { field: "CreatedBy", title: "Created By", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false },
            { field: "CreatedDateStr", title: "Created Date", width: "75px", attributes: { style: 'text-align:left;' }, sortable: true, hidden: false, format: "{0:MM/dd/yyyy hh:mm tt}" }
        ];

        var listDiaryByReferral;
        var models = { ParentId: referralId };
        var urlGetListDiaryReferral = '/Diary/GetDataForGrid';
        var request = $.ajax({ cache: false, async: false, url: urlGetListDiaryReferral, data: models, type: "GET", dataType: "json" });
        request.done(function(result) {
            if (_.isUndefined(result.Error) && _.isEmpty(result.Error)) {
                listDiaryByReferral = result;
                // Get height
                
                var heightGrid = $(window).innerHeight() - 40-41-60-30;
                $(elementGrid).kendoGrid({
                    dataSource: {
                        data: listDiaryByReferral.Data,
                        schema: {
                            model: {
                                fields: {
                                    Data: schemaFieldsDiary,
                                }
                            }
                        }
                    },
                    sortable: false,
                    pageable: false,
                    columns: columnsDiary,
                    height: heightGrid,
                    scrollable: { virtual: true },
                    dataBound: function(e) {
                    },
                });
            }
        });


        Postbox.messages.subscribe(function (value) {
            var result, kendoGrid, dataSource;
            if (value == 'Diary') {
                models = { ParentId: referralId };
                request = $.ajax({ cache: false, async: false, url: urlGetListDiaryReferral, data: models, type: "GET", dataType: "json" });
                request.done(function (data) { result = data; });
                kendoGrid = $(elementGrid).data("kendoGrid");
                dataSource = new kendo.data.DataSource({
                    data: result.Data,
                    schema: {
                        model: {
                            fields: {
                                TaskTab: schemaFieldsDiary,
                            }
                        }
                    }
                });
                kendoGrid.setDataSource(dataSource);
            }
        }, self, Postbox.RETURN_VALUE_FOR_GRID);
    }

    $(document).ready(function() {
    var diaryGridViewModel = new DiaryGridViewModel(@Model.KeyId, '#grid-diary');
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
        ko.applyBindings(diaryGridViewModel, $("#grid-diary")[0]);
    
    });

    function ReferralDetailDiaryInfo(referralid, lookuplaluereferral) {
        var self = this;
        var referralId = referralid;
        var lookupValueReferral = lookuplaluereferral;
        self.AddDiary = function () {
            ShowPopupWhenClickOnLookup(1250, 800, '', { Id: referralId, Value: lookupValueReferral, Type: 'Diary' }, "/Diary/Create?type=1");
        };
    }
    var detailReferralDiaryInfo = new ReferralDetailDiaryInfo(@Model.KeyId,'@Model.DisplayName');
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    ko.applyBindings(detailReferralDiaryInfo, $("#referral-detail-diary-content")[0]);
   
    //End Referral Diary Info  
</script>