﻿@using WorkComp.HtmlHelpers
@using Framework.DomainModel.Entities
@model WorkComp.Models.Referral.DashboardMedicationHistoryInfoForReferralViewModel

<!-- ko stopBinding: true -->
<div id="medication-history-info-referral">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td>
                @Html.WorkcompCheckBox("NoMedicationHistory", "No medication history provided", "NoMedicationHistory")
            </td>
        </tr>
        <tr>
            <td>
                <div data-bind="style: { display: CheckShowMedicationHistory()? 'block' : 'none' }">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="title-line"><span class="header-text">Prescribed Medication List</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height: 30px">
                                    <button id="taxMedicationAdd" type="button" class="btn pull-right k-button" data-bind="click: AddMedication">Add</button>
                                </div>
                                <div style="height: 350px">

                                    <div id="grid-container-medication-referral" style="width: 100%; height: 100%; position: relative;border: 1px solid #dcdcdc;">
                                        <div id="@Model.MedicationHistoryGridInfo.GridId" style="height: 100%; width: 100%;"></div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>
    function MedicationHistoryInfoViewModel() {
        var self = this;
        self.NoMedicationHistory = ko.observable(@Model.NoMedicationHistory.ToString().ToLower());
        self.CheckShowMedicationHistory = ko.computed(function () {
            if (self.NoMedicationHistory()) {
                return false;
            } else {
                return true;
            }
        }, self);
        self.AddMedication = function () {
            var grid = $("#" + gridId).data("kendoGrid");
            var lastRow = grid.tbody.find("tr:last");
            if (!validateNewRecords(grid, lastRow)) {
                return;
            }
            var dataSource = grid.dataSource;
            var dataTableItem = {
                RowGuid: generateGuid(),
                Id: 0,
                DrugClass: '',
                DaysSupply: '',
                Dosage: '',
                DosageUnit: { Name: '', KeyId: 0 },
                ProvidedBy: { Name: '', KeyId: 0 },
                FillDate: '',
                Drug: { Name: '', KeyId: 0 }
            };
            dataSource.add(dataTableItem).dirty = true;
            grid.refresh();
            lastRow = grid.tbody.find("tr:last");
            grid.select(lastRow);
        };
        var gridId = '@Model.MedicationHistoryGridInfo.GridId';
        function validateNewRecords(grid, row) {
            var valid = true;

            // Get the model
            var model = grid.dataItem(row);
            if (model == null) {
                return true;
            }
            // Check the id property - this will indicate an insert row
            var colPanel = $(row).find("td")[0];
            if (model.Drug == null || model.Drug.KeyId <= 0) {
                grid.editCell($(colPanel));
                if (grid.editable && !grid.editable.end()) {
                    valid = false;
                }
                else {
                    // Take cell out of edit mode
                    grid.closeCell();
                }
            } else {
                var checkExists = false;
                // See if there are any insert rows
                var rows = grid.tbody.find("tr");
                var rowIndex = $("tr", grid.tbody).index(row);
                // Check exist the name before
                for (var j = rows.length - 1; j >= 0; j--) {
                    if (j != rowIndex) {
                        var modelTemp = grid.dataItem(rows[j]);
                        if (modelTemp.Drug.KeyId == model.Drug.KeyId) {
                            checkExists = true;
                            break;
                        }
                    }

                }
                if (checkExists) {
                    grid.editCell($(colPanel));
                    valid = false;
                }
            }
            return valid;
        };

        var readUrl = "/Referral/GetMedicationHistories?referralId=@Model.ReferralId";
        var schemaFields = {
            id: "RowGuid",
            fields: {
                RowGuid: { editable: false, nullable: false },
                Id: { editable: false, nullable: false },
                Drug: { defaultValue: { Name: "", KeyId: -1 }, editable: true },
                DrugId: { editable: true, validation: { required: true } },
                DrugClass: { editable: false },
                DaysSupply: { editable: true, type: "number", validation: { required: true, min: 1, max: 999 } },
                Dosage: { editable: true },
                DosageUnit: { defaultValue: { Name: "", KeyId: -1 }, editable: true },
                ProvidedBy: { defaultValue: { Name: "", KeyId: -1 }, editable: true },
                FillDate: { editable: true, type: "date" },
            }
        };
        var icdRemoveTemplate = "<i class='k-icon k-delete' onclick=\"removeMedicationHistoryRow(\'#= RowGuid #\'); return false;\"></i>";
        var columns = [
           {
               field: "Drug",
               title: "Drug Name",
               width: "200px",
               editor: drugNameLookupEditor,
               template: "#=dirtyField(data,'Drug')#  #if (Drug.Name === null || Drug.Name === undefined) { ##=''## }else{##=Drug.Name##}#"
           },
            {
                field: "DrugClass",
                title: 'Class',
                width: "100px",
            },
            {
                field: "DaysSupply",
                title: 'Days Supply',
                width: "100px",
                template: "#=dirtyField(data,'DaysSupply')# #:DaysSupply#"
            },
             {
                 field: "Dosage",
                 title: "Dosage",
                 width: "50px",
                 template: "#=dirtyField(data,'Dosage')# #:Dosage#"
             },
            {
                field: "DosageUnit",
                title: "Dosage Unit",
                width: "100px",
                editor: dosageUnitByLookupEditor,
                template: "#=dirtyField(data,'DosageUnit')#  #if (DosageUnit.Name === null || DosageUnit.Name === undefined) { ##=''## }else{##=DosageUnit.Name##}#"
            },
            {
                field: "ProvidedBy",
                title: "Provided By",
                width: "100px",
                editor: providedByLookupEditor,
                template: "#=dirtyField(data,'ProvidedBy')#  #if (ProvidedBy.Name === null || ProvidedBy.Name === undefined) { ##=''## }else{##=ProvidedBy.Name##}#"
            },
            {
                field: "FillDate",
                title: "Fill date",
                width: "100px",
                type: "date",
                format: "{0:MM/dd/yyyy}",
                parseFormats: ["MM/dd/yyyy"]
            },
            {
                title: '',
                width: "15px",
                template: icdRemoveTemplate
            }
        ];
        var editableTemplate = {
            editable: true,
        };

        var gridMedicationHistory = new EditableGridViewModel(gridId, schemaFields, columns, readUrl, null, editableTemplate);
        ko.applyBindings(gridMedicationHistory, $("#grid-container-medication-referral")[0]);

        function drugNameLookupEditor(container, options) {
            var urlToReadPanel = "/Drug/GetLookup";
            var drugValidation = '@GridExtensions.GetValidationForKendoEditor(typeof(Drug), "Id", "Name is required.")';
            KendoLookupEditor("grid-drug-id", container, options, { valueField: options.field, keyIdField: "Id" }, urlToReadPanel, null, drugValidation, null, null);
        }

        function providedByLookupEditor(container, options) {
            var urlToReadPanel = "/ReferralType/GetLookup";
            KendoLookupEditor("grid-drug-id", container, options, { valueField: options.field, keyIdField: "Id" }, urlToReadPanel, null, null, null, null);
        }

        function dosageUnitByLookupEditor(container, options) {
            var urlToReadPanel = "/Common/DosageUnitLookup";
            KendoLookupEditor("grid-drug-id", container, options, { valueField: options.field, keyIdField: "Id" }, urlToReadPanel, null, null, null, null);
        }

        // Get Data Unsave of MedicationHistory
        self.getUnsaveMedicationHistory = function() {
            return gridMedicationHistory.DataSource().GetUnsavedData();
        };

        self.getAllMedicationHistory = function() {
            return gridMedicationHistory.DataSource().GetAllData();
        };
        
        Postbox.messages.subscribe(function (newValue) {
            var idDrug = newValue;
            // select all datasource where id=idDrug
            var dataSourceGrid = gridMedicationHistory.DataSource().data();
            for (var idx = 0, length = dataSourceGrid.length; idx < length; idx++) {
                var item = dataSourceGrid[idx];
                if (item.Drug != null && item.Drug.KeyId == idDrug) {
                    // Get value for drug class
                    var url = "/Drug/GetItem";
                    var data = { idDrug: idDrug };
                    $.ajax({
                        type: "GET",
                        url: url,
                        data: data,
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            if (result != '') {
                                item.DrugClass = result.DrugClass;
                            } else {
                                item.DrugClass = "";
                            }
                            var grid = $("#@Model.MedicationHistoryGridInfo.GridId").data("kendoGrid");
                            grid.refresh();
                        }
                    });
                    break;
                }
            }
        }, self, "Drug_" + Postbox.CHANGE_VALUE_FOR_COMBOBOX_IN_GRID);
    }

    var medicationHistorySelectedRowIndex = null;

    function getRowIndexOfSelectedRow() {
        var grid = $("#@Model.MedicationHistoryGridInfo.GridId").data("kendoGrid");
        var selectedRow = grid.select();
        var rowIndex = $("tr", grid.tbody).index(selectedRow);
        return rowIndex;
    }

    // Remove drug code row
    function removeMedicationHistoryRow(id) {
        var grid = $("#@Model.MedicationHistoryGridInfo.GridId").data("kendoGrid");
        var row = grid.select();
        var rowIndex = getRowIndexOfSelectedRow();

        if (rowIndex > 0) {
            medicationHistorySelectedRowIndex = rowIndex - 1; // set previous row selection
        }
        else if (rowIndex == 0 && $("tr", grid.tbody).length > 1) {
            medicationHistorySelectedRowIndex = rowIndex; // set next row selection
        }
        else {
            Postbox.messages.notifySubscribers(null, "@Model.MedicationHistoryGridInfo.GridId" + "_SELECTION"); // No row left, refresh the page.
        }
    grid.removeRow(row);
    grid.refresh();
}

// This allows us to have nested bindings.
ko.bindingHandlers.stopBinding = {
    init: function () {
        return { controlsDescendantBindings: true };
    }
};
ko.virtualElements.allowedBindings.stopBinding = true;

var medicationInfoViewModel = new MedicationHistoryInfoViewModel();
ko.applyBindings(medicationInfoViewModel, $("#medication-history-info-referral")[0]);

function GetMedicationHistoryInfoViewModel() {
    return {
        NoMedicationHistory: medicationInfoViewModel.NoMedicationHistory(),
        MedicationList: medicationInfoViewModel.getAllMedicationHistory()
};
}
</script>


