﻿@model WorkComp.Models.Referral.ReferralPrintViewModel
<link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/grid.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.PrintArea.js")"></script>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="print-referral" style="width: 100%">
    <!-- ko stopBinding: true -->
    <div class="main">
        <div class="content" id="grid-container-referral">
            <div id="grid-referral" style="width: 100%"></div>
        </div>
    </div>
    <!-- /ko -->
</form>
@section FooterActions
{
    @Model.AddFooterAction("Print", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

@section scripts
{
    <script id="templatetooltip" type="text/x-kendo-template">    
    <span class="colortootiptemplate">#=target.data('title')#</span>    
    </script>
    <script type="text/x-kendo-template" id="templateStatus">
    <a href='javascript:void(0);'><span class='tooltip-status 
   #if(Status== 'Open') {#
        fa fa-square color-status-open
    #} else if(Status == 'Canceled') {#
        fa fa-square color-status-cancel
    #}else if(Status == 'Completed') {# 
        fa fa-check-square color-status-complate
    #}else if(Status == 'Pending') {#
        fa fa-square color-status-pending
    #}else if(Status == 'Reopen') {#
        fa fa-square color-status-open
    #}#
    ' title='#=Status#'></span></a>
    </script>


    <script type="text/x-kendo-template" id="templateDuration">
    #if(CategoryDuration) {#
    <div class="duration green" style="width: 100%">
             <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, "MM/dd/yyyy hh:mm tt")#">                
            </div><!--end start-->
             <!--timeline-->
            <div class="timeline" style="width: 69%">
                 <!--timeactive-->
                <div class="timeactive" style="width: #=DurationPercentLeft#%">
                    <span>#=DurationFormat#</span>
                </div><!--end timeactive-->
            </div><!--end timeline-->
             <!--end-->
        <div class="due" title="Follow Up Date: #=kendo.toString(DueDate, "MM/dd/yyyy hh:mm tt")#">
            </div><!--end end-->
        </div><!--end duration-->   
    #} else {# 
        <div class="duration red" style="width: 100%">
                <!--start-->
            <div class="start" title="Start Date: #=kendo.toString(StartDate, "MM/dd/yyyy hh:mm tt")#">                
            </div><!--end start-->
                <!--timeline-->
            <div class="timeline over" style="width: #=DurationPercentLeft#%">                    
                <div class="due" default-percent="#=DurationPercentLeft#" style="margin-left: #=DurationPercentLeft#px" title="Follow Up Date: #=kendo.toString(DueDate, " MM/dd/yyyy hh:mm tt")#"></div><!--end end-->  
                <span>#=DurationFormat#</span>                 
            </div><!--end timeline-->
                <!--end-->
                
        </div><!--end duration-->
    #}#
    </script>
    <script>
        $(window).load(function() {
            $(".wrapper .title").hide();
            $(".wrapper .content").css({ height: parseInt($(".wrapper .content").css("height").replace("px", "")) + 31, "overflow": "hidden" });
            EnableCreateFooterButton(true);
        });

        function ReferralPrintViewModel() {
            var self = this;
            self.ModelState = ko.observable();
            self.ModelState.subscribe(function (newValue) {
                Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
            });
            Postbox.messages.subscribe(function () {
                var options = { mode: 'iframe', popClose: false, extraCss: 'true', retainAttr: 'class,id,style,on', extraHead: '', popTitle: 'SysRx' };
                var print = "#print-referral";
                $(print).printArea(options);
            }, self, Postbox.FOOTER_ACTION_SAVE);

            Postbox.messages.subscribe(function () {
                ClosePopupKendo(false);
            }, self, Postbox.FOOTER_ACTION_CLOSE);
        }
        var objPrintViewModel = new ReferralPrintViewModel();
        ko.applyBindings(objPrintViewModel, $("#print-referral")[0]);
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
        var schemaFields = {
            Id: { editable: false, type: "number" },
            IsChecked: { editable: false },
            StatusId: { editable: false },
            Note: { editable: false },
            TotalNote: { editable: false },
            Task: { editable: false },
            TotalTask: { editable: false },
            TotalTaskCompleted: { editable: false },
            ControlNumber: { editable: false },
            ProductType: { editable: false },
            Duration: { editable: false },
            DurationFormat: { editable: false },
            TreatingPhysicianName: { editable: false },
            TreatingPhysicianPhone: { editable: false },
            AssignTo: { editable: false },
            Status: { editable: false },
            Payer: { editable: false },
            Jurisdiction: { editable: false },
            Rush: { editable: false, type: "boolean" },
            StartDate: { editable: false, type: "date" },
            DueDate: { editable: false, type: "date", isTime: true },
            Claimant: { editable: false },
            ClaimNumber: { editable: false },
            PatientState: { editable: false },
            Doi: { editable: false, type: "date" },
            CreatedBy: { editable: false },
            CreatedDate: { editable: false, type: "date", isTime: true },
            DurationPercentLeft: { editable: false },
            DurationPercentRight: { editable: false },
            CategoryDuration: { editable: false, type: "boolean" },
        };
        var columns = [
            { field: "StatusId", title: "&nbsp;", attributes: { style: 'text-align:center;' }, width: "30px", sortable: false, filterable: false, menu: false, template: kendo.template($("#templateStatus").html()) },
            { field: "Id", title: "ID", width: "75px", attributes: { style: 'text-align:center;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "ControlNumber", title: "Control No", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "ProductType", title: "Product Type", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Duration", title: "Duration", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, template: kendo.template($("#templateDuration").html()) },
            { field: "TreatingPhysicianName", title: "Treating Physician Name", width: "150px", attributes: { style: 'text-align:Left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "TreatingPhysicianPhone", title: "Treating Physician Phone", width: "150px", attributes: { style: 'text-align:Left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "AssignTo", title: "AssignTo", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Status", title: "Status", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, hidden: false },
            { field: "Payer", title: "Payer", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Jurisdiction", title: "Jurisdiction", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Rush", title: "Rush", width: "150px", attributes: { style: 'text-align:center;' }, sortable: false, filterable: false, hidden: false, template: "<input type='checkbox'  #if(Rush) {#checked = 'checked'#}# disabled='disabled'/>" },
            { field: "DueDate", title: "Follow Up Date", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, menu: false, hidden: false, format: "{0:MM/dd/yyyy hh:mm tt}", filterable: { ui: "datetimepicker" } },
            { field: "Claimant", title: "Claimant", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "ClaimNumber", title: "Claim Number", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "PatientState", title: "Patient State", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "Doi", title: "DOI", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false, format: "{0:MM/dd/yyyy}" },
            { field: "CreatedBy", title: "Created By", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, filterable: false, menu: false, hidden: false },
            { field: "CreatedDate", title: "Created Date", width: "150px", attributes: { style: 'text-align:left;' }, sortable: false, menu: false, hidden: false, format: "{0:MM/dd/yyyy hh:mm tt}", filterable: { ui: "datetimepicker" } }
        ];
        var schemaFieldsTask = {};
        var columnsTask = [];
        var schemaFieldsNote = {};
        var columnsNote = [];
        var urlToGetData = "/Referral/GetDataPrintToReferral?selectedRowIdArray=@Model.ListReferralIdSelectedString";
        var gridViewModelReferral = new GridViewModelReferral('grid-referral', 'Referral', schemaFields, columns, schemaFieldsTask,
            columnsTask, schemaFieldsNote, columnsNote, @Model.CurrentUserId, 25,
            'Referral', 'All', 800, 600, false, true, true, urlToGetData);
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function() {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;
        ko.applyBindings(gridViewModelReferral, $("#grid-container-referral")[0]);
        gridViewModelReferral.init();
    </script>

}