﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Referral.ReferralAssignToViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="referral-assign-to-form">
    <!-- ko stopBinding: true -->
    <div id="referral-assign-to" style="width: 100%; float: left;">
        <table width="100%">
            <tr>
                <td>
                    <div class="k-edit-label">
                        <label for="List">List</label>
                    </div>
                    <div class="k-edit-field" data-container-for="List">
                        @if (Model.IsSelectAll)
                        {
                            <span class="k-checkbox">All referral</span>
                        }
                        else
                        {
                            if (Model.ListReferralIdSelected.Count > 0)
                            {
                            <span class="k-checkbox">
                                <ul>
                                    @foreach (var idReferral in Model.ListReferralIdSelected)
                                    {
                                        <li>
                                            Referral ID: @idReferral
                                        </li>
                                    }
                                </ul>
                            </span>
                            }

                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.AssignToLookup("AssignTo", "Assign To", new { data_bind = "value: AssignToId" }, "", 0, null, true,100)
                </td>
            </tr>
        </table>
    </div>
    <!-- /ko -->
</form>
@section FooterActions
{
    @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}
@section scripts
{
    <script>
        $(window).load(function () {
            $(".wrapper .title").hide();
            $(".wrapper .content").css({ height: parseInt($(".wrapper .content").css("height").replace("px", "")) + 31, "padding-top": "10px" });
        });

        function ReferralAssignToViewModel() {
            var self = this;
            self.AssignToId = ko.observable();
            self.IsSelectAll = ko.observable(@Model.IsSelectAll.ToString().ToLower());
            self.ListReferralIdSelectedString = ko.observable(@Html.Raw(Json.Encode(@Model.ListReferralIdSelectedString)));
            self.TypeWithUser = ko.observable(@Html.Raw(Json.Encode(@Model.TypeWithUser)));
            self.ModelState = ko.observable();
            self.ModelState.subscribe(function (newValue) {
                Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
            });
            Postbox.messages.subscribe(function () {
                var saveData =
                {
                    ReferralAssignTo: ko.toJSON(self)
                };
                var request = $.ajax({ cache: false, async: false, url: "/Referral/UpdateReferralAssignTo", type: "POST", data: saveData, dataType: "json" });
                request.done(function (result) {
                    if (result.Error === undefined || result.Error === '') {
                        // close popup
                        ClosePopupKendo(false);
                    } else {
                        self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                    }
                });
            }, self, Postbox.FOOTER_ACTION_SAVE);

            Postbox.messages.subscribe(function () {
                ClosePopupKendo(false);
            }, self, Postbox.FOOTER_ACTION_CLOSE);
        }

        var objAssignToViewModel = new ReferralAssignToViewModel();
        ko.applyBindings(objAssignToViewModel, $("#referral-assign-to")[0]);
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;

    </script>
}
