﻿@using WorkComp.Models.Referral
@model DashboardReferralDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="referral-form">
    <div id="referral-update" style="width: 100%; float: left;">
        <input type="hidden" id="isUpdatedCancelReferral"/>
        @Html.Partial("~/Views/Referral/_Shared.cshtml", Model.SharedViewModel)
    </div>
</form>

@section FooterActions
{
    @Model.AddFooterAction("Update", "k-update", "Postbox.FOOTER_ACTION_SAVE")
    @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function ReferralViewModel() {
        var self = this;

        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function(val) {
            if (val == '1') {
                save();
            }
        }, self, Postbox.SAVE_DIARY_WHEN_UPDATE_STATUS_CANCEL);
        self.ObjSave = null;
        var referralInfo = null;
        Postbox.messages.subscribe(function () {
            self.ObjSave =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel()),
                     ClaimInfoParams: ko.toJSON(GetClaimInfoViewModel()),
                     ReasonReferralParams: getSelectedItemForDualSelectTreeView(),
                     ReferralInfoParams: ko.toJSON(GetReferralInfoViewModel()),
                     IcdInfoParams: GetAllIcd(),
                     TestingInfoParams: ko.toJSON(GetTestingInfoViewModel()),
                     MedicationHistoryInfoParams: ko.toJSON(GetMedicationHistoryInfoViewModel()),
                     AttachmentInfoParams: GetUnsaveFileAttachments()
                 };
            referralInfo = GetReferralInfoViewModel();
            var oldStatusId=@Model.OldStatusId;
            var isUpdatedCancelReferral = $('#isUpdatedCancelReferral').val();
            if (referralInfo.StatusId == 2 && oldStatusId != 2 && isUpdatedCancelReferral != "1") {
                var title = "Cancel referral id: " + @Model.Id;
                //ShowPopupKendo(600, 160, title, '/referral/showpopupcancel');
                ShowPopupKendoNoIframe(title, 600, 160, true, ['Close'], false, '/referral/showpopupcancel');
            } else {
                save();

            }
        }, self, Postbox.FOOTER_ACTION_SAVE);

        function save() {
            
            $('form').Save("/Referral/Update", self.ObjSave,
                function (result) {
                    self.ModelState(new FeedbackViewModel('Success', '@Model.UpdateSuccessText', "", []));
                },
            function (result) {
                self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
            }, false, 'Referral', '@Model.SharedViewModel.ShowPopupType');
        }

            Postbox.messages.subscribe(function () {
                $('form').Close(1);
            }, self, Postbox.FOOTER_ACTION_CLOSE);
    }

    ko.applyBindings(new ReferralViewModel(), $("#referral-update")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

</script>
