﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Icd.DashboardIcdShareViewModel
 <!-- ko stopBinding: true -->
<div id="icd-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompDropdownList("IcdTypeId", "Type","IcdType", "/Icd/GetListIcdTypes", new { data_bind = "value: IcdTypeId" },@Model.IcdTypeId)
            </td>
            <td>
                @Html.WorkcompTextBox("Code", "Code", "Code", true, 50)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.WorkcompTextArea("Description", "Description", "Description",true)
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function IcdShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.Code = ko.observable(@Html.Raw(Json.Encode(@Model.Code)));
        self.Description = ko.observable(@Html.Raw(Json.Encode(@Model.Description)));
        self.IcdTypeId = ko.observable(@Model.IcdTypeId);
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new IcdShareViewModel();
    ko.applyBindings(sharedViewModel, $("#icd-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }

    window.returnValue = "a";
</script>
