﻿@using WorkComp.Models
@using WorkComp.Models.Icd
@model DashboardIcdDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="icd-form">
    <div id="icd-create" style="width:100%;float: left;">
        @Html.Partial("~/Views/Icd/_Shared.cshtml", Model.SharedViewModel)        
    </div>
</form>

@section FooterActions
{
   @if (Model.SharedViewModel.ShowPopupType == ShowPopupType.ComboBox)
   {
        @Model.AddFooterAction("Create", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
   }
   else
   {
        @Model.AddFooterAction("Create&New", "k-update", "Postbox.FOOTER_ACTION_SAVE_AND_NEW")
        @Model.AddFooterAction("Create", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
   }

    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function IcdViewModel() {
        var self = this;
     
        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel())
                 };

            $('form').Save("/Icd/Create", saveData,
                function (keyID) {
                    $('form').Close(0);
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true, 'Icd', '@Model.SharedViewModel.ShowPopupType');
        }, self, Postbox.FOOTER_ACTION_SAVE);
        
        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel())
                 };

            $('form').Save("/Icd/Create", saveData,
                function (keyID) {

                    window.returnValue = keyID;
                    alert("@Model.CreateSuccessText");
                    window.location.href = "/Icd/Create";
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true);
        }, self, Postbox.FOOTER_ACTION_SAVE_AND_NEW);

        Postbox.messages.subscribe(function () {
            $('form').Close(0);
        }, self, Postbox.FOOTER_ACTION_CLOSE);
    }
  
    ko.applyBindings(new IcdViewModel(), $("#icd-create")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
   
</script>
