﻿@using WorkComp.HtmlHelpers
@model WorkComp.Models.Branch.DashboardBranchShareViewModel
 <!-- ko stopBinding: true -->
<div id="branch-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                 @Html.PayerLookup("Payer", "Payer", new { data_bind = "value: PayerId" },false,"", "",  0, @Model.PayerDataSource,true)
            </td>
            <td>
                @Html.WorkcompTextBox("Name", "Name", "Name", true, 50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("ManagerName", "Manager", "ManagerName", false, 50)
            </td>
            <td>
                 @Html.InputMasked("Phone","Phone","Phone","(999) 000-0000", true)
            </td>
        </tr>
        <tr>
           
            <td>
                @Html.InputMasked("Fax","Fax","Fax","(999) 000-0000")
            </td>
             <td>
                @Html.WorkcompTextBox("Address1", "Address 1", "Address1", true,100)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Address2", "Address 2", "Address2",false,100)
            </td>
            <td>
                @Html.StateLookup("State", "State", new { data_bind = "value: StateId" },true,"AddrGroup","",0, @Model.StateDataSource, true)
            </td>
        </tr>
        <tr>
            <td>
                @Html.CityLookup("City", "City", new { data_bind = "value: CityId" },true,"AddrGroup","",0, @Model.CityDataSource, true)
            </td>
            <td>
                @Html.ZipLookup("Zip", "Zip", new { data_bind = "value: ZipId" },false,"AddrGroup","",0, @Model.ZipDataSource, true)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompCheckBox("IsUserUpdate","Do not update from vendor file", "IsUserUpdate")
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>

    function BranchShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.Name = ko.observable(@Html.Raw(Json.Encode(@Model.Name)));
        self.PayerId = ko.observable(@Model.PayerId);
        self.ManagerName = ko.observable(@Html.Raw(Json.Encode(@Model.ManagerName)));
        self.Phone = ko.observable(@Html.Raw(Json.Encode(@Model.Phone)));
        self.Fax = ko.observable(@Html.Raw(Json.Encode(@Model.Fax)));
        self.Address1 = ko.observable(@Html.Raw(Json.Encode(@Model.Address1)));
        self.Address2 = ko.observable(@Html.Raw(Json.Encode(@Model.Address2)));
        self.StateId = ko.observable(@Model.StateId);
        self.CityId = ko.observable(@Model.CityId);
        self.ZipId = ko.observable(@Model.ZipId);
        self.IsUserUpdate = ko.observable(@Html.Raw(Json.Encode(@Model.IsUserUpdate)));
        // ComboBoxDisplayName use to show display name in combobox when user modify data from combobox
        self.ComboBoxDisplayName = ko.computed(function () {
            return this.Name();
        }, self);
    }
    
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new BranchShareViewModel();
    ko.applyBindings(sharedViewModel, $("#branch-edit-share")[0]);
    function GetSharedViewModel() {
        return sharedViewModel;
    }
    
    Postbox.messages.subscribe(function (value) {
        var isCreated=@Model.CreateMode.ToString().ToLower();
        var showPopupForComboBox = '@Model.ShowPopupType';
        if (isCreated&&showPopupForComboBox=='ComboBox') {
            // Check if user send data from client
            var opts = window.dialogArguments;
            if (opts != null&&opts!=''&&opts.length>0) {
                var payerObj = _.findWhere(opts, { name: "PayerId" });
                if (payerObj != null) {
                    var returnValue = { KeyId: payerObj.value, DisplayName: payerObj.text };
                    Postbox.messages.notifySubscribers(returnValue, "Payer_" + Postbox.CHANGE_DATASOURCE_FOR_COMBOBOX);
                }
            }
        }
    }, null, "Payer_" + Postbox.CHANGE_DATASOURCE_FOR_COMBOBOX+"_Parent");
</script>
