﻿@using Common
@using WorkComp.HtmlHelpers
@model WorkComp.Models.User.DashboardUserShareViewModel
 <!-- ko stopBinding: true -->
<div id="user-edit-share">
    <table width="99%" cellpadding="0" borderspacing="0">
        <tr>
            <td colspan="2">
                <div class="title-line"><span class="header-text">Information</span></div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("UserName", "User name", "UserName", true, 100)
            </td>
            <td>
                @Html.WorkcompTextBox("FirstName", "First name", "FirstName", true, 50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("LastName", "Last name", "LastName", true, 50)
            </td>
            <td>
               @Html.WorkcompTextBox("MiddleName", "Middle name", "MiddleName", false, 50)
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompDropdownList("UserRoleId", "Role","UserRole", "/UserRole/GetLookup", new { data_bind = "value: UserRoleId" },@Model.UserRoleId)
            </td>
            <td>
                @Html.WorkcompUploadFile("Avatar","Avatar","Avatar")
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <img class="img-avatar-old" src="@Url.Content(UserUploadPathFile.UserAvatar+Model.Avatar)" width="50" alt="@Model.UserName"/>
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Email", "Email", "Email", true, 100)
            </td>
            <td>
                @Html.InputMasked("Phone","Phone","Phone","(999) 000-0000")
            </td>
        </tr>
        <tr>
            <td>
                @Html.WorkcompTextBox("Address", "Address", "Address", true, 1000)
            </td>
            <td>
                @Html.StateLookup("State", "State",new { data_bind = "value: StateId" },true,"AddrGroup","",0,@Model.StateDataSource,true)
            </td>
        </tr>
        <tr>
            <td>
                @Html.CityLookup("City", "City",new { data_bind = "value: CityId" },true,"AddrGroup","",0,@Model.CityDataSource,true)
            </td>
            <td>
                @Html.ZipLookup("Zip", "Zip",new { data_bind = "value: ZipId" },false,"AddrGroup","",0,@Model.ZipDataSource,true)
            </td>
        </tr>
    </table>
</div>
<!-- /ko -->
<script>
    $(document).ready(function() {
        $('#Avatar').attr('accept', "image/*");
    });
    function UserShareViewModel() {
        var self = this;
        self.Id = ko.observable(@Model.Id);
        self.FirstName = ko.observable(@Html.Raw(Json.Encode(@Model.FirstName)));
        self.LastName = ko.observable(@Html.Raw(Json.Encode(@Model.LastName)));
        self.MiddleName = ko.observable(@Html.Raw(Json.Encode(@Model.MiddleName)));
        self.UserName = ko.observable(@Html.Raw(Json.Encode(@Model.UserName)));
        self.Email = ko.observable(@Html.Raw(Json.Encode(@Model.Email)));
        self.Phone = ko.observable(@Html.Raw(Json.Encode(@Model.Phone)));
        self.Address = ko.observable(@Html.Raw(Json.Encode(@Model.Address)));
        self.UserRoleId = ko.observable(@Model.UserRoleId);
        self.StateId = ko.observable(@Model.StateId);
        self.CityId = ko.observable(@Model.CityId);
        self.ZipId = ko.observable(@Model.ZipId);
        self.Avatar = ko.observable(@Html.Raw(Json.Encode(@Model.Avatar)));
        // ComboBoxDisplayName use to show display name in combobox when user modify data from combobox
        self.ComboBoxDisplayName = ko.computed(function () {
            return this.FirstName() + " " + this.MiddleName() + " " + this.LastName();
        }, self);
    }

    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;

    var sharedViewModel = new UserShareViewModel();
    ko.applyBindings(sharedViewModel, $("#user-edit-share")[0]);

    function GetSharedViewModel() {
        return sharedViewModel;
    }

</script>
