﻿@model WorkComp.Models.Report.DashboardReferralReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="grid-container-@Model.GridViewModel.GridId" style="width:100%">
    <div class="title">
        <div class="my-title">
            <div class="icon admin"></div>
            <div class="name">@Model.PageTitle.ToUpper()</div>
        </div>
        <!-- ko stopBinding: true -->
        <style type="text/css">
            #poup-export-excel {
                position: absolute;
                width: 230px;
                height: 160px;
                background-color: #ffffff;
                border: 1px solid #dadada;
                border-top: 2px solid #8ebc00;
                z-index: 2;
                text-align: match-parent;
                margin-top: 5px;
                margin-left: -60px;
            }

                #poup-export-excel span.title {
                    border-bottom: 1px solid #cecece;
                    height: 25px;
                    line-height: 25px;
                    background-color: #fff;
                }

                #poup-export-excel .content-export-excel {
                    text-align: left;
                    padding-left: 5px;
                }

                    #poup-export-excel .content-export-excel .custom-input {
                        width: 85px;
                    }

                        #poup-export-excel .content-export-excel .custom-input .k-select {
                            margin-right: -2px;
                        }

                        #poup-export-excel .content-export-excel .custom-input .k-link {
                            background-color: #eeeeee;
                        }

                    #poup-export-excel .content-export-excel .k-button {
                        margin-top: 5px;
                        float: right;
                        margin-right: 5px;
                    }

            #export-panel-content.ul-btn-tool ul li {
                border-radius: 3px;
            }

            #export-panel-content.ul-btn-tool span#model-down-input {
                position: absolute;
                width: 85px;
                background-color: transparent;
                left: 81px;
                height: 26px;
            }
        </style>
        <div id="export-panel-content" class="ul-btn-tool">
            <ul>
                <li>
                    <button id="btn-export-excel" class="k-button" data-bind="click:ShowExportOption">Export excel</button>

                    <div id="poup-export-excel" data-bind="visible: ShowContent" class="k-block" style="display: block">
                        <span class="title">Export Option</span>
                        <div class="content-export-excel">
                            <input type="radio" name="optionexport" value="r1000" data-bind="checked: Type" />
                            1000 rows
                            <br />
                            <input type="radio" name="optionexport" value="r2000" data-bind="checked: Type" />
                            2000 rows<br />
                            <input type="radio" name="optionexport" value="all" data-bind="checked: Type" />
                            All
                            <br />
                            <input type="radio" name="optionexport" value="custom" data-bind="checked: Type" />
                            Custom
                            <span>
                                <input type="text" data-bind="value: NumberRow" class="custom-input" id="customExportRows" value="1" min="1" maxlength="6" step="1" max="999999" />
                                <span id="model-down-input" class="custom-input" style="z-index: 4;"></span>
                            </span>
                            row(s)<br />
                            <a class="k-button k-button-icontext" data-bind="click: Export" href="#">Export</a>

                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            
                            //$($('#customExportRows').parent().children('input')[0]).attr('data-bind', 'click: FocusNumberRow');
                            
                        });
                       
                        var exporViewModel = new ExportOptionViewModel("r1000", "1", false, '#btn-export-excel, #poup-export-excel', '#customExportRows', '#model-down-input');
                        
                        // This allows us to have nested bindings.
                        ko.bindingHandlers.stopBinding = {
                            init: function () {
                                return { controlsDescendantBindings: true };
                            }
                        };
                        ko.virtualElements.allowedBindings.stopBinding = true;
                        ko.applyBindings(exporViewModel, $("#export-panel-content")[0]);

                    </script>


                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
    <div class="content">
        <div id="@Model.GridViewModel.GridId" style="width:100%"></div>
    </div>
</div>
<script id="referralTemplate" type="text/x-kendo-template">    
            # 
                var displayName;
                if(ReferralId!=null&&ReferralId!=0)
                {
                    displayName= "<a href='javascript:void(0);' class='k-button k-button-icontext' onclick='AddNewReferral("+ReferralId+");'>New Referral</a>" + " " +
                                    "<a href='javascript:void(0);' class='k-button k-button-icontext' onClick='ReferralDetail("+ReferralId+");'>Referral Detail</a>";
                }
            #
            #= displayName #
</script>
<script id="claimTemplate" type="text/x-kendo-template">    
            # 
                var displayName;
                if(ClaimNumberId!=null&&ClaimNumberId!=0)
                {
                    displayName="<a href='javascript:void(0);' class='k-button k-button-icontext' onClick='AddNewClaimNumber("+ClaimNumberId+");'>New Claim\\#</a>"
                                 +" "   
                                +"<a href='javascript:void(0);' class='k-button k-button-icontext' onClick='ClaimNumberDetail("+ClaimNumberId+");'>Update Claim\\#</a>";
                }
            #
            #= displayName #
</script>
<script type="text/javascript">
    var kendoCultureFormat = kendo.culture().calendar.patterns.d;
    var schemaFields;
    var columns = [];
    var searchType = '@Model.ReferralSearchType';
    var gridInternalName = "";
    if (searchType == "ClaimSearch") {
        gridInternalName = "ReferralReportForClaim";
        columns = [
            { field: "PatientName", title: "Patient Name", width: 200, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Jurisdiction", title: "Jurisdiction", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ClaimNumber", title: "Claim#", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "PayerName", title: "Payer", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "AdjusterName", title: "Adjuster", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Doi", title: "Date of Injury", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Status", title: "Status", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { title: "", width: 200, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false, template: kendo.template($("#claimTemplate").html()) }
        ];

        schemaFields = {
            Id: { editable: false },
            PatientName: { editable: false },
            Jurisdiction: { editable: false },
            ClaimNumber: { editable: false },
            PayerName: { editable: false },
            AdjusterName: { editable: false },
            Doi: { editable: false },
            Status: { editable: false },
            ClaimNumberId: { editable: false, type: "number" },
            ReferralId: { editable: false, type: "number" }
        };
    }
    else if (searchType == "ReferralClaimSearch") {
        gridInternalName = "ReferralReportForReferralClaimSearch";
        columns = [
            { field: "ReferralId", title: "Referral Id", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "PatientName", title: "Patient Name", width: 170, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Jurisdiction", title: "Jurisdiction", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ClaimNumber", title: "Claim#", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "PayerName", title: "Payer", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "AdjusterName", title: "Adjuster", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Doi", title: "Date of Injury", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Status", title: "Status", width: 90, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { title: "", width: 200, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false, template: kendo.template($("#referralTemplate").html()) }
        ];

        schemaFields = {
            Id: { editable: false },
            PatientName: { editable: false },
            Jurisdiction: { editable: false },
            ClaimNumber: { editable: false },
            PayerName: { editable: false },
            AdjusterName: { editable: false },
            Doi: { editable: false },
            Status: { editable: false },
            ClaimNumberId: { editable: false, type: "number" },
            ReferralId: { editable: false, type: "number" }
        };
    }
    else if (searchType == "PhysicianReferralSearch"){
        gridInternalName = "PhysicianReferralReportForBusiness";
        columns = [
            { field: "ReferralId", title: "Referral Id", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "CreatedDate", title: "Created Date", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "FirstName", title: "First Name", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "MiddleName", title: "Middle Name", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "LastName", title: "Last Name", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Address", title: "Address", width: 200, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "State", title: "State", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "City", title: "City", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "PostalCode", title: "PostalCode", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Phone", title: "Phone", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Fax", title: "Fax", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Email", title: "Email", width: 200, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "NpiNumber", title: "NpiNumber", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { title: "", width: 120, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false, template: kendo.template($("#referralTemplate").html()) }
        ];

        schemaFields = {
            Id: { editable: false },
            ReferralId: { editable: false },
            CreatedDate: { editable: false },
            FirstName: { editable: false },
            MiddleName: { editable: false },
            LastName: { editable: false },
            Address: { editable: false },
            City: { editable: false },
            State: { editable: false },
            PostalCode: { editable: false },
            Phone: { editable: false },
            Fax: { editable: false },
            Email: { editable: false },
            NpiNumber: { editable: false }
        };
    }
    else if(searchType == "SearchTestResult"){
        gridInternalName = "ReferralReportForSearchTestResult";
        columns = [
            { field: "ReferralId", title: "Referral Id", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ProductType", title: "Product Type", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Status", title: "Status", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "PayerName", title: "Payer", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "DueDate", title: "Follow Up Date", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Completed", title: "Completed", width: 110, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ClaimantName", title: "Claimant", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ClaimNumber", title: "Claim Number", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Doi", title: "Doi", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Nov", title: "Nov", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ConsistencyCmt", title: "ConsistencyCmt", width: 400, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ResultStatus", title: "Result", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "CreatedDate", title: "Created Date", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { title: "", width: 120, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false, template: kendo.template($("#referralTemplate").html()) }
        ];

        schemaFields = {
            Id: { editable: false },
            ProductType: { editable: false },
            Status: { editable: false },
            PayerName: { editable: false },
            DueDate: { editable: false },
            Completed: { editable: false },
            ClaimantName: { editable: false },
            ClaimNumber: { editable: false },
            Doi: { editable: false },
            Nov: { editable: false },
            CreatedDate: { editable: false },
            ReferralId: { editable: false, type: "number" }
        };
    }
    else {
        gridInternalName = "ReferralReportForBusiness";
        columns = [
            { field: "ReferralId", title: "Referral Id", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ProductType", title: "Product Type", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Status", title: "Status", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "PayerName", title: "Payer", width: 80, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "DueDate", title: "Follow Up Date", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Completed", title: "Completed", width: 110, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ClaimantName", title: "Claimant", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "ClaimNumber", title: "Claim Number", width: 150, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Doi", title: "Doi", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "Nov", title: "Nov", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { field: "CreatedDate", title: "Created Date", width: 100, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false },
            { title: "", width: 120, attributes: { style: 'text-align:Left;' }, sortable: false, hidden: false, template: kendo.template($("#referralTemplate").html()) }
        ];

        schemaFields = {
            Id: { editable: false },
            ProductType: { editable: false },
            Status: { editable: false },
            PayerName: { editable: false },
            DueDate: { editable: false },
            Completed: { editable: false },
            ClaimantName: { editable: false },
            ClaimNumber: { editable: false },
            Doi: { editable: false },
            Nov: { editable: false },
            CreatedDate: { editable: false },
            ReferralId: { editable: false, type: "number" }
        };
    }
    var gridViewModel = new GridViewModel("@Model.GridViewModel.GridId",
        "@Model.GridViewModel.ModelName",
        schemaFields,
        columns,
        "",
        false,
        "@Model.GridViewModel.NoRecord",
        @Model.GridViewModel.CurrentUser.User.Id,
        @Model.GridViewModel.DocumentTypeId,
        gridInternalName,
        true,
        @Model.GridViewModel.WidthPopup,
        @Model.GridViewModel.HeightPopup,
        '@Model.GridViewModel.CannotCopyText',
        '@Model.GridViewModel.ConfirmDeleteText',
       false,
        exporViewModel, @Model.GridViewModel.CanDeleteMulti.ToString().ToLower(), @Model.GridViewModel.CanCreateItem.ToString().ToLower(), @Model.GridViewModel.CanCopyItem.ToString().ToLower());
    
       ko.applyBindings(gridViewModel, $("#grid-container-@Model.GridViewModel.GridId")[0]);
    // This allows us to have nested bindings.
    ko.bindingHandlers.stopBinding = {
        init: function () {
            return { controlsDescendantBindings: true };
        }
    };
    ko.virtualElements.allowedBindings.stopBinding = true;
    $(document).ready(function () {
        ResizeGrid();
    });
</script>
<script id="readOnlyGridResizeScript">

    $(window).resize(function () {
        ResizeGrid();
    });



    function ResizeGrid() {
        var windowHeight = $(window).outerHeight(true);
        var headerHeight = 50; // Top padding of body
        var footerHeight = 30; // Bottom padding of body
        var gridBorderNotEditable = 2; // 2 pixels around the grid that cant be removed.

        //var gridSiblingsHeight = headerHeight + footerHeight + gridHeaderHeight + gridAdvancedHeaderHeight + gridBorderNotEditable;
        var gridSiblingsHeight = headerHeight + footerHeight + gridBorderNotEditable;
        var gridMaximumHeight = windowHeight - gridSiblingsHeight;
        SetHeight(gridMaximumHeight);
    }

    function GetHeight() {
        var gridElement = $('#@Model.GridViewModel.GridId');
        return gridElement.height();
    }

    function SetHeight(newHeight) {
        var gridElement = $('#@Model.GridViewModel.GridId');
        var contentElement = gridElement.find(".k-grid-content");
        var gridContentHeightDifference = gridElement.innerHeight() - contentElement.innerHeight();

        gridElement.height(newHeight);
        contentElement.height(newHeight - gridContentHeightDifference);
    }

    function AddNewReferral(id) {
        
        var widthPopup = $(window).width();
        var heightPopup = $(window).height();
        var createUrl = "/Referral/Copy/" +id;
        ShowPopup(widthPopup, heightPopup, "Create Referral", createUrl,null);
    }
    function ReferralDetail(idReferral) {
        var url = "/Referral/Detail/" + idReferral;
        location.href = url;
    }
    function AddNewClaimNumber(id) {
        var widthPopup = $(window).width();
        var heightPopup = $(window).height();
        var createUrl = "/ClaimNumber/Copy/" + id;
        ShowPopup(widthPopup, heightPopup, "Create ClaimNumber", createUrl,null);
    }
    function ClaimNumberDetail(idClaimNumber) {
        var widthPopup = $(window).width();
        var heightPopup = $(window).height();
        var createUrl = "/ClaimNumber/Update/"+idClaimNumber;
        ShowPopup(widthPopup, heightPopup, "Update Claim Number", createUrl,null);
    }
</script>
