﻿<div style="background: #f2f2f2; padding: 100px;">
    <div style="float: left; position: absolute; overflow: hidden; width: 648px; padding: 50px; border-radius: 50px 0 0 0; background: #fff; -moz-box-shadow: inset 0 0 10px #aaaaaa; -webkit-box-shadow: inset 0 0 10px #aaaaaa; box-shadow: inset 0 0 10px #aaaaaa; font-family: 'Lucida Sans Unicode',Arial,serif; font-size: 12px; line-height: 1.34em;">
        <img src='{{img_src}}' alt='SysRx' title='SysRx' />
        <h2>Dear {{full_name}},</h2>
        <p>We successfully restore Workcomp account.</p>
        <p>Simply click the link below and sign in using your username and password:<a style='color: #ff0000;' href='{{web_link}}' target='_blank' rel='nofollow'> Login &gt;</a></p>
        <p>Username: <b>{{user_name}}</b><br />
            Password: <b>{{password}}</b></p>
        <p>You can change your password follow the link:<a style='color: #ff0000;' href='{{url_change_pass}}' target='_blank' rel='nofollow'> Change password &gt;</a><br>
            <br>
        </p>
    </div>
    <div style="font-family: 'Lucida Sans Unicode',Arial,serif; font-size: 12px; float: left; margin-top: 30px; float: right;">TM and copyright &copy; 2013 <a href='{{web_link}}' target='_blank' style='color: #999999; text-decoration: none;' rel='nofollow'>SysRx</a> Inc. </div>
</div>
