﻿@using WorkComp.Models
@using WorkComp.Models.State
@model DashboardStateDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form id="state-form">
    <div id="state-create" style="width: 100%; float: left;">
        @Html.Partial("~/Views/State/_Shared.cshtml", Model.SharedViewModel)
    </div>
</form>

@section FooterActions
{
    @if (Model.SharedViewModel.ShowPopupType == ShowPopupType.ComboBox)
    {
        @Model.AddFooterAction("Create", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    }
    else
    {
        @Model.AddFooterAction("Create&New", "k-update", "Postbox.FOOTER_ACTION_SAVE_AND_NEW")
        @Model.AddFooterAction("Create", "k-update", "Postbox.FOOTER_ACTION_SAVE")
        @Model.AddFooterAction("Cancel", "k-cancel", "Postbox.FOOTER_ACTION_CLOSE", false)
    }


    @Html.Partial("~/Views/Shared/_FooterActions.cshtml", Model.FooterActions)
}

<script type="text/javascript">

    function StateViewModel() {
        var self = this;

        // All validation messages to the postbox for the _ValidationSummary to display.
        self.ModelState = ko.observable();
        self.ModelState.subscribe(function (newValue) {
            Postbox.messages.notifySubscribers(newValue, Postbox.VALIDATION_MODEL_STATE);
        });

        Postbox.messages.subscribe(function () {
            var saveData =
            {
                SharedParameter: ko.toJSON(GetSharedViewModel())
            };

            $('form').Save("/State/Create", saveData,
                function (keyID) {
                    //window.location.href = "/State/Update/" + keyID;
                    $('form').Close(0);
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true, 'State', '@Model.SharedViewModel.ShowPopupType');
        }, self, Postbox.FOOTER_ACTION_SAVE);

        Postbox.messages.subscribe(function () {
            var saveData =
                 {
                     SharedParameter: ko.toJSON(GetSharedViewModel())
                 };

            $('form').Save("/State/Create", saveData,
                function (keyID) {
                    alert("@Model.CreateSuccessText");
                    window.location.href = "/State/Create";
                },
                function (result) {
                    self.ModelState(new FeedbackViewModel(result.Status, result.Error, result.StackTrace, result.ModelStateErrors));
                }, true);
        }, self, Postbox.FOOTER_ACTION_SAVE_AND_NEW);

            Postbox.messages.subscribe(function () {
                $('form').Close(0);
            }, self, Postbox.FOOTER_ACTION_CLOSE);
        }

        ko.applyBindings(new StateViewModel(), $("#state-create")[0]);
        // This allows us to have nested bindings.
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };
        ko.virtualElements.allowedBindings.stopBinding = true;

</script>
